<div class="form-detail" [ngClass]="{ disabled : disabled }">
  <div class="form-detail__group">

    <span class="form-detail__subtitle">
      <ng-content></ng-content>
    </span>

    {{ disabled }}

    <input type="text"
           #input
           [formControl]="privateFormControl"
           [value]="value"
           class="form-detail__control {{ placeholderType }} {{ customClass }}"
           [ngClass]="{ focus : value }"
           [placeholder]="isStaticType ? placeholder : ''"
           [attr.disabled]="disabled ? true : null"
           [owlDateTimeTrigger]="picker"
           [owlDateTime]="picker"
           (focus)="markAsTouched()"
           (input)="propagateChange($event.target.value)">

    <span class="form-detail__placeholder" *ngIf="isMovedType">{{ placeholder }}</span>

    <button type="button" class="form-detail__clear" *ngIf="!disabled" (click)="clearValue()">
      <i class="icon icon-close"></i>
    </button>

    <owl-date-time [disabled]="disabled" #picker [pickerType]="'calendar'"></owl-date-time>
  </div>

  <validation-message [control]="control"></validation-message>

</div>
