<div *ngIf="user$ | async as user">

  <div class="database" *ngIf="user.level.isTermsAccepted">
    <div class="container">

      <div>
        <ul class="nav-menu nav-menu--flex">
          <li class="nav-menu__item">
            <a class="nav-menu__link" routerLinkActive="active" routerLink="/tenant/home">
              <i class="icon icon-home"></i>
            </a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link" routerLinkActive="active" routerLink="/tenant/projects">
              {{ "tenant.nav.projects" | translate }}
            </a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link" routerLinkActive="active" routerLink="/tenant/invoice">
              {{ "tenant.nav.billing" | translate }}
            </a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link" routerLinkActive="active" routerLink="/tenant/mailbox">
              {{ "tenant.nav.mail" | translate }}
              <span class="counter" *ngIf="mailboxCount$ | async as count">{{ count }}</span>
            </a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link" routerLinkActive="active" routerLink="/tenant/store">
              {{ "tenant.nav.store" | translate }}
            </a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link" routerLinkActive="active" routerLink="/tenant/settings">
              <i class="icon icon-setting"></i>
            </a>
          </li>
        </ul>
        <!-- /.nav-menu -->

        <router-outlet></router-outlet>
      </div>

    </div>
    <!--/.container -->
  </div>
  <app-user-level *ngIf="showUserLevel(user)">

  </app-user-level>

</div>
