<app-modal #filterModal size="md">
  <div header>
    <i class="icon icon-filter"></i>
    <span>{{ "invoice.filters.title" | translate }}</span>
  </div>

  <div class="modal__body">
    <div class="modal__form">
      <div class="modal__form-column">
        <div class="form-detail">
          <app-input-text
            [(ngModel)]="_filter.payer"
            [placeholder]="'invoice.filters.payer' | translate"
            [placeholderType]="PLACEHOLDER_TYPE.MOVE">
          </app-input-text>
        </div>

        <div class="form-detail">
          <app-tenant-select
            [(ngModel)]="_filter.tenantId"
            [placeholder]="'invoice.filters.tenant' | translate">
          </app-tenant-select>
        </div>
        <!-- /.form-detail -->

        <div class="form-detail">
          <app-project-select
            [(ngModel)]="_filter.projectId"
            [placeholder]="'invoice.filters.project' | translate">
          </app-project-select>
        </div>
        <!-- /.form-detail -->

        <div class="form-detail">
          <div class="form-detail__group">
            <label class="range range--flex">
              <span class="range__label">{{ "invoice.filters.amount" | translate }}</span>
              <span class="range__input">
              <app-noui-slider
                (onChange)="onChangeAmount($event)"
                [start]="sliderOptions.amountFrom"
                [end]="sliderOptions.amountTo"
                [min]="sliderOptions.min"
                [max]="sliderOptions.max">
              </app-noui-slider>
            </span>
            </label>
            <div class="range-output">
            <span class="start">
              <input type="number"
                     [(ngModel)]="_filter.amountFrom"
                     (change)="amountStartChange($event.target.value)"
                     placeholder="0.00"
                     class="range__control">
            </span>
              -
              <span class="end">
              <input type="number"
                     [(ngModel)]="_filter.amountTo"
                     (change)="amountEndChange($event.target.value)"
                     placeholder="99999,99"
                     class="range__control">
            </span>
            </div>
          </div>
        </div>
        <!-- /.form-detail -->
      </div>
      <!-- /.form-detail__column -->
      <div class="modal__form-column">
        <div class="form-detail">
          <app-manager-select
            [(ngModel)]="_filter.managerId"
            [placeholder]="'invoice.filters.author' | translate">
          </app-manager-select>
        </div>
        <!-- /.form-detail -->

        <div class="form-detail">
          <app-input-text
            [(ngModel)]="_filter.invoiceId"
            placeholder="ID"
            [placeholderType]="PLACEHOLDER_TYPE.MOVE">
          </app-input-text>
        </div>
        <!-- /.form-detail -->

        <div class="form-detail">
          <ng-select
            [clearable]="false"
            [multiple]="true"
            [(ngModel)]="_filter.statuses"
            [placeholder]="'invoice.filters.status' | translate">
            <ng-option [value]="INVOICE_STATUS.NEW">{{ "invoice.status.new" | translate }}</ng-option>
            <ng-option [value]="INVOICE_STATUS.CANCELED">{{ "invoice.status.canceled" | translate }}</ng-option>
            <ng-option [value]="INVOICE_STATUS.PAID">{{ "invoice.status.paid" | translate }}</ng-option>
            <ng-option [value]="INVOICE_STATUS.UNPAID">{{ "invoice.status.unpaid" | translate }}</ng-option>
          </ng-select>
        </div>
        <!-- /.form-detail -->

        <div class="form-detail">
          <app-switcher [label]="'invoice.filters.type' | translate" [(ngModel)]="_filter.type">
            <app-switch-btn name="payer-type" [value]="INVOICE_TYPE.ONE_TIME">
              {{ "invoice.type.one-time" | translate }}
            </app-switch-btn>
            <app-switch-btn name="payer-type" [value]="INVOICE_TYPE.REGULAR">
              {{ "invoice.type.regular" | translate }}
            </app-switch-btn>
          </app-switcher>
        </div>
        <!-- /.form-detail -->
      </div>
      <!-- /.form-detail__column -->
    </div>
  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button type="button" class="btn btn-oval btn-oval_orange" (click)="applyFilter()">
        <span>{{ "invoice.filters.apply" | translate }}</span>
      </button>
    </div>
  </div>
</app-modal>
