<div class="accordion__panel" [ngClass]="{active : active}">

  <div class="accordion__head accordion__head--flex">
    <p>
      <ng-content select="[heading]"></ng-content>
    </p>
    <i class="icon icon-select-drop-arrow"></i>
  </div>

  <div class="accordion__body">
    <ng-content></ng-content>
  </div>

</div>
