.btn-circle {
  padding: 0;
  width: 40px;
  border: 1px solid #DEDEDE;
}

.info-card__description_0 {
  display: flex;
  align-items: flex-end;

  .info-card__description_1 {
    width: 100%;
  }

  .info-card__description_2 {
    padding-left: 10px;
  }
}

.info-card-head {
  padding: 20px;
  margin: -20px -20px 20px;
  background: #FCFCFC;
}

.request-success {
  position: absolute;
  top: -61px;
  left: 0;
  bottom: -61px;
  width: 100%;
  background: #fff;
  padding: 30px;
}

.request-img {
  width: 45px;
  height: 50px;
  margin: 0 auto 30px;
  text-align: center;

  svg {
    width: 45px;
    height: 50px;
  }
}

.request-message {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.constructor__total {
  margin: 30px -20px -35px;
  padding: 20px;
}
