<app-modal #modal size="msm">

  <div header>
    <b>{{ "tenant.store.form.title" | translate }}</b>
  </div>

  <div class="modal__body">

    <form [formGroup]="form" class="modal__form" (submit)="submitForm()" onsubmit="return false" *ngIf="!success">

      <div class="info-card info-card-head">

        <div class="info-card__group">

          <div class="info-card__row info-card__row--flex">

            <div class="info-card__description info-card__description_0">
              <div class="info-card__description_1">
                <app-project-select
                  [placeholder]="'tenant.store.form.project-placeholder' | translate"
                  formControlName="projectId">
                  {{ "tenant.store.form.project" | translate }}
                </app-project-select>
              </div>
              <div class="info-card__description_2">
                <button type="button" class="btn btn-oval btn-circle" (click)="projectModal.open()">
                  <span><i class="icon icon-plus"></i></span>
                </button>
              </div>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">

            <div class="info-card__description">
              <app-input-text
                [placeholder]="'tenant.store.form.payer-placeholder' | translate"
                formControlName="payerName">
              </app-input-text>
            </div>

          </div>

        </div>
      </div>

      <div formGroupName="items">
        <div class="info-card" *ngFor="let item of formItems.controls; let i = index">

          <div class="info-card__group" [formGroupName]="i">

            <div class="info-card__row info-card__row--flex">

              <div class="info-card__description">
                <div class="form-detail">
                  <label class="form-detail__subtitle">
                    {{ "tenant.store.form.plan" | translate }}
                  </label>
                  <ng-select [clearable]="false"
                             [placeholder]="'tenant.store.form.plan-placeholder' | translate"
                             [items]="product?.productPlans"
                             formControlName="productPlan"
                             bindLabel="name">
                  </ng-select>
                  <validation-message [control]="item.get('productPlan')"></validation-message>
                </div>
              </div>

            </div>

            <div class="info-card__row info-card__row--flex" formGroupName="extraLimits" *ngIf="productLimit?.extras?.length">

              <div class="info-card__description" [formArrayName]="0">
                <div class="form-detail">
                  <span class="form-detail__subtitle">{{ "tenant.store.form.extras" | translate }}</span>
                  <ng-select [searchable]="false"
                             [items]="productLimit?.extras"
                             [clearable]="true"
                             (clear)="onClear()"
                             formControlName="value">
                  </ng-select>
                  <validation-message [control]="item.get('extraLimits')?.get([i])?.get('value')"></validation-message>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="constructor__total">
        <div class="columns columns--flex flex-end">
          <div class="price disabled">
            <div class="price__main">
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">
                  {{ "tenant.store.form.total" | translate }}:
                </span>
                <span class="price__number">$ {{ totalPrice.totalAmount.amount || '0.00' }}</span>
              </div>
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">
                  {{ "tenant.store.form.tax" | translate }}:
                </span>
                <span class="price__number">$ {{ totalPrice.tax.amount || '0.00' }}</span>
              </div>
            </div>
            <div class="price__footer">
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">
                  {{ "tenant.store.form.grand-total" | translate }}:
                </span>
                <span class="price__number price__total">$ {{ totalPrice.grandTotalAmount.amount || '0.00' }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- /.columns -->
      </div>
    </form>

    <div class="c-center">
      <validation-message [control]="form"></validation-message>
    </div>

    <div class="request-success" *ngIf="success">
      <div class="request-img">
        <svg width="167" height="135" viewBox="0 0 167 135" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 77.9271L25.2702 52.6828L57.1315 84.5115L141.73 0L167 25.2435L57.1315 135L0 77.9271Z" fill="#0DBC00"/>
        </svg>
      </div>
      <div class="request-message">
        {{ "tenant.store.form.message1" | translate }}<br/>
        {{ "tenant.store.form.message2" | translate }}
      </div>
    </div>

    <loader [loading]="loading"></loader>

  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button (click)="submitForm()"
              [disabled]="loading || form.invalid"
              [ngClass]="{ disabled : loading || form.invalid }"
              class="btn btn-oval btn-oval_orange">
        <span>{{ "tenant.store.form.submit" | translate }}</span>
      </button>
    </div>
  </div>

</app-modal>

<app-project-form #projectModal></app-project-form>
