<div class="database">
  <div class="container">

    <div>

      <ul class="nav-menu">
        <li class="nav-menu__item" *hasPermission="[PERMISSIONS.VIEW_TENANTS]">
          <a class="nav-menu__link" routerLinkActive="active" routerLink="/manager/tenants">
            {{ "manager.nav.tenants" | translate }}
          </a>
        </li>
        <li class="nav-menu__item" *hasPermission="[PERMISSIONS.VIEW_MANAGERS]">
          <a class="nav-menu__link" routerLinkActive="active" routerLink="/manager/managers">
            {{ "manager.nav.managers" | translate }}
          </a>
        </li>
        <li class="nav-menu__item" *hasPermission="[PERMISSIONS.MANAGE_INVOICES]">
          <a class="nav-menu__link" routerLinkActive="active" routerLink="/manager/invoice">
            {{ "manager.nav.billing" | translate }}
          </a>
        </li>
        <li class="nav-menu__item" *hasPermission="[PERMISSIONS.MANAGE_PROJECT_REQUESTS]">
          <a class="nav-menu__link" routerLinkActive="active" routerLink="/manager/requests">
            {{ "manager.nav.requests" | translate }}
            <span class="counter" *ngIf="requestCount$ | async as count">{{ count }}</span>
          </a>
        </li>
        <li class="nav-menu__item" *hasPermission="[PERMISSIONS.MAILBOX]">
          <a class="nav-menu__link" routerLinkActive="active" routerLink="/manager/mailbox">
            {{ "manager.nav.mail" | translate }}
            <span class="counter" *ngIf="mailboxCount$ | async as count">{{ count }}</span>
          </a>
        </li>
        <li class="nav-menu__item" *hasPermission="[PERMISSIONS.MANAGE_PRODUCTS]">
          <a class="nav-menu__link" routerLinkActive="active" routerLink="/manager/products">
            {{ "manager.nav.products" | translate }}
          </a>
        </li>
        <li class="nav-menu__item" *hasPermission="[PERMISSIONS.MANAGE_PROJECTS]">
          <a class="nav-menu__link" routerLinkActive="active" routerLink="/manager/projects">
            {{ "manager.nav.projects" | translate }}
          </a>
        </li>
      </ul>

      <router-outlet></router-outlet>

    </div>

  </div>

</div>
