<div class="form-detail" [ngClass]="{ disabled : disabled }">

  <label class="form-detail__subtitle" *ngIf="label">{{ label }}</label>
  <div class="form-detail__group">
    {{ select.value }}
    <select #select
            [name]="name"
            class="form-detail__control {{ placeholderType }}"
            [ngClass]="{focus : value }"
            [formControl]="control"
            [value]="value"
            [disabled]="disabled ? true : null"
            (click)="markAsTouched()"
            (focus)="markAsTouched()">
      <ng-content></ng-content>
    </select>
    <span class="form-detail__placeholder" *ngIf="placeholder && isMovedType">
      {{ placeholder }} <sup *ngIf="required">*</sup>
    </span>
  </div>

  <validation-message [control]="control"></validation-message>
</div>
