<app-router-modal #modal size="md">

  <div header *ngIf="!manager?.id">
    <b>{{ "popups.manager.title2" | translate }}</b>
  </div>

  <div header *ngIf="manager?.id">
    <b>{{ "popups.manager.title3" | translate }}</b>
    <span>{{ manager.fullName }}</span>
  </div>

  <div class="modal__body">

    <form [formGroup]="form" class="modal__form" (submit)="submitForm()" onsubmit="return false">

      <div class="info-card">

        <div class="info-card__group" *ngIf="manager?.id">
          <div class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">ID</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ manager.id }}</span>
            </div>

          </div>
        </div>

        <div class="info-card__group">

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.status" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <ng-select [clearable]="false" formControlName="status">
                <ng-option [value]="MANAGER_STATUS.ACTIVE">{{ "base.statuses.active" | translate }}</ng-option>
                <ng-option [value]="MANAGER_STATUS.INACTIVE">{{ "base.statuses.inactive" | translate }}</ng-option>
              </ng-select>
              <validation-message [control]="form.controls['status']"></validation-message>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="person">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.first-name" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="firstName"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="person">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.last-name" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="lastName"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.email" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="email" [options]="{alias : 'email'}"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.skype" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="skype"></app-input-text>
            </div>
          </div>

          <div class="info-card__row info-card__row--flex" *hasPermission="[PERMISSIONS.MANAGE_ROLES]">
            <div class="info-card__info align-self-start">
              <label class="info-card__text info-card__text--light-grey">Role<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-role-select formControlName="role"></app-role-select>
            </div>
          </div>

        </div>
      </div>
    </form>

    <div class="c-center">
      <validation-message [control]="form"></validation-message>
    </div>

    <loader [loading]="loading"></loader>

  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button (click)="submitForm()"
              [disabled]="loading"
              [ngClass]="{ disabled : loading }"
              class="btn btn-oval btn-oval_orange">
        <span *ngIf="manager?.id">{{ "base.save" | translate }}</span>
        <span *ngIf="!manager?.id">{{ "base.create" | translate }}</span>
      </button>
    </div>
  </div>

</app-router-modal>
