<div class="home-view">
  <h5>Your referral statistics</h5>

  <div class="table-grid">
    <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
      <div class="table-grid__row">

        <div class="table-grid__cell cell-1">
          <span class="table-grid__text">ref. #</span>
        </div>

        <div class="table-grid__cell cell-2">
          <span class="table-grid__text">date activated</span>
        </div>

        <div class="table-grid__cell cell-3">
          <span class="table-grid__text">commissions</span>
        </div>

      </div>
      <!-- /.table-grid__row -->
    </div>


    <div class="not-found">
      <h4>Nothing to show here yet</h4>
      <p>Make your first purchase to see your referral stats here</p>
    </div>

  </div>
</div>
