.home-view {
  text-align: left;
}

h5 {
  margin-top: 0;
  margin-bottom: 20px;
}

.table-grid {

  .cell-1 {
    width: 33%;
  }

  .cell-2 {
    width: 33%;
  }

  .cell-3 {
    width: 33%;
    text-align: right;
  }

}

.not-found {

  margin-top: 70px;

  h4 {
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #C4C4C4;
    margin: 0;
  }

  p {
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 15px 0 0;
    color: #828282;
  }

}
