<div [ngClass]="{ hidden : success }">
  <h2 class="auth__title">{{ "auth.reset.title" | translate }}</h2>
  <p class="auth__text"></p>

  <form action="" class="auth__form auth-form" [formGroup]="form" (submit)="reset()" onsubmit="return false">
    <div class="auth-form__group">
      <app-input-text formControlName="email" [placeholder]="'base.placeholders.email' | translate">
        {{ "base.labels.your-email" | translate }}
      </app-input-text>
    </div>

    <div class="error">
      <validation-message [control]="form"></validation-message>
    </div>

    <!-- /.auth-form__group -->
    <div class="auth-form__group">
      <div class="auth-form__btn">
        <button type="submit" class="btn btn-oval btn-oval_orange">
          <span>{{ "base.submit" | translate }}</span>
        </button>
      </div>
    </div>
    <!-- /.auth-form__group -->
  </form>

</div>

<section class="auth auth--successful" [ngClass]="{ hidden : !success }">
  <h2 class="auth__title">{{ "auth.sign-up.success.title" | translate }}</h2>
  <p class="auth__text">
    {{ "auth.sign-up.success.text1" | translate }}
    <br>
    {{ "auth.sign-up.success.text2" | translate }}
  </p>
</section>

<loader [loading]="loading"></loader>
