<div class="sections">

  <section class="sec sec-profile sec-profile--flex">

    <div>
      <span class="sec__title">{{ "tenant.settings.title" | translate }}</span>
      <app-edit-profile #profile></app-edit-profile>
    </div>
  </section>

  <!--<section class="sec sec-referral">-->
    <!--<app-referral></app-referral>-->
  <!--</section>-->

  <!--<section class="sec sec-activity-log ">-->
    <!--<app-activity-log></app-activity-log>-->
  <!--</section>-->

</div>
