<app-router-modal #modal>

  <div header>
    <b>{{ "popups.billing.title" | translate }}</b>
    <span>{{ invoice.id }}</span>
  </div>

  <div class="constructor">
    <div class="constructor__head">
      <div class="columns columns--flex space-between">
        <div class="columns-second-level flex-grow">
          <div class="column column-width-style-1">
            <div class="form-detail">
              <label class="form-detail__subtitle">{{ "popups.billing.tenant" | translate }}</label>
              <p class="form-detail__text">{{ invoice.tenant.showName }}</p>
            </div>
          </div>
          <div class="column column-width-style-1">
            <div class="form-detail">
              <span class="form-detail__subtitle">{{ "popups.billing.project" | translate }}</span>
              <p class="form-detail__text">{{ invoice.project.name }}</p>
            </div>
          </div>
        </div>
        <div class="columns-second-level flex-shrink flex-basic-250">
          <div class="column">
            <div class="form-detail">
              <label class="form-detail__subtitle">{{ "popups.billing.payer" | translate }}</label>
              <p class="form-detail__text">{{ invoice.payer }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="constructor__main">
      <div class="group-column">
        <div class="columns columns--flex space-between">
          <div class="columns-second-level flex-grow">
            <div class="column column-width-style-1">
              <label class="form-detail__subtitle">{{ "popups.billing.product" | translate }}</label>
            </div>
            <div class="column column-width-style-2">
              <label class="form-detail__subtitle">{{ "popups.billing.plan" | translate }}</label>
            </div>
            <div class="column column-width-style-3">
              <span class="form-detail__subtitle">{{ "popups.billing.extra" | translate }}</span>
            </div>
            <div class="columns-second-level flex-shrink flex-basic-250">
              <div class="column">
                <div class="price">
                  <div class="price__group price__group--flex">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns columns--flex space-between" *ngFor="let product of invoice.items">
        <div class="columns-second-level flex-grow">
          <div class="column column-width-style-1">
            <div class="form-detail">
              <p class="form-detail__text">{{ product.product.name }}</p>
            </div>
          </div>
          <div class="column column-width-style-2">
            <div class="form-detail">
              <p class="form-detail__text">{{ product.productPlan.name }}</p>
            </div>
          </div>
          <div class="column column-width-style-3">
            <div class="form-detail">
              <p class="form-detail__text no-padding">
                <ng-container *ngFor="let extras of product.extraLimits">
                  +{{ extras.value }}
                </ng-container>
              </p>
            </div>
            <!-- /.productForm-detail -->
          </div>
        </div>
        <div class="columns-second-level flex-shrink flex-basic-250">
          <div class="column">
            <div class="price">
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">{{ "popups.billing.price" | translate }}:</span>
                <span class="price__number">$ {{ product.price.amount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.constructor__main -->
    <div class="constructor__total">
      <div class="columns columns--flex flex-end">
        <div class="price">
          <div class="price__main">
            <div class="price__row">
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">{{ "popups.billing.total" | translate }}:</span>
                <span class="price__number">$ {{ invoice.totalAmount.amount }}</span>
              </div>
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">{{ "popups.billing.tax" | translate }}:</span>
                <span class="price__number">$ {{ invoice.tax.amount }}</span>
              </div>
            </div>
            <!-- /.price__row -->
            <div class="price__row">
              <div class="price__group price__group--flex">
                <span class="price__text--bold price__text price__text--color-light-grey text-right">{{ "popups.billing.discount" | translate }}:</span>
                <span class="price__number--bold price__number">$ {{ invoice.discount.amount }}</span>
              </div>
            </div>
            <!-- /.price__row -->
          </div>
          <div class="price__footer">
            <div class="price__group price__group--flex">
              <span class="price__text price__text--color-light-grey text-right">{{ "popups.billing.grand-total" | translate }}:</span>
              <span class="price__number price__total">$ {{ invoice.grandTotalAmount.amount }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.columns -->
    </div>
    <!-- /.constructor__footer -->
  </div>

  <div footer>
    <!--<div class="wrap-btn text-center">-->
      <!--<button type="button" class="btn btn-oval btn-oval_grey btn-icon-right">-->
        <!--<span>Download pdf</span>-->
        <!--<i class="icon icon-download"></i>-->
      <!--</button>-->
    <!--</div>-->
  </div>
</app-router-modal>


