<div class="layers" id="manager-billing">
  <div class="layer layer-filter layer--flex">
    <div class="layer__left layer__btn">
      <button class="btn btn-oval btn-oval_white" (click)="showNewBilling()">
        <i class="icon icon-plus icon--left"></i>
        <span>{{ "manager.invoice.new" | translate }}</span>
      </button>
    </div>

    <div class="layer__right layer__filter">
      <div class="filter filter--flex">
        <button class="filter__btn active hover" (click)="filterModal.open()">
          <i class="icon icon-filter"></i>
          <span>{{ "manager.invoice.filter" | translate }}</span>
        </button>

        <div class="filter__results">
          <app-invoice-list-filter [filter]="filter" (filterUpdate)="filterUpdate()"></app-invoice-list-filter>
        </div>

        <div class="filter__calendar">
          <app-range-datepicker [filter]="filter"></app-range-datepicker>
        </div>

      </div>
    </div>
  </div>

  <div class="layer layer--flex">
    <div class="layer__left layer__table-filter"></div>

    <div class="layer__right relative">
      <div *ngIf="list$ | async as pagination">
        <div *ngIf="pagination.items.length">
          <div class="table-grid table-grid-manager-billing">
            <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
              <div class="table-grid__row">

                <div class="table-grid__cell cell-1">
                  <span class="table-grid__text">{{ "manager.invoice.table.date" | translate }}</span>
                </div>

                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">
                    {{ "manager.invoice.table.payer" | translate }}
                    <br>{{ "manager.invoice.table.tenant" | translate }}
                    <br>{{ "manager.invoice.table.project" | translate }}
                  </span>
                </div>

                <div class="table-grid__cell cell-3">
                  <span class="table-grid__text">
                    {{ "manager.invoice.table.author" | translate }}
                  </span>
                </div>

                <div class="table-grid__cell cell-4">
                  <!--<span class="table-grid__text">ID</span>-->
                </div>

                <div class="table-grid__cell cell-5">
                  <span class="table-grid__text">
                    {{ "manager.invoice.table.amount" | translate }}
                  </span>
                </div>

                <div class="table-grid__cell cell-6">
                  <span class="table-grid__text">
                    {{ "manager.invoice.table.status" | translate }}
                  </span>
                </div>

                <!-- /.table-grid__row -->
              </div>
              <!-- /.table-grid__head -->
            </div>
            <!-- /.table-grid -->

            <div class="table-grid__body">

              <div class="table-grid__row table-grid__row--hover"
                   *ngFor="let invoice of pagination.items">

                <div class="table-grid__cell cell-1">
                  <a class="table-grid__text table-grid__link" (click)="showBilling(invoice.id)">
                    {{ invoice.createdAt | date : 'MMM dd' }}
                  </a>
                </div>

                <div class="table-grid__cell cell-2">
                  <p><span class="table-grid__text">{{ invoice.payer }}</span></p>
                  <p><span class="table-grid__text table-grid__text--bold">{{ invoice.tenant.showName }}</span></p>
                  <p><span class="table-grid__text table-grid__text--color-light-grey">{{ invoice.project.name }}</span></p>
                </div>

                <div class="table-grid__cell cell-3">
                  <span class="table-grid__text">{{ invoice.manager.showName }}</span>
                </div>

                <div class="table-grid__cell cell-4">
                  <!--<span class="table-grid__text">12345678</span>-->
                </div>

                <div class="table-grid__cell cell-5">
                  <div class="columns">

                    <div class="column column-grow">
                      <b class="table-grid__text table-grid__text--bold">{{ invoice.grandTotalAmount.amount }}</b>
                    </div>

                    <div class="column column-shrink" *ngIf="invoice.isNew">
                      <div class="extra-tool">

                        <button type="button" class="extra-tool__btn" (click)="showBillingEdit(invoice.id)">
                          <i class="icon icon-edit"></i>
                        </button>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="table-grid__cell cell-6">
                  <app-status-dropdown (change)="changeStatus(invoice, $event)" [invoice]="invoice"></app-status-dropdown>
                </div>

              </div>


            </div>

          </div>
          <app-pagination
            [showed]="5"
            [filter]="filter"
            [pagination]="pagination">
          </app-pagination>
        </div>
        <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
          <h5>{{ "base.no-items" | translate }}</h5>
        </div>
      </div>
      <loader [loading]="loading"></loader>
    </div>

  </div>

</div>

<app-billing-filter [filter]="filter" #filterModal (onChange)="applyFilter($event)"></app-billing-filter>
