<app-router-modal #modal size="md">

    <div header>
      <b>tenant</b>
      <span>{{ tenant.fullName }}</span>
    </div>

    <div class="modal__body">
      <div class="info-card">
        <div class="info-card__group">
          <ul class="info-card__list">
            <li class="info-card__row info-card__row--flex">

              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">ID</span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ tenant.id }}</span>
              </div>

            </li>
          </ul>
        </div>

        <div class="info-card__group">
          <ul class="info-card__list">
            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.email" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ tenant.email }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.phone" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ tenant.phone }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.country" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ ((tenant.address.countryCode | countryByCode) | async)?.name }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.address" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ tenant.address.address }}</span>
              </div>
            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.zip" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ tenant.address.zipCode }}</span>
              </div>

            </li>

          </ul>

        </div>

        <div class="info-card__group">
          <ul class="info-card__list">
            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.billing-address" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ tenant.billingAddress }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.invoice-email" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ tenant.billingInfo.invoiceEmail }}</span>
              </div>

            </li>

          </ul>

        </div>

        <!--<div class="info-card__group">-->
          <!--<ul class="info-card__list">-->
            <!--<li class="info-card__row info-card__row&#45;&#45;flex">-->
              <!---->
              <!--<div class="info-card__info">-->
                <!--<span class="info-card__text info-card__text&#45;&#45;light-grey">Projects</span>-->
              <!--</div>-->
              <!---->
              <!--<div class="info-card__description">-->
                <!--<p><a href="" class="info-card__text info-card__link">Ascend</a></p>-->
                <!--<p><a href="" class="info-card__text info-card__link">Aussie</a></p>-->
              <!--</div>-->
              <!---->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->

        <div class="info-card__group">
          <ul class="info-card__list">
            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.notes" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <p class="info-card__text">{{ tenant.notes }}</p>
              </div>

            </li>

          </ul>

        </div>

      </div>
    </div>

</app-router-modal>
