<app-modal #modal size="md">

  <div header>
    <b>Edit profile</b>
  </div>

  <div class="modal__body">

    <form [formGroup]="form" class="modal__form" (submit)="submitForm()" onsubmit="return false">

      <div class="info-card">

        <div class="info-card__group">

          <div class="info-card__row info-card__row--flex" formGroupName="person">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.first-name" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="firstName"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="person">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.last-name" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="lastName"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.email" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="email"></app-input-text>
            </div>

          </div>
        </div>
      </div>
    </form>

    <div class="c-center">
      <validation-message [control]="form"></validation-message>
    </div>

    <loader [loading]="loading"></loader>

  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button (click)="submitForm()"
              [disabled]="loading"
              [ngClass]="{ disabled : loading }"
              class="btn btn-oval btn-oval_orange">
        <span>{{ "base.save" | translate }}</span>
      </button>
    </div>
  </div>

</app-modal>
