<app-router-modal #modal size="md">

  <div header>
    <b>product</b>
    <span>{{ product.name }}</span>
  </div>

  <div class="modal__body">
    <div class="info-card">
      <div class="info-card__group">
        <ul class="info-card__list">
          <li class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">ID</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ product.id }}</span>
            </div>

          </li>
        </ul>
      </div>

      <div class="info-card__group">
        <ul class="info-card__list">

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Name</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ product.name }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Description</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ product.description }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Landing link</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ product.landingLink }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Is new</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text" *ngIf="product.new">Yes</span>
              <span class="info-card__text" *ngIf="!product.new">No</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Coming soon</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text" *ngIf="product.comingSoon">Yes</span>
              <span class="info-card__text" *ngIf="!product.comingSoon">No</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex limits-block">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Limits </span>
            </div>

            <div class="info-card__description">

              <div *ngFor="let limit of product.productLimits; let i=index">

                <hr class="hr" *ngIf="i !== 0">

                <div class="info-card__row info-card__row--flex">

                  <div class="info-card__info">
                    <span class="info-card__text info-card__text--light-grey">Name</span>
                  </div>

                  <div class="info-card__description">
                    <span class="info-card__text">{{ limit.name }}</span>
                  </div>

                </div>

                <div class="info-card__row info-card__row--flex">

                  <div class="info-card__info">
                    <span class="info-card__text info-card__text--light-grey">Type</span>
                  </div>

                  <div class="info-card__description">
                    <span class="info-card__text" *ngIf="limit.isMultiple">Multiple</span>
                    <span class="info-card__text" *ngIf="limit.isUnlimited">Unlimited</span>
                  </div>

                </div>

                <div class="info-card__row info-card__row--flex">

                  <div class="info-card__info">
                    <span class="info-card__text info-card__text--light-grey">Extras</span>
                  </div>

                  <div class="info-card__description">
                    <span class="info-card__text">{{ limit.extrasString }}</span>
                  </div>

                </div>
              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>
  </div>

</app-router-modal>
