.info-desk {
  margin-top: 50px;
}

.home-statistics-footer {
  margin-top: 50px;
  text-align: right;
  opacity: .7;

  h5 {
    margin: 0;
    color: #C4C4C4;
    font-weight: 600;
  }

  .btn {
    margin: 20px 0 0 20px;
  }
}
