<div class="sections">

  <section>
    <app-banner></app-banner>
  </section>
  <!-- /.info-desk -->

  <section>
    <div class="info-desk">
      <div class="info-desk__row">
        <div class="info-desk__col">
          <app-statistic></app-statistic>
          <!-- /.statistic -->
        </div>
        <div class="info-desk__col">
          <app-view></app-view>
          <!-- /.view -->
        </div>
      </div>
    </div>
    <!-- /.info-desk -->
  </section>

  <section class="home-statistics-footer">
    <h5>Your total commissions: 0$</h5>
    <button class="btn btn-oval btn-oval_white disabled" disabled><span>WITHDRAW</span></button>
    <button class="btn btn-oval btn-oval_white disabled" disabled><span>GET DISCOUNT</span></button>
  </section>

</div>
