.form-detail__show-password {
  padding: 10px;
  right: 6px;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #C4C4C4;
    margin: -5px 0 0 -5px;
  }

  &.pass-showed {
    &:after {
      display: none;
    }
  }
}


.form-detail__subtitle:empty {
  padding-bottom: 0;
}
