<div class="form-detail" [ngClass]="{ disabled : disabled }">

  <span class="form-detail__subtitle">
    <ng-content></ng-content>
  </span>

  <div class="form-detail__group">

    <input #input [type]="showPass ? 'text' : 'password'"
           class="form-detail__control form-detail__control--with-show-password text-indent-placholder"
           [formControl]="control"
           [value]="value"
           [attr.maxlength]="maxlength"
           [disabled]="disabled ? true : null"
           (focus)="markAsTouched()"
           (input)="propagateChange($event.target.value)"
           [placeholder]="placeholder">

    <button type="button"
            class="form-detail__show-password"
            (click)="showPass = !showPass"
            [ngClass]="{ 'pass-showed' : showPass }">
      <img src="/assets/img/eye.svg" alt="">
    </button>

  </div>

  <validation-message [control]="control"></validation-message>

</div>
