<div class="sections">

  <section class="sec">
    <b class="sec__title">FAQ</b>

    <app-accordion>

      <app-accordion-panel [active]="true">
        <div heading>Where’s the money Lebowski?</div>
        <div>
          <p>His head is plunged back into the toilet.</p>
          <p>- Where's the money, Lebowski!</p>
          <p>The hands haul him out again, dripping and gasping.</p>
          <p>- WHERE'S THE DAMN MONEY, STUPIDHEAD!</p>
          <p>- It's uh, it's down there somewhere. Lemme take another look.</p>
          <p>His head is plunged back in.</p>
          <p>- Don't mess with us. If your wife owes money to Jackie Treehorn, that means you owe money to
            Jackie Treehorn.</p>
          <p>The inquisitor hauls the Dude's head out one last time and flops him over so that he sits on the
            floor, back against the toilet.</p>
          <p>The Dude gropes back in the toilet with one hand.</p>
          <p>Looming over him is a strapping blond man.</p>
          <p>Beyond in the living room a young chinese man unzips his fly and walks over to a rug.</p>
        </div>
      </app-accordion-panel>

      <app-accordion-panel>
        <div heading>Can I try Orangear without credit card?</div>
        <div>
          <p>His head is plunged back into the toilet.</p>
          <p>- Where's the money, Lebowski!</p>
          <p>The hands haul him out again, dripping and gasping.</p>
          <p>- WHERE'S THE DAMN MONEY, STUPIDHEAD!</p>
          <p>- It's uh, it's down there somewhere. Lemme take another look.</p>
          <p>His head is plunged back in.</p>
          <p>- Don't mess with us. If your wife owes money to Jackie Treehorn, that means you owe money to
            Jackie Treehorn.</p>
          <p>The inquisitor hauls the Dude's head out one last time and flops him over so that he sits on the
            floor, back against the toilet.</p>
          <p>The Dude gropes back in the toilet with one hand.</p>
          <p>Looming over him is a strapping blond man.</p>
          <p>Beyond in the living room a young chinese man unzips his fly and walks over to a rug.</p>
        </div>
      </app-accordion-panel>

    </app-accordion>
    <!-- /.faq -->
  </section>
  <!-- /.sec -->

  <section class="sec">
    <span class="sec__title">Technical support</span>
    <form action="" class="sec__form">
      <div class="form-detail">
        <app-select [placeholderType]="PLACEHOLDER_TYPE.MOVE" placeholder="Choose cateory" [required]="true">
          <option value="0" disabled selected style="display: none;"></option>
          <option value="1">Choose cateory 1</option>
          <option value="2">Choose cateory 2</option>
          <option value="3">Choose cateory 3</option>
        </app-select>
      </div>
      <!-- /.productForm-detail -->

      <div class="form-detail">
        <app-textarea placeholder="Your message" [placeholderType]="PLACEHOLDER_TYPE.MOVE">
        </app-textarea>
      </div>
      <!-- /.productForm-detail -->

      <div class="form-detail">
        <button class="btn btn-oval btn-oval_orange">
          <span>Send</span>
        </button>
      </div>
      <!-- /.productForm-detail -->
    </form>
  </section>
  <!-- /.sec -->

</div>
<!-- /.sections -->
