<div class="form-detail" [ngClass]="{disabled : disabled}">
  <div class="form-detail__group">
    <label class="form-detail__checkbox">
      <input type="checkbox" [checked]="checked"
             [formControl]="control"
             (change)="propagateChange($event.target.checked)"
             [disabled]="disabled ? true : null">
      <i>
        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 1.5L6 11.5L4.5 10L14.5 0L16 1.5Z" fill="#2C2C2C"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 9L5 10.5L0 5.5L1.5 4L6.5 9Z" fill="#2C2C2C"></path>
        </svg>
      </i>
      <span><ng-content></ng-content></span>
    </label>
  </div>
  <!-- /.productForm-detail__group -->
</div>
