<app-router-modal #modal size="md">

    <div header>
      <b>{{ "popups.manager.title" | translate }}</b>
      <span>{{ manager.fullName }}</span>
    </div>

    <div class="modal__body">
      <div class="info-card">
        <div class="info-card__group">
          <ul class="info-card__list">
            <li class="info-card__row info-card__row--flex">

              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">ID</span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ manager.id }}</span>
              </div>

            </li>
          </ul>
        </div>

        <div class="info-card__group">
          <ul class="info-card__list">

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.first-name" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ manager.person.firstName }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.last-name" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ manager.person.lastName }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.email" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ manager.email }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.skype" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ manager.skype }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.status" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text" *ngIf="manager.isActiveStatus">{{ "base.statuses.active" | translate }}</span>
                <span class="info-card__text" *ngIf="manager.isInactiveStatus">{{ "base.statuses.inactive" | translate }}</span>
              </div>

            </li>

          </ul>

        </div>

      </div>
    </div>

</app-router-modal>
