<div class="form-detail" #switchContainer>
  <span class="form-detail__subtitle" *ngIf="label">{{ label }}</span>
  <div class="form-detail__group">
    <div class="form-detail__switch form-detail__control">
      <div class="switcher">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
