<label>
  <input type="radio" [value]="value" [name]="name" [checked]="checked" class="focus">
  <span class="switcher__btn">
    <span>
      <ng-content></ng-content>
    </span>
  </span>
</label>
