<app-router-modal #modal size="md">

  <div header *ngIf="!productPlan?.id">
    <b>New Product plan</b>
  </div>

  <div header *ngIf="productPlan?.id">
    <b>edit</b>
    <span>{{ productPlan.name }}</span>
  </div>

  <div class="modal__body">

    <form [formGroup]="form" (submit)="submitForm()" onsubmit="return false">

      <div class="info-card__row info-card__row--flex">

        <div class="info-card__info">
          <label class="info-card__text info-card__text--light-grey">Plan name<sup>*</sup></label>
        </div>

        <div class="info-card__description">
          <app-input-text formControlName="name"></app-input-text>
        </div>
      </div>

      <div class="info-card__row info-card__row--flex">

        <div class="info-card__info">
          <label class="info-card__text info-card__text--light-grey">Description<sup>*</sup></label>
        </div>

        <div class="info-card__description">
          <app-textarea formControlName="description"></app-textarea>
        </div>
      </div>

      <div class="info-card__row info-card__row--flex">

        <div class="info-card__info">
          <label class="info-card__text info-card__text--light-grey">Short description<sup>*</sup></label>
        </div>

        <div class="info-card__description">
          <app-textarea formControlName="shortDescription"></app-textarea>
        </div>
      </div>

      <div class="info-card__row info-card__row--flex" formGroupName="price">

        <div class="info-card__info">
          <label class="info-card__text info-card__text--light-grey">Amount</label>
        </div>

        <div class="info-card__description">
          <app-input-text formControlName="amount" [regexp]="REGEXPS.NUMERIC"></app-input-text>
        </div>
      </div>

      <!--<div class="info-card__row info-card__row&#45;&#45;flex" formGroupName="price">-->

        <!--<div class="info-card__info">-->
          <!--<label class="info-card__text info-card__text&#45;&#45;light-grey">Currency</label>-->
        <!--</div>-->

        <!--<div class="info-card__description">-->
          <!--<app-input-text [productForm]="productForm.controls['price']" formControlName="currency"></app-input-text>-->
        <!--</div>-->
      <!--</div>-->

      <div class="info-card__row info-card__row--flex">
        <div class="info-card__info">
          <label class="info-card__text info-card__text--light-grey">Custom</label>
        </div>

        <div class="info-card__description">
          <app-checkbox formControlName="custom"></app-checkbox>
        </div>
      </div>

      <div class="info-card__row info-card__row--flex">

        <div class="info-card__info">
          <label class="info-card__text info-card__text--light-grey">Limits</label>
        </div>

        <div class="info-card__description">
          <button type="button" class="btn btn-oval btn-oval_orange" (click)="addLimit()">
            <span>Add limit</span>
          </button>
          <div *ngIf="form.controls['limits']">
            <validation-message [control]="form?.controls['limits']"></validation-message>
          </div>
        </div>

      </div>

      <div formArrayName="limits" class="limits">

        <div *ngFor="let limitForm of limits.controls; let i = index" [formGroupName]="i">

          <hr class="hr">

          <div class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Name<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <ng-select
                [clearable]="false"
                [items]="productLimits"
                formControlName="name" bindLabel="name" bindValue="id">
              </ng-select>

              <button type="button" class="remove-limit" (click)="removeLimit(i)" *ngIf="limits.controls.length > 1">
                <i class="icon icon-bucket"></i>
              </button>

            </div>

          </div>

          <div class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Value<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="value"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="extraUnitPrice">

            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Extra Price</label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="amount"></app-input-text>
            </div>

          </div>

        </div>

      </div>

    </form>

    <div class="c-center">
      <validation-message [control]="form"></validation-message>
    </div>

    <loader [loading]="loading"></loader>

  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button class="btn btn-oval btn-oval_orange"
              [disabled]="loading" [ngClass]="{ disabled : loading }"
              (click)="submitForm()">
        <span *ngIf="productPlan?.id">Save</span>
        <span *ngIf="!productPlan?.id">Create</span>
      </button>
    </div>
  </div>

</app-router-modal>
