<app-router-modal #modal>

  <div header>
    <b>
      Edit project
      <span>{{ project?.name }}</span>
      <div *ngIf="project?.trialPeriod?.isActive" class="trial-end">
        Until the end of the trial remains
        {{ project?.trialEndAfter }}
      </div>
    </b>
  </div>

  <form [formGroup]="form" onsubmit="return false" class="constructor constructor--pt-40">
    <div class="constructor__head">
      <div class="columns columns--flex space-between">
        <div class="columns-second-level flex-grow">
          <div class="column column-width-style-1">
            <app-input-text formControlName="name">{{ "base.labels.name" | translate }}</app-input-text>
          </div>
        </div>
        <div class="columns-second-level flex-shrink flex-basic-300">
          <div class="column">
            <app-input-text formControlName="domain">{{ "base.labels.domain" | translate }}</app-input-text>
          </div>
        </div>
      </div>
    </div>

    <app-product-builder #productBuilder [withoutOffers]="true" (onFormChange)="onFormChange($event)"></app-product-builder>

    <div class="error-text-center" *ngIf="form.get('items').invalid">
      <div>
        <validation-message [control]="form.get('items')"></validation-message>
      </div>
    </div>

    <div class="constructor__footer" formGroupName="trialPeriod">

      <h5>Trial period</h5>

      <div class="columns columns--flex">
        <div class="columns-second-level flex-shrink flex-basic-300">
          <div class="column column-width-style-1">
            <app-single-datepicker
              [format]="PROJECT_TRIAL_FORMAT"
              formControlName="startDate">
              {{ "base.labels.start-date" | translate }}
            </app-single-datepicker>
          </div>
        </div>
        <div class="columns-second-level flex-shrink flex-basic-300">
          <div class="column">
            <app-single-datepicker
              [format]="PROJECT_TRIAL_FORMAT"
              formControlName="endDate">
              {{ "base.labels.end-date" | translate }}
            </app-single-datepicker>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="columns-second-level">
          <app-textarea formControlName="notes" [placeholder]="'base.labels.notes' | translate"></app-textarea>
        </div>
      </div>
    </div>


    <!-- /.constructor__main -->
    <div class="constructor__total">
      <div class="columns columns--flex flex-end">
        <div class="price">
          <div class="price__main">
            <div class="price__row">
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">Total:</span>
                <span class="price__number">$ {{ totalPrice || '0.00' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.columns -->
    </div>
    <!-- /.constructor__footer -->
  </form>

  <loader [loading]="loading"></loader>

  <div footer>
    <div class="wrap-btn text-center">
      <button class="btn btn-oval btn-oval_orange" (click)="submit()">
        <span>Save</span>
      </button>
    </div>
  </div>
</app-router-modal>
