.error-text-center {
  text-align: center;
  padding-bottom: 20px;

  & > div {
    display: inline-block;
  }
}

.trial-end {
  color: #FF6915;
  text-transform: none;
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
}

.constructor__footer {
  padding: 20px 30px;

  .columns-second-level {
    & + .columns-second-level {
      margin-left: 20px;
    }
  }

  .columns {
    max-width: 620px;
  }

  app-textarea {
    display: block;
    width: 100%;
  }

  h5 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding-left: 15px;
  }
}
