<header class='header' *ngIf="user$ | async as user">
  <div class="header__container header__container--flex">
    <a class="header__logo logo" routerLink="/">
      <img src="/assets/img/logo.svg">
      <span>store</span>
    </a>
    <div class="header__reg" *ngIf="isAuthenticated">

      <a href="" class="header__manager" routerLink="/tenant/settings" *ngIf="isTenant">
        {{ user?.showName }}
      </a>

      <a href="" class="header__manager" routerLink="/manager/settings" *ngIf="isManager">
        {{ user?.showName }}
      </a>

      <div class="header__drop">
        <ul>
          <li *hasPermission="[PERMISSIONS.MANAGE_ROLES]"><a routerLink="/manager/roles">{{ "header.roles" | translate }}</a></li>
          <li *hasPermission="[PERMISSIONS.MASS_MAILING]"><a routerLink="/manager/mailing">{{ "header.mailing" | translate }}</a></li>
          <li *hasPermission="[PERMISSIONS.MANAGE_BLOCKED_DOMAINS]">
            <a  routerLink="/manager/blocked-domain">{{ "header.blocked-domain" | translate }}</a>
          </li>
          <li *ngIf="isManager"><a routerLink="/manager/settings">Settings</a></li>
          <li><a (click)="logout()">{{ "header.logout" | translate }}</a></li>
        </ul>
      </div>
      <!-- /.header__drop -->
    </div>
    <!-- /.header__reg -->
  </div>
  <!-- /.header__container -->
</header>
