<div class="layer__pagination pagination">

  <a class="pagination__btn pagination__prev" [ngClass]="{ disabled : isFirstPage }" (click)="goToPrev()">
    <span>prv</span>
    <svg width="98" height="60" viewBox="0 0 98 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Canvas" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M 20.2671 0.5L 0.600923 30L 20.2676 59.5L 97.5 59.5L 97.5 0.5L 20.2671 0.5Z" transform="translate(98 60) scale(-1)" fill="#DEDEDE"/>
        <path class="border" fill-rule="evenodd" clip-rule="evenodd" d="M 20.2671 0.5L 0.600923 30L 20.2676 59.5L 97.5 59.5L 97.5 0.5L 20.2671 0.5Z" stroke-miterlimit="8" transform="translate(98 60) scale(-1)" stroke="#DEDEDE"/>
      </g>
    </svg>
  </a>

  <div class="pagination__links">
    <a *ngIf="hasHiddenPrevPages" (click)="goToPrevHidden()">...</a>
    <a *ngFor="let page of _showedPages" (click)="goToPage(page)" [ngClass]="{active : page == _pagination.page}">
      {{ page }}
    </a>
    <a *ngIf="hasHiddenNextPages" (click)="goToNextHidden()">...</a>
  </div>

  <a class="pagination__btn pagination__next" [ngClass]="{ disabled : isLastPage }" (click)="goToNext()">
    <span>nxt</span>
    <svg width="98" height="60" viewBox="0 0 98 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Canvas" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M 20.2671 0.5L 0.600923 30L 20.2676 59.5L 97.5 59.5L 97.5 0.5L 20.2671 0.5Z" transform="translate(98 60) scale(-1)" fill="#DEDEDE"/>
        <path class="border" fill-rule="evenodd" clip-rule="evenodd" d="M 20.2671 0.5L 0.600923 30L 20.2676 59.5L 97.5 59.5L 97.5 0.5L 20.2671 0.5Z" stroke-miterlimit="8" transform="translate(98 60) scale(-1)" stroke="#DEDEDE"/>
      </g>
    </svg>
  </a>

</div>
