<div *ngIf="user$ | async as user">
  <app-terms-and-conditions *ngIf="!user.level.isTermsAccepted"></app-terms-and-conditions>
  <app-email-confirmation *ngIf="user.level.isTermsAccepted && !user.level.isEmailConfirmed"></app-email-confirmation>
  <app-profile-filled *ngIf="user.level.isEmailConfirmed && !user.level.isProfileFilled"></app-profile-filled>
</div>
