.terms-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    margin: 0 0 0 40px;
  }
}

.terms-container {
  h6 {
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #000000;
    font-weight: 300;
    margin: 15px 0;
    font-family: Montserrat;
  }
}

.terms-content {
  display: flex;
  justify-content: center;
  height: 522px;
}

.terms-links {
  width: 360px;
  max-width: 360px;
  min-width: 360px;

  li {
    &:not(:last-of-type) {
      margin-bottom: 6px;
    }

    a {
      font-weight: 600;
      line-height: 24px;
      font-size: 14px;
      letter-spacing: 0.03em;
      font-family: Montserrat;

      &:hover {
        color: #F8C616;
      }
    }
  }
}

.terms-shadow {
  height: 100%;
  position: relative;

  &:before, &:after {
    content: "";
    height: 25px;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    background: linear-gradient(to bottom, #fff, transparent);
  }

  &:after {
    top: auto;
    bottom: 1px;
    background: linear-gradient(to top, #fff, transparent);
  }
}

.terms-body {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid rgba(0,0,0,.2);
  padding: 20px;

  h3 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    font-family: Montserrat;
    margin-bottom: 5px;

    & + h3 {
      margin-top: 25px;
    }
  }
}
