<app-modal #modal size="md">

  <div header>
    <b>{{ "mail.popup.title" | translate }}</b>
  </div>

  <div class="modal__body">
    <div class="info-card">
      <div class="info-card__group">
        <ul class="info-card__list">
          <li class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">ID</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ item?.id }}</span>
            </div>

          </li>
        </ul>
      </div>

      <div class="info-card__group">
        <ul class="info-card__list">

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "mail.popup.from" | translate }}
                </span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ item?.fromName }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "mail.popup.subject" | translate }}
                </span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ item?.subject }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "mail.popup.message" | translate }}
                </span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ item?.message }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "mail.popup.sent-at" | translate }}
                </span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ item?.sentAt | date : "dd MMMM yyyy hh:mm:ss" }}</span>
            </div>

          </li>

        </ul>

      </div>

    </div>
  </div>

</app-modal>
