.constructor {
  position: relative;
  
  .request-success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .request-img {
    margin-right: 80px;
  }

  .request-message {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.error-text-center {
  text-align: center;
  padding-bottom: 20px;

  & > div {
    display: inline-block;
  }
}

.constructor__head {

  .columns-second-level,
  .columns--flex {
    align-items: flex-end;
  }
}
