<section class="sec">
  <div class="sec__title">{{ "tenant.store.form.title2" | translate }}</div>
  <form [formGroup]="form" (submit)="submitForm()" onsubmit="return false" class="constructor">

    <div class="constructor__head">
      <div class="columns columns--flex space-between">
        <div class="columns-second-level flex-grow">
          <div class="column column-width-style-1">
            <app-project-select
              [placeholder]="'tenant.store.form.project-placeholder' | translate"
              formControlName="projectId">
              {{ "tenant.store.form.project" | translate }}
            </app-project-select>
          </div>
          <div class="column column-width-style-1">
            <button class="btn btn-oval btn-oval_white" type="button" (click)="projectModal.open()">
              <span>{{ "tenant.store.form.new-project" | translate }}</span>
            </button>
          </div>
        </div>
        <div class="columns-second-level flex-shrink flex-basic-300">
          <div class="column">
            <app-input-text
              [placeholder]="'tenant.store.form.payer-placeholder' | translate"
              formControlName="payerName">
              {{ "tenant.store.form.payer" | translate }}
            </app-input-text>
          </div>
        </div>
      </div>
    </div>

    <app-product-builder #productBuilder (onFormChange)="onFormChange($event)"></app-product-builder>

    <div class="error-text-center">
      <div>
        <validation-message [control]="form.get('items')"></validation-message>
      </div>
    </div>

    <!-- /.constructor__main -->
    <div class="constructor__total">
      <div class="columns columns--flex flex-end">
        <div class="price disabled">
          <div class="price__main">
            <div class="price__group price__group--flex">
              <span class="price__text price__text--color-light-grey text-right">
                {{ "tenant.store.form.total" | translate }}:
              </span>
              <span class="price__number">$ {{ totalPrice.totalAmount.amount || '0.00' }}</span>
            </div>
            <div class="price__group price__group--flex">
              <span class="price__text price__text--color-light-grey text-right">
                {{ "tenant.store.form.tax" | translate }}:
              </span>
              <span class="price__number">$ {{ totalPrice.tax.amount || '0.00' }}</span>
            </div>
          </div>
          <div class="price__footer">
            <div class="price__group price__group--flex">
              <span class="price__text price__text--color-light-grey text-right">
                {{ "tenant.store.form.grand-total" | translate }}:
              </span>
              <span class="price__number price__total">$ {{ totalPrice.grandTotalAmount.amount || '0.00' }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.columns -->
    </div>
    <!-- /.constructor__footer -->
    <div class="constructor__footer">
      <div class="wrap-btn text-center">
        <button class="btn btn-oval btn-oval_orange">
          <span>{{ "tenant.store.form.submit" | translate }}</span>
        </button>
      </div>
    </div>

    <loader [loading]="loading"></loader>

    <div class="request-success" *ngIf="success">
      <div class="request-img">
        <svg width="167" height="135" viewBox="0 0 167 135" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 77.9271L25.2702 52.6828L57.1315 84.5115L141.73 0L167 25.2435L57.1315 135L0 77.9271Z" fill="#0DBC00"/>
        </svg>
      </div>
      <div class="request-message">
        {{ "tenant.store.form.message1" | translate }}<br/>
        {{ "tenant.store.form.message2" | translate }}
      </div>
    </div>

  </form>
  <!-- /.constructor -->
</section>

<app-project-form #projectModal></app-project-form>
