<span class="sec__title">Referal</span>
<div class="referral">
  <div class="referral__sec">
    <p class="referral__text">
      Invite your friend and get 2 more checks per day! <br>
      <a href="" class="referral__link">See complete rules of referral program.</a>
    </p>
  </div>
  <!-- /.referral__sec -->
  <div class="referral__sec">
    <div class="referral-code">
      <span class="referral-code__text referral__text">Your referral code:</span>
      <span class="referral-code__value referral__text">394898yuYug90</span>
      <button class="referral-code__btn referral__text"><span>copy</span></button>
    </div>
  </div>
  <!-- /.referral__sec -->
  <div class="referral__sec">
    <p class="referral__text">Your referral friends are</p>
    <div class="referral__table">
      <table class="r-table">
        <tr class="r-table__row">
          <td class="r-table__cell">
            <span class="referral__text">John</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text referral__text--light-grey">from</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text">Tapmedia</span>
          </td>

          <td class="r-table__cell">
            <span class="referral__text referral__text--light-grey">gave you</span>
          </td>
          <td class="r-table__cell text-right">
            <span class="referral__text referral__text--bold">+2</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text">checks</span>
          </td>
        </tr>
        <tr class="r-table__row">
          <td class="r-table__cell">
            <span class="referral__text">Konstantine</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text referral__text--light-grey">from</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text">Furiousads</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text referral__text--light-grey">gave you</span>
          </td>
          <td class="r-table__cell text-right">
            <span class="referral__text referral__text--bold">+2</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text">checks</span>
          </td>
        </tr>
        <tr class="r-table__row">
          <td class="r-table__cell">
            <span class="referral__text">Konstantine</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text referral__text--light-grey">from</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text">Furiousads</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text referral__text--light-grey">gave you</span>
          </td>
          <td class="r-table__cell text-right">
            <span class="referral__text referral__text--bold">+1230</span>
          </td>
          <td class="r-table__cell">
            <span class="referral__text">checks</span>
          </td>
        </tr>
      </table>
    </div>
    <!-- /.referral-table -->
    <div class="referral__total text-center">
      <p class="referral__text">
        <span>Totally you’ve got</span>
        <span class="referral__result">+1234</span>
        <span>checks by our referral program!</span>
      </p>
    </div>
    <!-- /.referral__total -->
  </div>
  <!-- /.referral__sec -->
</div>
<!-- /.referral -->
