<div class="sections" *ngIf="user$ | async as user">

  <section class="sec sec-profile sec-profile--flex">
    <div class="sec-profile__info-card">
      <span class="sec__title">
        {{ "manager.settings.title" | translate }}
        <button type="button" class="extra-tool__btn" (click)="editProfile.open()">
          <i class="icon icon-edit"></i>
        </button>
      </span>
      <div class="info-card">
        <div class="info-card__group">
          <ul class="info-card__list">

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.first-name" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ user.person.firstName }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.last-name" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ user.person.lastName }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.email" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ user.email }}</span>
              </div>

            </li>

            <li class="info-card__row info-card__row--flex">
              <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.skype" | translate }}
                </span>
              </div>

              <div class="info-card__description">
                <span class="info-card__text">{{ user.skype }}</span>
              </div>

            </li>
          </ul>
        </div>

      </div>
    </div>
  </section>

</div>

<app-manager-edit-profile #editProfile></app-manager-edit-profile>
