<app-router-modal #modal>

  <div header>
    <b *ngIf="!invoice?.id">{{ "popups.billing.title2" | translate }}</b>
    <b *ngIf="invoice?.id">
      {{ "popups.billing.title3" | translate }}
      <span>{{ invoice?.id }}</span>
    </b>
  </div>

  <form [formGroup]="form" onsubmit="return false" class="constructor constructor--pt-40">
    <div class="constructor__head">
      <div class="columns columns--flex space-between">
        <div class="columns-second-level flex-grow">
          <div class="column column-width-style-1">
            <app-tenant-select
              formControlName="tenantSelect"
              (change)="setTenant($event); resetProject()"
              [placeholderType]="PLACEHOLDER_TYPE.MOVE">
              {{ "popups.billing.tenant" | translate }}
            </app-tenant-select>
          </div>
          <div class="column column-width-style-1" formGroupName="project">
            <div class="form-detail">
              <span class="form-detail__subtitle">{{ "popups.billing.project" | translate }}</span>
              <ng-select [clearable]="false"
                         [items]="getTenant()?.projects"
                         formControlName="id"
                         bindValue="id"
                         bindLabel="name">
              </ng-select>
              <validation-message [control]="form.get('project').get('id')"></validation-message>
            </div>
          </div>
        </div>
        <div class="columns-second-level flex-shrink flex-basic-250">
          <div class="column">
            <app-input-text formControlName="payer" placeholder="Name">
              {{ "popups.billing.payer" | translate }}
            </app-input-text>
          </div>
        </div>
      </div>

    </div>

    <app-product-builder #productBuilder (onFormChange)="onFormChange($event)"></app-product-builder>

    <div class="error-text-center">
      <div>
        <validation-message [control]="form.get('items')"></validation-message>
        <validation-message [control]="form"></validation-message>
      </div>
    </div>

    <!-- /.constructor__main -->
    <div class="constructor__total">
      <div class="columns columns--flex flex-end">
        <div class="price">
          <div class="price__main">
            <div class="price__row" formGroupName="discount">
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">
                  {{ "popups.billing.discount" | translate }}:
                </span>
                <div class="form-detail form-detail-price form-detail--width-120">
                  <app-input-text
                    [regexp]="[REGEXPS.NUMERIC_FLOAT]"
                    customClass="form-detail__currency"
                    formControlName="amount"
                    placeholder="0.00">
                  </app-input-text>
                </div>
              </div>
            </div>
            <div class="price__row">
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">
                  {{ "popups.billing.total" | translate }}:
                </span>
                <span class="price__number">$ {{ totalPrice.totalAmount.amount || '0.00' }}</span>
              </div>
              <div class="price__group price__group--flex">
                <span class="price__text price__text--color-light-grey text-right">
                  {{ "popups.billing.tax" | translate }}:
                </span>
                <span class="price__number">$ {{ totalPrice.tax.amount || '0.00' }}</span>
              </div>
            </div>
          </div>
          <div class="price__footer">
            <div class="price__group price__group--flex">
              <span class="price__text price__text--color-light-grey text-right">
                {{ "popups.billing.grand-total" | translate }}:
              </span>
              <span class="price__number price__total">$ {{ totalPrice.grandTotalAmount.amount || '0.00' }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>

  <loader [loading]="loading"></loader>

  <div footer>
    <div class="wrap-btn text-center">
      <button class="btn btn-oval btn-oval_orange" (click)="save()">
        <span>{{ "popups.billing.save" | translate }}</span>
      </button>
      <button class="btn btn-oval btn-oval_orange" (click)="saveAndSend()">
        <span>{{ "popups.billing.save-and-send" | translate }}</span>
      </button>
      <!--<button type="button" class="btn btn-oval btn-oval_grey btn-download btn-icon-right pl-20 pr-20">-->
        <!--<span>Download pdf</span>-->
        <!--<i class="icon icon-download"></i>-->
      <!--</button>-->
    </div>
  </div>
</app-router-modal>
