.wrap-btn {
  justify-content: flex-end;

  .btn {
    margin: 0 0 0 20px !important;
  }
}

.error-text-center {
  text-align: center;
  padding-bottom: 20px;

  & > div {
    display: inline-block;
  }
}
