<div *ngIf="control?.errors">
  <div class="error" *ngIf="control?.errors['server']">
    {{ control?.errors['server'] }}
  </div>
  <div *ngIf="control?.touched && !control?.errors['server']">
    <div class="error" *ngFor="let error of validationErrors()">
      <div>
        {{ getErrorText(error) }}
      </div>
    </div>
  </div>
</div>
