<app-router-modal #modal size="md">

  <div header *ngIf="!role?.id">
    <b>New Role</b>
  </div>

  <div header *ngIf="role?.id">
    <b>edit</b>
    <span>{{ role.name }}</span>
  </div>

  <div class="modal__body">

    <form class="modal__form" [formGroup]="form" onsubmit="return false">

      <div class="info-card">

        <div class="info-card__group">

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Name<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="name"></app-input-text>
            </div>
          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Weight<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="weight"></app-input-text>
            </div>
          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info align-self-start">
              <label class="info-card__text info-card__text--light-grey">Permissions<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-permission-select formControlName="permissions"></app-permission-select>
            </div>
          </div>

        </div>

      </div>

    </form>

    <div class="c-center">
      <validation-message [control]="form"></validation-message>
    </div>

    <loader [loading]="loading"></loader>

  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button class="btn btn-oval btn-oval_orange"
              [disabled]="loading"
              [ngClass]="{ disabled : loading }"
              (click)="submitForm()">
        <span *ngIf="role?.id">Save</span>
        <span *ngIf="!role?.id">Create</span>
      </button>
    </div>
  </div>

</app-router-modal>
