app-country-select {
  width: 100%;
}

.modal__form {
  .btn {
    margin-top: 30px;
  }
}

.info-card__group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-wrap: wrap;

  .info-card__row {
    margin: 0 0 15px 0;
    min-width: 300px;
    max-width: 300px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;

    .info-card__description + .info-card__description {
      margin-left: 20px;
    }
  }
}

.sec-profile__download {
  display: flex;
  justify-content: space-between;
}

.sec-profile__notification {
  margin-bottom: 15px;
}
