<div class="relative">

  <form [formGroup]="form" class="modal__form" (submit)="submitForm()" onsubmit="return false">

    <div class="info-card">

      <div class="info-card__group" formGroupName="person">

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text formControlName="firstName">
              {{ "base.labels.first-name" | translate }}<sup>*</sup>
            </app-input-text>
          </div>
        </div>

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text formControlName="lastName">
              {{ "base.labels.last-name" | translate }}<sup>*</sup>
            </app-input-text>
          </div>
        </div>

      </div>

      <div class="info-card__group">

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text formControlName="email">
              {{ "base.labels.email" | translate }}
            </app-input-text>
          </div>
        </div>

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text formControlName="phone">
              {{ "base.labels.phone" | translate }}<sup>*</sup>
            </app-input-text>
          </div>
        </div>

      </div>

      <div class="info-card__group" formGroupName="address">

        <div class="info-card__row info-card__row--flex">
          <app-country-select
            [required]="true"
            formControlName="countryCode">
            {{ 'base.labels.country' | translate }}
          </app-country-select>
        </div>

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text formControlName="address">
              {{ "base.labels.address" | translate }}<sup>*</sup>
            </app-input-text>
          </div>
        </div>

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text [regexp]="REGEXPS.NUMERIC_OR_LETTERS" formControlName="zipCode">
              {{ "base.labels.zip" | translate }}
            </app-input-text>
          </div>
        </div>

      </div>

      <div class="info-card__group">

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text formControlName="billingAddress">
              {{ "base.labels.billing-address" | translate }}
            </app-input-text>
          </div>
        </div>

        <div class="info-card__row info-card__row--flex" formGroupName="billingInfo">
          <div class="info-card__description">
            <app-input-text [options]="{alias : 'email'}" formControlName="invoiceEmail">
              {{ "base.labels.invoice-email" | translate }}<sup>*</sup>
            </app-input-text>
          </div>
        </div>

      </div>

      <div class="info-card__group">

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <span class="form-detail__subtitle">
              {{ "popups.tenant.form.representative.title" | translate }}
            </span>
            <app-switcher formControlName="type" [parseInt]="true">
              <app-switch-btn [value]="TENANT_TYPE.SELF_EMPLOYED" name="representative">
                {{ "popups.tenant.form.representative.individual" | translate }}
              </app-switch-btn>
              <app-switch-btn [value]="TENANT_TYPE.COMPANY" name="representative">
                {{ "popups.tenant.form.representative.company" | translate }}
              </app-switch-btn>
            </app-switcher>
          </div>
        </div>

      </div>

      <div class="info-card__group" *ngIf="showFromCompany" formGroupName="billingInfo">

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text formControlName="company">
              {{ "base.labels.company" | translate }}<sup>*</sup>
            </app-input-text>
          </div>
        </div>

        <div class="info-card__row info-card__row--flex">
          <div class="info-card__description">
            <app-input-text [regexp]="[REGEXPS.NUMERIC_FLOAT, REGEXPS.NUMBERS_AFTER_POINT(3)]"
                            formControlName="taxPercent">
              {{ "base.labels.tax" | translate }}
            </app-input-text>
          </div>
          <div class="info-card__description">
            <app-input-text [regexp]="REGEXPS.NUMERIC" formControlName="vat">
              {{ "base.labels.vat" | translate }}
            </app-input-text>
          </div>
        </div>

      </div>

      <div class="info-card__group" formArrayName="mailGroups">

        <div class="sec-profile__notifications">

          <span class="sec__title">{{ "tenant.settings.notify" | translate }}</span>

          <div class="sec-profile__notification" *ngFor="let form of mailGroups.controls; let i = index" [formGroupName]="i">
            <app-checkbox formControlName="subscribed">{{ form.get('name').value }}</app-checkbox>
          </div>
        </div>

      </div>

    </div>

    <div class="sec-profile__download">

      <div>
        <button class="btn btn-oval btn-oval_white" *ngIf="form.dirty">
          <span>{{ "tenant.settings.save" | translate }}</span>
        </button>
      </div>

      <div>
        <button type="button" class="btn btn-oval btn-oval_white" (click)="downloadData()">
          <span>{{ "tenant.settings.download" | translate }}</span>
          <i class="icon icon--right icon-download"></i>
        </button>
      </div>
    </div>

  </form>

  <div class="c-center">
    <validation-message [control]="form"></validation-message>
  </div>

  <loader [loading]="loading"></loader>

</div>

<app-confirm #confirm applyText="Save" cancelText="Leave">
  {{ "tenant.settings.message" | translate }}
</app-confirm>
