.email-confirmation-modal {

  .modal__content {
    max-width: 470px;
  }

  .modal__footer {
    text-align: center;
  }

  p {
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 80px 0 60px;
  }
}
