<app-modal #modal size="md" customClass="email-confirmation-modal" [header]="false">

  <p>
    {{ "user-level.email-confirmation.text1" | translate }}<br/>
    {{ "user-level.email-confirmation.text2" | translate }}
  </p>

  <loader [loading]="loading"></loader>

  <div footer>
    <button type="button" class="btn btn-oval btn-oval_white" (click)="requestEmailConfirmation()">
      <span>{{ "user-level.email-confirmation.text1" | translate }}</span>
    </button>
  </div>
</app-modal>
