<div>
  <h2 class="auth__title">{{ "auth.sign-up.mail.title" | translate }}</h2>
  <p class="auth__text">{{ "auth.sign-up.mail.text" | translate }}</p>

  <form action="" class="auth__form auth-form" [formGroup]="form" (submit)="signup()" onsubmit="return false">

    <div class="auth-form__group">
      <app-input-text formControlName="_username" [placeholder]="'base.placeholders.email' | translate">
        {{ "base.labels.email" | translate }}
      </app-input-text>
    </div>

    <div class="auth-form__group">
      <app-password formControlName="_password"
                    [placeholder]="'base.placeholders.password' | translate">
        {{ "base.labels.password" | translate }}
      </app-password>
    </div>

    <div class="error">
      <validation-message [control]="form.controls['_recaptcha_response']"></validation-message>
      <validation-message [control]="form"></validation-message>
    </div>

    <div class="auth-form__group login-btn">
      <div class="auth-form__btn">
        <button type="submit" class="btn btn-oval btn-oval_orange"
                [disabled]="!form.value.privacyPolicy"
                [ngClass]="{ disabled : !form.value.privacyPolicy }">
          <span>{{ "auth.sign-up.mail.submit" | translate }}</span>
        </button>
      </div>
    </div>

    <div class="auth-form__group auth-form__group-footer">
      <p>Have an account? <a routerLink="/auth/login">Log in here!</a></p>
    </div>

  </form>

</div>

<loader [loading]="loading"></loader>
