<h2 class="auth__title">{{ "auth.login.title" | translate }}</h2>

<form [formGroup]="form" class="auth__form auth-form" (submit)="login()" onsubmit="return false">

  <div class="auth-form__group">
    <app-input-text formControlName="_username"
                    [placeholder]="'base.placeholders.email' | translate">
      {{ "base.labels.your-email" | translate }}
    </app-input-text>
  </div>

  <div class="auth-form__group">
    <app-password formControlName="_password"
                  [placeholder]="'base.placeholders.password' | translate">
      {{ "base.labels.your-password" | translate }}
    </app-password>
  </div>

  <div class="auth-form__group forgot-password">
    <a routerLink="/auth/reset-password" *ngIf="isTenantEndpoint">
      {{ "auth.login.forgot" | translate }}
    </a>
    <a routerLink="/auth/manager/reset-password" *ngIf="isManagerEndpoint">
      {{ "auth.login.forgot" | translate }}
    </a>
  </div>

  <div class="auth-form__group login-btn">
    <div class="auth-form__btn">
      <button type="submit" class="btn btn-oval btn-oval_orange">
        <span>{{ "auth.login.submit" | translate }}</span>
      </button>
    </div>
  </div>

  <div class="auth-form__group auth-form__group-footer" *ngIf="isTenantEndpoint">
    <p>
      {{ "auth.login.register.text1" | translate }}
      <a routerLink="/auth/signup">{{ "auth.login.register.text2" | translate }}</a>
    </p>
  </div>

  <div class="error">
    <validation-message [control]="form.controls['_recaptcha_response']"></validation-message>
    <validation-message [control]="form"></validation-message>
  </div>

</form>

<loader [loading]="loading"></loader>
