.auth__title {
  margin-bottom: 35px;
}

.error {
  text-align: center !important;
  margin: 15px 0 0;
  display: block;

  validation-message {
    text-align: center;
    display: inline-block;
  }
}

.forgot-password {
  margin-top: 10px;

  a {
    font-size: 13px;
  }
}
