<section class="sec">
  <span class="sec__title">Mass mailing history</span>
  <div class="table-grid table-grid-supermanager-mail">
    <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
      <div class="table-grid__row">
        <div class="table-grid__cell cell-1">
          <span class="table-grid__text">Groups</span>
        </div>
        <div class="table-grid__cell cell-2">
          <span class="table-grid__text">subject</span>
        </div>
        <div class="table-grid__cell cell-3">
          <span class="table-grid__text">date</span>
        </div>
      </div>
      <!-- /.table-grid__row -->
    </div>
    <!-- /.table-grid__head -->
    <div class="table-grid__body">
      <div class="table-grid__row table-grid__row--hover">
        <div class="table-grid__cell cell-1">
          <span class="table-grid__text">Chinese, Video, Starters</span>
        </div>
        <div class="table-grid__cell cell-2 table-grid__cell--flex">
          <div class="col-30">
            <span class="table-grid__text table-grid__string">Payment lorem ipsum ...</span>
          </div>
          <div class="col-70">
            <div>
              <span class="table-grid__text table-grid__text--color-light-grey table-grid__string-2">Payment in another currency involves an chairman of the additional foreign ...</span>
              <div class="extra-tool">
                <button class="extra-tool__btn"><i class="icon icon-mail-open"></i></button>
                <button class="extra-tool__btn"><i class="icon icon-bucket"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-grid__cell cell-3">
          <span class="table-grid__text">Apr 12</span>
        </div>
      </div>
      <!-- /.table-grid__row -->

      <div class="table-grid__row table-grid__row--hover">
        <div class="table-grid__cell cell-1">
          <b class="table-grid__text table-grid__text--bold">Assholes</b>
        </div>
        <div class="table-grid__cell cell-2 table-grid__cell--flex">
          <div class="col-30">
            <b class="table-grid__text table-grid__text--bold table-grid__string">Coffe on tuesday eve...</b>
          </div>
          <div class="col-70">
            <span class="table-grid__text table-grid__text--color-light-grey table-grid__string-2">These species-particular behavior patternschairman of  provi...</span>
          </div>
        </div>
        <div class="table-grid__cell cell-3">
          <b class="table-grid__text table-grid__text--bold">Apr 7</b>
          <div class="extra-tool">
            <button class="extra-tool__btn"><i class="icon icon-mail-open"></i></button>
            <button class="extra-tool__btn"><i class="icon icon-bucket"></i></button>
          </div>
        </div>
      </div>
      <!-- /.table-grid__row -->

      <div class="table-grid__row table-grid__row--hover">
        <div class="table-grid__cell--psevdo">
          <div class="extra-tool">
            <button class="extra-tool__btn"><i class="icon icon-star"></i></button>
          </div>
        </div>
        <div class="table-grid__cell cell-1">
          <span class="table-grid__text">Chinese</span>
        </div>
        <div class="table-grid__cell cell-2 table-grid__cell--flex">
          <div class="col-30">
            <span class="table-grid__text table-grid__string">About Trumps visit</span>
          </div>
          <div class="col-70">
            <span class="table-grid__text table-grid__text--color-light-grey table-grid__string-2">When his father became chairman of the board in 1971, chairman of Trump il...</span>
          </div>
        </div>
        <div class="table-grid__cell cell-3">
          <span class="table-grid__text">Apr 1</span>
          <div class="extra-tool">
            <button class="extra-tool__btn"><i class="icon icon-mail-open"></i></button>
            <button class="extra-tool__btn"><i class="icon icon-bucket"></i></button>
          </div>
        </div>
      </div>
      <!-- /.table-grid__row -->

      <div class="table-grid__row table-grid__row--hover">
        <div class="table-grid__cell--psevdo">
          <div class="extra-tool">
            <button class="extra-tool__btn"><i class="icon icon-star"></i></button>
          </div>
        </div>
        <div class="table-grid__cell cell-1">
          <span class="table-grid__text">Managers</span>
        </div>
        <div class="table-grid__cell cell-2 table-grid__cell--flex">
          <div class="col-30">
            <span class="table-grid__text table-grid__string">Wazzup bro!</span>
          </div>
          <div class="col-70">
                    <span
                      class="table-grid__text table-grid__text--color-light-grey table-grid__string-2">Nevermind :^)</span>
          </div>
        </div>
        <div class="table-grid__cell cell-3">
          <div class="extra-tool">
            <button class="extra-tool__btn"><i class="icon icon-mail-open"></i></button>
            <button class="extra-tool__btn"><i class="icon icon-bucket"></i></button>
          </div>
          <span class="table-grid__text">03/10/18</span>
        </div>
      </div>
      <!-- /.table-grid__row -->

    </div>
    <!-- /.table-grid__body -->
  </div>
</section>
