<span class="sec__title">Activity log</span>
<div class="table-grid table-grid-activity-log">
  <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
    <div class="table-grid__row">
      <div class="table-grid__cell cell-1">
        <span class="table-grid__text">date</span>
      </div>
      <div class="table-grid__cell cell-2">
        <span class="table-grid__text">project</span>
      </div>
      <div class="table-grid__cell cell-3">
        <span class="table-grid__text">platform</span>
      </div>
      <div class="table-grid__cell cell-4">
        <span class="table-grid__text">product</span>
      </div>
      <div class="table-grid__cell cell-5">
        <span class="table-grid__text">log</span>
      </div>
      <div class="table-grid__cell cell-6">
        <span class="table-grid__text"></span>
      </div>
      <!-- /.table-grid__row -->
    </div>
    <!-- /.table-grid__head -->
  </div>
  <!-- /.table-grid -->
  <div class="table-grid__body">
    <div class="table-grid__row table-grid__row--hover">
      <div class="table-grid__cell cell-1">
        <span class="table-grid__text">May 19</span>
      </div>
      <div class="table-grid__cell cell-2">
        <p><span class="table-grid__text table-grid__text--bold">Sparta Mobile</span></p>
      </div>
      <div class="table-grid__cell cell-3"></div>
      <div class="table-grid__cell cell-4">
        <span class="table-grid__text">BI Module</span>
      </div>
      <div class="table-grid__cell cell-5">
        <span class="table-grid__text">Subscription expired!</span>
      </div>
      <div class="table-grid__cell cell-6">
        <div class="status">
          <i class="icon icon-status icon-status--red"></i>
        </div>
        <!-- /.status -->
      </div>
    </div>
    <!-- /.table-grid__row -->
    <div class="table-grid__row table-grid__row--hover">
      <div class="table-grid__cell cell-1">
        <span class="table-grid__text">May 7</span>
      </div>
      <div class="table-grid__cell cell-2">
        <p><span class="table-grid__text table-grid__text--bold">Big Lebowski LLC.</span></p>
      </div>
      <div class="table-grid__cell cell-3">
        <span class="table-grid__text">Video Advertising</span>
      </div>
      <div class="table-grid__cell cell-4"></div>
      <div class="table-grid__cell cell-5">
        <span class="table-grid__text">Subscription renewed. <a href="" class="table-grid__link">Bill 125-563-65</a></span>
      </div>
      <div class="table-grid__cell cell-6"></div>
    </div>
    <!-- /.table-grid__row -->
    <div class="table-grid__row table-grid__row--hover">
      <div class="table-grid__cell cell-1">
        <span class="table-grid__text">04/30/18</span>
      </div>
      <div class="table-grid__cell cell-2">
        <p><span class="table-grid__text table-grid__text--bold">Bzdonskaya Mobile LLC.</span></p>
      </div>
      <div class="table-grid__cell cell-3">
        <span class="table-grid__text">Performance Marketing Starter</span>
      </div>
      <div class="table-grid__cell cell-4"></div>
      <div class="table-grid__cell cell-5">
        <span class="table-grid__text">Subscribtion completed. <a href="" class="table-grid__link">Bill 12345678</a></span>
      </div>
      <div class="table-grid__cell cell-6"></div>
    </div>
    <!-- /.table-grid__row -->
    <div class="table-grid__row table-grid__row--hover">
      <div class="table-grid__cell cell-1">
        <span class="table-grid__text">04/30/18</span>
      </div>
      <div class="table-grid__cell cell-2">
        <p><span class="table-grid__text table-grid__text--bold">Bzdonskaya Mobile LLC.</span></p>
      </div>
      <div class="table-grid__cell cell-3"></div>
      <div class="table-grid__cell cell-4"></div>
      <div class="table-grid__cell cell-5">
        <span class="table-grid__text">New project added.</span>
      </div>
      <div class="table-grid__cell cell-6"></div>
    </div>
    <!-- /.table-grid__row -->
  </div>
  <!-- /.table-grid__body -->
</div>
