<div class="sm-ban">
  <div>
    <div class="container">
      <h1 class="sm-ban__title">{{ "home.title" | translate }}</h1>
      <p class="sm-ban__text">{{ "home.text" | translate }}</p>
      <div class="sm-ban__btns">
        <button class="btn btn-oval btn-oval_orange sm-ban__btn" routerLink="/auth/login">
          <span>{{ "home.login" | translate }}</span>
        </button>
        <button class="btn btn-oval btn-oval_orange sm-ban__btn" routerLink="/auth/signup">
          <span>{{ "home.sign-up" | translate }}</span>
        </button>
      </div>
      <!-- /.sm-ban__btns -->
    </div>
    <!-- /.container -->
    <!--<p class="sm-ban__powered">{{ "home.powered-by" | translate }} <a href="">Orangear</a></p>-->
  </div>
</div>
