<app-router-modal #modal size="md">

  <div header>
    <b>project</b>
    <span>{{ project.name }}</span>
  </div>

  <div class="modal__body">
    <div class="info-card">

      <div class="info-card__group">
        <ul class="info-card__list">

          <li class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">ID</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ project.id }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.status" | translate }}
                </span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text" *ngIf="project.isPending">{{ "base.statuses.pending" | translate }}</span>
              <span class="info-card__text" *ngIf="project.isActivated">{{ "base.statuses.active" | translate }}</span>
              <span class="info-card__text" *ngIf="project.isDeactivated">{{ "base.statuses.inactive" | translate }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.domain" | translate }}
                </span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ project.domain }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex" *ngIf="isManager">
            <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  {{ "base.labels.tenant" | translate }}
                </span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ project.tenant.showName }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex flex-products">
            <div class="info-card__info">
                <span class="info-card__text info-card__text--light-grey">
                  Additional products:
                </span>
            </div>

            <div>
              <div class="info-card__description" [style.margin-bottom.px]="15" *ngFor="let item of project.items">
                <span class="info-card__text">
                  {{ item.product.name }}
                </span>
                  <span *ngFor="let limit of item.limits" class="available">
                  Available : {{ limit.available }} {{ limit.name }}
                </span>
              </div>
            </div>

          </li>

        </ul>

      </div>

    </div>
  </div>

</app-router-modal>
