<div *ngIf="list$ | async as list">
  <div class="toast-container toast-top-right">
    <div *ngFor="let notification of list; trackBy: helpers.trackById; let i = index" [@notificationSlideAnimation]="">
      <app-notification (onRemove)="remove(i)" [notification]="notification"></app-notification>
    </div>
  </div>
</div>
