<ng-container *ngIf="filter">
  <ng-container *ngIf="filter.statuses?.length">
    <app-badge
      (remove)="clearFilterItem(['statuses'])"
      [name]="'invoice.filters.status' | translate"
      [value]="getFilterStatuses()">
    </app-badge>
  </ng-container>
  <ng-container>
    <app-badge
      *ngIf="filter.type == INVOICE_TYPE.ONE_TIME"
      (remove)="clearFilterItem(['type'])"
      [name]="'invoice.filters.type' | translate"
      [value]="'invoice.type.one-time' | translate">
    </app-badge>
    <app-badge
      *ngIf="filter.type == INVOICE_TYPE.REGULAR"
      (remove)="clearFilterItem(['type'])"
      [name]="'invoice.filters.type' | translate"
      [value]="'invoice.type.regular' | translate">
    </app-badge>
  </ng-container>
  <ng-container *ngIf="filter.tenantId">
    <ng-container *ngIf="tenant$ | async as tenant">
      <app-badge
        (remove)="clearFilterItem(['tenantId'])"
        [name]="'invoice.filters.tenant' | translate"
        [value]="tenant.showName">
      </app-badge>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="filter.managerId">
    <ng-container *ngIf="manager$ | async as manager">
      <app-badge
        (remove)="clearFilterItem(['managerId'])"
        [name]="'invoice.filters.author' | translate"
        [value]="manager.showName">
      </app-badge>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="filter.projectId">
    <ng-container *ngIf="project$ | async as project">
      <app-badge
        (remove)="clearFilterItem(['projectId'])"
        [name]="'invoice.filters.project' | translate"
        [value]="project.name">
      </app-badge>
    </ng-container>
  </ng-container>
  <app-badge
    (remove)="clearFilterItem(['payer'])"
    *ngIf="filter.payer"
    [name]="'invoice.filters.payer' | translate"
    [value]="filter.payer">
  </app-badge>
  <app-badge
    (remove)="clearFilterItem(['invoiceId'])"
    *ngIf="filter.invoiceId"
    name="ID"
    [value]="filter.invoiceId">
  </app-badge>
  <app-badge
    (remove)="clearFilterItem(['amountFrom', 'amountTo'])"
    *ngIf="filter.amountTo"
    [name]="'invoice.filters.amount' | translate"
    [value]="filter.amountFrom+' - '+filter.amountTo">
  </app-badge>
</ng-container>
