<div class="sections relative" *ngIf="(list$ | async) as pagination">

  <div class="sec">

    <section class="sec" *ngIf="(pagination.items | productsByType : PRODUCT_TYPE.SINGLE).length">
      <div class="sec__title">{{ "tenant.store.products" | translate }}</div>

      <div>
        <div class="articles articles--flex">
          <div class="article--flex-item" *ngFor="let item of pagination.items | productsByType : PRODUCT_TYPE.SINGLE">
            <app-store-item [item]="item" (onBtnCLick)="buyProduct.open(item.id)"></app-store-item>
          </div>
        </div>
      </div>

    </section>

    <section class="sec" *ngIf="(pagination.items | productsByType : PRODUCT_TYPE.MODULE).length">
      <div class="sec__title">{{ "tenant.store.modules" | translate }}</div>

      <div>
        <div class="articles articles--flex">
          <div class="article--flex-item" *ngFor="let item of pagination.items | productsByType : PRODUCT_TYPE.MODULE">
            <app-store-item [disabledBuy]="true" [item]="item" (onBtnCLick)="buyProduct.open(item.id)"></app-store-item>
          </div>
        </div>
      </div>

    </section>

  </div>

  <app-market-form id="product-builder" class="sec"></app-market-form>
</div>

<loader [loading]="loading"></loader>

<app-store-form-single #buyProduct></app-store-form-single>
