.sec {
  display: block;
}

.articles {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.article--flex-item {
  min-width: 360px;
  max-width: 360px;
  width: 360px;
  margin-bottom: 30px;
  margin-right: 50px;
  flex: 1;

  @media(min-width: 1210px) {
    &:nth-of-type(3n+3) {
      margin-right: 0;
    }
  }

  @media(max-width: 1209px) {
    &:nth-of-type(2n+2) {
      margin-right: 0;
    }
  }
}

.btn--white {
  border: 1px solid #DEDEDE;
}
