.m-b-25 {
  margin-bottom: 25px;
}

.ui-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 50px 10px;

  table {
    width: 100%;

    td {
      vertical-align: top;
      padding-bottom: 30px;

      &:first-child {
        text-align: right;
        padding-right: 50px;
        padding-top: 5px;
      }

      > * {
        width: 100%;
      }
    }
  }
}

.modals {
  .btn {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

app-badge {
  margin-right: 10px;
}

.tac {
  text-align: center;
  padding: 15px;
}
