<div class="ui-container">
  <table>
    <tbody>

    <tr>
      <td>Tags input</td>
      <td>
        <div class="m-b-25">
          <app-tags-input></app-tags-input>
        </div>
      </td>
    </tr>

    <tr>
      <td>Input</td>
      <td>
        <div class="m-b-25">
          <app-input-text placeholder="Input placeholder" [placeholderType]="PLACEHOLDER_TYPE.STATIC">
            Input label
          </app-input-text>
        </div>

        <div class="m-b-25">
          <app-input-text [placeholderType]="PLACEHOLDER_TYPE.MOVE" placeholder="Input placeholder"></app-input-text>
        </div>

        <div class="m-b-25">
          <app-input-text placeholder="Input placeholder" [disabled]="true">
            Input label
          </app-input-text>
        </div>

        <div class="m-b-25">
          <app-password placeholder="Input placeholder" value="12345">Password label</app-password>
        </div>

        <div class="m-b-25">
          <app-search placeholder="Search..." (onChange)="onSearch($event)"></app-search>
        </div>
        <div class="m-b-25">
          <div class="input-group">
            <app-input-text placeholder="Input placeholder"></app-input-text>
            <button class="btn btn-oval btn-oval_white"><span>Make</span></button>
          </div>
        </div>
        <div class="m-b-25">
          <div class="input-group input-group-with-label">
            <button class="btn btn-oval btn-oval_white"><span>Make</span></button>
            <app-input-text placeholder="Input placeholder">Input label</app-input-text>
          </div>
        </div>

      </td>
    </tr>

    <tr>
      <td>Textarea</td>
      <td>
        <div class="m-b-25">
          <app-textarea placeholder="Textarea placeholder"></app-textarea>
        </div>

        <div class="m-b-25">
          <app-textarea [placeholderType]="PLACEHOLDER_TYPE.MOVE" placeholder="Textarea placeholder"></app-textarea>
        </div>
      </td>
    </tr>

    <tr>
      <td>Select</td>
      <td>
        <div class="m-b-25">
          <app-select>
            <option></option>
            <option value="1">Var 1</option>
            <option value="2">Var 2</option>
            <option value="3">Var 3</option>
            <option value="4">Var 4</option>
          </app-select>
        </div>
        <div class="m-b-25">
          <app-select [placeholderType]="PLACEHOLDER_TYPE.MOVE" placeholder="Select placeholder">
            <option></option>
            <option value="1">Var 1</option>
            <option value="2">Var 2</option>
            <option value="3">Var 3</option>
            <option value="4">Var 4</option>
          </app-select>
        </div>
        <div class="m-b-25">
          <app-select [disabled]="true">
            <option value="1">Var 1</option>
            <option value="2">Var 2</option>
            <option value="3">Var 3</option>
            <option value="4">Var 4</option>
          </app-select>
        </div>
      </td>
    </tr>

    <tr>
      <td>Ng Select</td>
      <td>
        <div class="m-b-25">
          <ng-select [loading]="true" loadingText="Loading">
            <ng-option value="1">Var 1</ng-option>
            <ng-option value="2">Var 2</ng-option>
            <ng-option value="3">Var 3</ng-option>
            <ng-option value="4">Var 4</ng-option>
          </ng-select>
        </div>
        <div class="m-b-25">
          <ng-select [multiple]="true">
            <ng-option value="1">Var 1</ng-option>
            <ng-option value="2">Var 2</ng-option>
            <ng-option value="3">Var 3</ng-option>
            <ng-option value="4">Var 4</ng-option>
          </ng-select>
        </div>
      </td>
    </tr>

    <tr>
      <td>Checkbox</td>
      <td>
        <div class="m-b-25">
          <app-checkbox></app-checkbox>
        </div>
        <div class="m-b-25">
          <app-checkbox>Checkbox text</app-checkbox>
        </div>
        <div class="m-b-25">
          <app-checkbox [disabled]="true">Checkbox text</app-checkbox>
        </div>
      </td>
    </tr>

    <tr>
      <td>Switcher</td>
      <td>
        <app-switcher>
          <app-switch-btn [checked]="true" value="1" name="switcher">Switch 1</app-switch-btn>
          <app-switch-btn value="2" name="switcher">Switch 2</app-switch-btn>
          <app-switch-btn value="3" name="switcher">Switch 3</app-switch-btn>
        </app-switcher>
      </td>
    </tr>

    <tr>
      <td>Badges</td>
      <td>
        <div class="m-b-25">
          <app-badge name="Name" value="Value"></app-badge>
          <app-badge value="Value"></app-badge>
          <app-badge name="Name"></app-badge>
        </div>
      </td>
    </tr>

    <tr>
      <td>Accordion</td>
      <td>
        <div class="m-b-25">
          <app-accordion>

            <app-accordion-panel>
              <!--<app-accordion-panel [active]="true">-->
              <div heading>Where’s the money Lebowski?</div>
              <div>
                <p>His head is plunged back into the toilet.</p>
                <p>- Where's the money, Lebowski!</p>
              </div>
            </app-accordion-panel>

            <app-accordion-panel>
              <div heading>Can I try Orangear without credit card?</div>
              <div>
                <p>His head is plunged back into the toilet.</p>
                <p>- Where's the money, Lebowski!</p>
              </div>
            </app-accordion-panel>

          </app-accordion>
        </div>
      </td>
    </tr>

    <tr>
      <td>Pagination</td>
      <td>
        <div class="m-b-25">
          <app-pagination [showed]="5"
                          [pagination]="pagination"
                          (onChange)="changePage($event)">
          </app-pagination>
        </div>
      </td>
    </tr>

    <tr>
      <td>Modals</td>
      <td>
        <div class="m-b-25 modals">
          <button class="btn btn-oval btn-oval_orange" (click)="modalSm.open()"><span>Modal SM</span></button>
          <button class="btn btn-oval btn-oval_orange" (click)="modalMd.open()"><span>Modal MD</span></button>
          <button class="btn btn-oval btn-oval_orange" (click)="modalLg.open()"><span>Modal LG</span></button>
          <button class="btn btn-oval btn-oval_orange" (click)="confirmOpen()"><span>Confirm</span></button>
        </div>
      </td>
    </tr>

    <tr>
      <td>Notifications</td>
      <td>
        <div class="m-b-25 modals">
          <button class="btn btn-oval btn-oval_orange" (click)="notificationsService.success('Success message')">
            <span>Success</span>
          </button>
          <button class="btn btn-oval btn-oval_orange" (click)="notificationsService.error('Error message')">
            <span>Error</span>
          </button>
          <button class="btn btn-oval btn-oval_orange" (click)="notificationsService.warning('Warning message')">
            <span>Warning</span>
          </button>
          <button class="btn btn-oval btn-oval_orange" (click)="notificationsService.info('Info message')">
            <span>Info</span>
          </button>
        </div>
      </td>
    </tr>

    <!--<tr>-->
    <!--<td>-->
    <!--Loader-->
    <!--<button class="btn" (click)="toggleLoading()"><span>Toggle</span></button>-->
    <!--</td>-->
    <!--<td class="relative" [style.height.px]="200">-->
    <!--<loader [loading]="loading"></loader>-->
    <!--</td>-->
    <!--</tr>-->
    </tbody>
  </table>
</div>
<app-modal #modalSm size="sm">
  <div header><span>Modal header</span></div>
  <div class="tac">Modal small</div>
  <div footer>Modal footer</div>
</app-modal>
<app-modal #modalMd size="md">
  <div header><span>Modal header</span></div>
  <div class="tac">Modal middle</div>
  <div footer>Modal footer</div>
</app-modal>
<app-modal #modalLg size="lg">
  <div header><span>Modal header</span></div>
  <div class="tac">Modal large</div>
  <div footer>Modal footer</div>
</app-modal>
<app-confirm #confirm>Confirm?</app-confirm>
