.column-shrink-edit {
  padding-top: 7px;
}

.is-trial {
  color: #fff;
  font-size: 11px;
  background: #FF6915;
  border-radius: 10px;
  padding: 1px 10px 1px;
  text-transform: uppercase;
}

.extra-tool {
  .btn {
    display: block;
    width: 137px;

    & + .btn {
      margin-top: 5px;
    }
  }
}
