<div class="layers" id="manager-tenants">
  <div class="layer layer-filter layer--flex">

    <!--<div class="layer__left layer__btn">-->
      <!--<button class="btn btn-oval btn-oval_white" (click)="showProductNew()">-->
        <!--<i class="icon icon-plus icon&#45;&#45;left"></i>-->
        <!--<span>{{ "base.add-new" | translate }}</span>-->
      <!--</button>-->
    <!--</div>-->
    <div class="layer__right layer__filter">
      <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
    </div>

  </div>

  <div class="layer layer--flex">
    <!--<div class="layer__left layer__table-filter"></div>-->

    <div class="layer__right relative">

      <div *ngIf="list$ | async as pagination">
        <div *ngIf="pagination.items.length">
          <div class="table-grid table-grid-manager-tenants">
            <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
              <div class="table-grid__row">
                <div class="table-grid__cell cell-1">
                  <span class="table-grid__text">{{ "manager.projects.name" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">{{ "manager.projects.tenant" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-3">
                  <!--<span class="table-grid__text">{{ "manager.projects.tenant" | translate }}</span>-->
                </div>
                <div class="table-grid__cell cell-4">
                  <span class="table-grid__text">{{ "manager.projects.status" | translate }}</span>
                </div>
              </div>
              <!-- /.table-grid__row -->
            </div>

            <div class="table-grid__body">

              <div class="table-grid__row table-grid__row--hover" *ngFor="let project of pagination.items">

                <div class="table-grid__cell cell-1">
                  <a class="table-grid__text table-grid__link" (click)="showProjectInfo(project.id)">
                    {{ project.name }}
                    <span class="is-trial" *ngIf="project.trialPeriod.isActive">trial</span>
                  </a>
                </div>
                <div class="table-grid__cell cell-3">
                  <span class="table-grid__text">{{ project.tenant.showName }}</span>
                </div>
                <div class="table-grid__cell cell-2">
                  <div class="columns">
                    <div class="column column-grow"></div>
                    <div class="column column-shrink">
                      <div class="extra-tool">
                        <button *ngIf="project.isPending || project.isDeactivated"
                                class="btn btn-sm btn-oval btn-oval_white"
                                (click)="activateProject(project)">
                          <span>{{ "manager.projects.activate" | translate }}</span>
                        </button>
                        <button *ngIf="project.isPending || project.isActivated"
                                class="btn btn-sm btn-oval btn-oval_white"
                                (click)="deactivateProject(project)">
                          <span>{{ "manager.projects.deactivate" | translate }}</span>
                        </button>
                      </div>
                    </div>
                    <div class="column column-shrink column-shrink-edit">
                      <div class="extra-tool">

                        <button type="button" class="extra-tool__btn" (click)="showProjectEdit(project.id)">
                          <i class="icon icon-edit"></i>
                        </button>

                      </div>
                    </div>

                  </div>
                </div>
                <div class="table-grid__cell cell-4">

                  <div class="status">
                    <i class="icon icon-status" [ngClass]="{
                        'icon-status--red' : project.isPending,
                        'icon-status--green' : project.isActivated,
                        'icon-status--grey' : project.isDeactivated
                      }"></i>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <app-pagination
            [showed]="5"
            [filter]="filter"
            [pagination]="pagination">
          </app-pagination>
        </div>
        <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
          <h5>{{ "base.no-items" | translate }}</h5>
        </div>
      </div>

      <loader [loading]="loading"></loader>

    </div>

  </div>

</div>
