<div class="layers" id="manager-tenants">
  <div class="layer layer-filter layer--flex">

    <div class="layer__left layer__btn">
    <button class="btn btn-oval btn-oval_white" (click)="showRoleNew()">
    <i class="icon icon-plus icon--left"></i>
    <span>{{ "base.add-new" | translate }}</span>
    </button>
    </div>
    <div class="layer__right layer__filter">
      <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
    </div>

  </div>

  <div class="layer layer--flex">
    <div class="layer__left layer__table-filter"></div>

    <div class="layer__right relative">

      <div *ngIf="list$ | async as pagination">
        <div *ngIf="pagination.items.length">
          <div class="table-grid table-grid-manager-tenants">
            <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
              <div class="table-grid__row">
                <div class="table-grid__cell cell-1">
                  <span class="table-grid__text">{{ "manager.roles.name" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">{{ "manager.roles.permissions" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-3"></div>
                <div class="table-grid__cell cell-3"></div>
              </div>
              <!-- /.table-grid__row -->
            </div>

            <div class="table-grid__body">

              <div class="table-grid__row table-grid__row--hover" *ngFor="let role of pagination.items">

                <div class="table-grid__cell cell-1">
                  <a class="table-grid__text table-grid__link" (click)="showRoleInfo(role.id)">{{ role.name }}</a>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="permission" *ngFor="let perm of role.permissions">{{ perm.name }}</span>
                </div>
                <div class="table-grid__cell cell-3"></div>
                <div class="table-grid__cell cell-3">

                  <div class="columns">
                    <div class="column column-shrink">
                      <div class="extra-tool">

                        <button type="button" class="extra-tool__btn" (click)="showRoleEdit(role.id)">
                          <i class="icon icon-edit"></i>
                        </button>

                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <app-pagination
            [showed]="5"
            [filter]="filter"
            [pagination]="pagination">
          </app-pagination>
        </div>
        <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
          <h5>{{ "base.no-items" | translate }}</h5>
        </div>
      </div>

      <loader [loading]="loading"></loader>

    </div>

  </div>

</div>
