<div class="app-wrapper"
     [@routerTransition]="animationData"
     (@routerTransition.start)="onStartAnimation()"
     (@routerTransition.done)="onEndAnimation()">

  <app-header></app-header>

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <app-footer [ngClass]="{ animationInProgress : animationInProgress }"></app-footer>

</div>
