<app-router-modal #modal size="md">

  <div header *ngIf="!tenant?.id">
    <b>{{ "popups.tenant.form.title" | translate }}</b>
  </div>

  <div header *ngIf="tenant?.id">
    <b>edit</b>
    <span>{{ tenant.fullName }}</span>
  </div>

  <div class="modal__body">

    <form [formGroup]="form" class="modal__form" (submit)="submitForm()" onsubmit="return false">

      <div class="info-card">

        <div class="info-card__group" *ngIf="tenant?.id">
          <div class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">ID</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ tenant.id }}</span>
            </div>

          </div>
        </div>

        <div class="info-card__group">

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.status" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <ng-select [clearable]="false" formControlName="status">
                <ng-option [value]="TENANT_STATUS.PENDING">Pending</ng-option>
                <ng-option [value]="TENANT_STATUS.ACTIVE">Active</ng-option>
                <ng-option [value]="TENANT_STATUS.SUSPENDED">Suspended</ng-option>
                <ng-option [value]="TENANT_STATUS.DEACTIVATED">Deactivated</ng-option>
              </ng-select>
              <validation-message [control]="form.controls['status']"></validation-message>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" *hasPermission="[PERMISSIONS.ASSIGN_MANAGER]">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                Manager
              </label>
            </div>

            <div class="info-card__description">
              <app-manager-select formControlName="managerId" [filter]="managersFilter">
              </app-manager-select>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="person">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.first-name" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="firstName"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="person">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.last-name" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="lastName"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.email" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="email" [options]="{alias : 'email'}"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.phone" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="phone"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="address">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.country" | translate }}<sup>*</sup>
              </label>
            </div>

            <app-country-select formControlName="countryCode"></app-country-select>
          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="address">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.address" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="address"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="address">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.zip" | translate }}
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text [regexp]="REGEXPS.NUMERIC_OR_LETTERS" formControlName="zipCode"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.billing-address" | translate }}
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="billingAddress"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" formGroupName="billingInfo">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.invoice-email" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text [options]="{alias : 'email'}" formControlName="invoiceEmail"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">
                {{ "popups.tenant.form.representative.title" | translate }}
              </span>
            </div>

            <div class="info-card__description">
              <app-switcher formControlName="type" [parseInt]="true">
                <app-switch-btn [value]="TENANT_TYPE.SELF_EMPLOYED" name="representative">
                  {{ "popups.tenant.form.representative.individual" | translate }}
                </app-switch-btn>
                <app-switch-btn [value]="TENANT_TYPE.COMPANY" name="representative">
                  {{ "popups.tenant.form.representative.company" | translate }}
                </app-switch-btn>
              </app-switcher>

            </div>

          </div>

          <div *ngIf="showFromCompany" class="info-card__row info-card__row--flex" formGroupName="billingInfo">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.company" | translate }}<sup>*</sup>
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="company"></app-input-text>
            </div>

          </div>

          <div *ngIf="showFromCompany" class="info-card__row info-card__row--flex" formGroupName="billingInfo">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.tax" | translate }}
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text [regexp]="[REGEXPS.NUMERIC_FLOAT, REGEXPS.NUMBERS_AFTER_POINT(3)]"
                              formControlName="taxPercent"></app-input-text>
            </div>

          </div>

          <div *ngIf="showFromCompany" class="info-card__row info-card__row--flex" formGroupName="billingInfo">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.vat" | translate }}
              </label>
            </div>

            <div class="info-card__description">
              <app-input-text [regexp]="REGEXPS.NUMERIC" formControlName="vat"></app-input-text>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info align-self-start">
              <label class="info-card__text info-card__text--light-grey">
                {{ "base.labels.notes" | translate }}
              </label>
            </div>

            <div class="info-card__description">
              <app-textarea maxlength="2000" formControlName="notes"></app-textarea>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="c-center">
      <validation-message [control]="form"></validation-message>
    </div>

    <loader [loading]="loading"></loader>

  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button (click)="submitForm()"
              [disabled]="loading"
              [ngClass]="{ disabled : loading }"
              class="btn btn-oval btn-oval_orange">
        <span *ngIf="tenant?.id">{{ "base.save" | translate }}</span>
        <span *ngIf="!tenant?.id">{{ "base.create" | translate }}</span>
      </button>
    </div>
  </div>

</app-router-modal>
