<div class="layers" id="manager-mail">
  <div class="layer layer-filter layer--flex">
    <div class="layer__left layer__btn">
      <button class="btn btn-oval btn-oval_orange" type="button" (click)="mailboxNew.open()">
        <i class="icon icon-plus icon--left"></i>
        <span>{{ "mail.new" | translate }}</span>
      </button>
    </div>

    <div class="layer__right layer__filter">
      <div class="filter filter--flex">

        <div class="filter__results">
          <app-search
            [filter]="filter"
            [placeholder]="'base.search' | translate">
          </app-search>
        </div>

        <div class="filter__calendar">
          <app-range-datepicker [filter]="filter"></app-range-datepicker>
        </div>

      </div>

    </div>

  </div>

  <div class="layer layer--flex">
    <div class="layer__left layer__table-filter">
      <div class="table-filter">
        <button routerLinkActive="active" [routerLink]="['../inbox']" class="table-filter__btn">
          <span>{{ "mail.type.inbox" | translate }}</span>
        </button>
        <button routerLinkActive="active" [routerLink]="['../starred']" class="table-filter__btn">
          <span>{{ "mail.type.starred" | translate }}</span>
        </button>
        <button routerLinkActive="active" [routerLink]="['../sent']" class="table-filter__btn">
          <span>{{ "mail.type.sent" | translate }}</span>
        </button>
      </div>

    </div>

    <div class="layer__right" *ngIf="list$ | async as pagination">

      <div *ngIf="pagination.items.length">
        <div class="table-grid table-grid-manager-mail">
          <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
            <div class="table-grid__row">
              <div class="table-grid__cell cell-1">
                <span class="table-grid__text">{{ "mail.table.from-to" | translate }}</span>
              </div>
              <div class="table-grid__cell cell-2">
                <span class="table-grid__text">{{ "mail.table.subject" | translate }}</span>
              </div>
              <div class="table-grid__cell cell-3">
                <span class="table-grid__text">{{ "mail.table.date" | translate }}</span>
              </div>
            </div>

          </div>

          <div class="table-grid__body">

            <div class="table-grid__row table-grid__row--hover"
                 *ngFor="let item of pagination.items; trackBy: helpers.trackById">
              <div class="table-grid__cell--psevdo">
                <div class="extra-tool">
                  <button class="extra-tool__btn" [ngClass]="{ 'is-starred' : item.starred }" (click)="toggleStarred(item)">
                    <i class="icon icon-star"></i>
                  </button>
                </div>
              </div>
              <div class="table-grid__cell cell-1">
                <span class="table-grid__text"
                      [ngClass]="{ 'table-grid__text--bold' : !item.read }">
                  {{ item.fromName }}
                </span>
              </div>
              <div class="table-grid__cell cell-2 table-grid__cell--flex">
                <div class="col-30">
                  <span class="table-grid__text table-grid__string"
                        [ngClass]="{ 'table-grid__text--bold' : !item.read }">
                    {{ item.subject }}
                  </span>
                </div>
                <div class="col-70">
                  <span class="table-grid__text table-grid__text--color-light-grey table-grid__string-2">
                    {{ item.message }}
                  </span>
                </div>
              </div>
              <div class="table-grid__cell cell-3">
                <div class="extra-tool">
                  <button class="extra-tool__btn" (click)="readMail(item)">
                    <i class="icon icon-mail-open"></i>
                  </button>
                  <button class="extra-tool__btn" *ngIf="isManager" (click)="deleteMail(item)">
                    <i class="icon icon-bucket"></i>
                  </button>
                </div>
                <span class="table-grid__text" [ngClass]="{ 'table-grid__text--bold' : !item.read }">
                  {{ item.sentAt | date : "dd/MM/yy" }}
                </span>
              </div>
            </div>

          </div>

        </div>

        <app-pagination
          [filter]="filter"
          [showed]="5"
          [pagination]="pagination">
        </app-pagination>

      </div>

      <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
        <h5>{{ "base.no-items" | translate }}</h5>
      </div>

    </div>

  </div>

</div>

<loader [loading]="loading"></loader>

<app-mailbox-new #mailboxNew (success)="onSendMessage()"></app-mailbox-new>
<app-mailbox-info #mailboxInfo></app-mailbox-info>
<app-confirm #confirm>
  {{ "mail.confirm-delete" | translate }}
</app-confirm>
