.filter__results {
  padding-top: 0;
  padding-left: 0;
}

.extra-tool__btn {
  &.is-starred {
    i.icon {
      color: #F8C616;
    }
  }
}

.table-grid__row--hover {
  transition: 0s;
  &:hover {
    position: relative;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-left-color: #fff;
    font-weight: normal;

    .table-grid__cell--psevdo {
      transition: 0s;
      visibility: visible;
      opacity: 1;
      right: 100%;
    }

    .extra-tool {
      padding: 5px 0;
      height: 100%;
      display: flex;
      align-items: center;

      & + .table-grid__text {
        display: none !important;
      }
    }
  }
}
