<app-router-modal #modal>

  <div header>
    <b>Request</b>
    <span>{{ request.id }}</span>
  </div>

  <div class="constructor">
    <div class="constructor__head">
      <div class="columns columns--flex space-between">
        <div class="columns-second-level flex-grow">
          <div class="column column-width-style-1">
            <div class="form-detail">
              <label class="form-detail__subtitle">Tenant</label>
              <p class="form-detail__text">{{ request.tenant.showName }}</p>
            </div>
          </div>
          <div class="column column-width-style-1">
            <div class="form-detail">
              <span class="form-detail__subtitle">Project</span>
              <p class="form-detail__text">{{ request.project.name }}</p>
            </div>
          </div>
        </div>
        <div class="columns-second-level flex-shrink flex-basic-250">
          <div class="column">
            <div class="form-detail">
              <label class="form-detail__subtitle">Payer</label>
              <p class="form-detail__text">{{ request.payerName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="constructor__main">
      <div class="group-column">
        <div class="columns columns--flex space-between">
          <div class="columns-second-level flex-grow">
            <div class="column column-width-style-1">
              <label class="form-detail__subtitle">Product</label>
            </div>
            <div class="column column-width-style-2">
              <label class="form-detail__subtitle">Plan</label>
            </div>
            <div class="column column-width-style-3">
              <span class="form-detail__subtitle">Extra</span>
            </div>
          </div>
        </div>
      </div>
      <div class="columns columns--flex space-between" *ngFor="let product of request.items">
        <div class="columns-second-level flex-grow">
          <div class="column column-width-style-1">
            <div class="form-detail">
              <p class="form-detail__text">{{ product.product.name }}</p>
            </div>
          </div>
          <div class="column column-width-style-2">
            <div class="form-detail">
              <p class="form-detail__text">{{ product.productPlan.name }}</p>
            </div>
          </div>
          <div class="column column-width-style-3">
            <div class="form-detail">
              <p class="form-detail__text no-padding">
                <ng-container *ngFor="let extras of product.extraLimits">
                  +{{ extras.value }}
                </ng-container>
              </p>
            </div>
            <!-- /.productForm-detail -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div footer>
    <!--<div class="wrap-btn text-center">-->
    <!--<button type="button" class="btn btn-oval btn-oval_grey btn-icon-right">-->
    <!--<span>Download pdf</span>-->
    <!--<i class="icon icon-download"></i>-->
    <!--</button>-->
    <!--</div>-->
  </div>
</app-router-modal>


