.login-btn {
  margin-top: 30px !important;
}

.auth-form {
  a {
    color : #F8C616;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.auth-form__group-footer {
  margin-top: 20px !important;

  p {
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;

    a {
      color : #F8C616;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
