.input-group {

  display: flex;

  > :first-child:not(.btn) {
    width: 100%;
  }

  .form-detail__control {
    border-radius: 20px 0 0 20px;
  }

  .btn {
    border-radius: 0 20px 20px 0;
    //margin-top: 5px;
    white-space: nowrap;
  }

  &.input-group-with-label {
    .btn {
      margin-top: 17px;
    }
  }

  .btn:first-child {
    border-radius: 20px 0 0 20px;

    & + * {
      width: 100%;
      .form-detail__control {
        border-radius: 0 20px 20px 0;
      }
    }
  }
}

.recaptcha-group {
  max-width: 304px;
}

.info-card__description,
.form-detail {
  position: relative;


  .ng-select + validation-message,
  .form-detail__control + validation-message,
  .form-detail__group + validation-message {
    position: absolute;
    right: 0;
    bottom: 44px;

    .error {
      text-align: right !important;
    }
  }

  .ng-select + validation-message {
    bottom: 43px;
  }

  &.disabled {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 0;
      z-index: 10;
    }
  }
}

.search-control {
  .form-detail__control {
    background-image: url("../../assets/img/search.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    //border: 1px solid #C4C4C4;
  }
}

.form-detail__control.ng-invalid.ng-touched {
  border-color: #fe6829 !important;
}

.form-detail__subtitle {

  &.required {
    &:after {
      content: "*";
      color: #ff6915;
      font-size: 12px;
      top: 0;
      position: relative;
    }
  }

  sup {
    color: #ff6915;
    font-size: 12px;
    top: 0;
  }
}
