.relative {
  position: relative;
}

.hr {
  margin: 20px 0;
  height: 1px;
  border: none;
  background: #2C2C2C;
  opacity: .5;
}

.error {
  font-size: 10px;
  color: #fe6829;
  display: block;
  font-weight: 400;
  margin: 3px 0 0;
  text-align: left;
  div {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

//.field-error {
//  border-color: #fe6829;
//}

.no-items-found {
  margin-top: 30px;
}

.btn {

  &.btn-sm {
    height: 30px;
    padding: 0 20px;

    span {
      line-height: 30px;
    }
  }
}

.switcher {
  > * {
    flex: 1;
  }

  label {
    max-width: 100%;
  }
}


.modal__body {
  position: relative;
}

.c-center {
  text-align: center;
  padding: 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
