@import "ng-select";
@import "loader";
@import "helpers";
@import "forms";
@import "auth-form";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "ng-datepicker";
@import "modals";

app-root, app-wrapper {
  height: 100%;
}

body {
  overflow-y : scroll !important;

  &.open-modal {
    overflow-y: hidden !important;

    .main,
    .header,
    .footer {
      filter: blur(7px);
    }

  }
}

.table-grid {
  margin-bottom: 50px;
}

.grecaptcha-badge {
  display: none !important;
}

.form-detail__control {
  text-transform: none !important;
}

.layer__filter {
  z-index: 9 !important;
}

.cdk-global-scrollblock {
  body {
    overflow: hidden !important;
  }
}

.nav-menu__link {
  position: relative;
  .counter {
    display: block;
    position: absolute;
    top: 1px;
    left: 100%;
    margin-left: 3px;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    background: #F8C616;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 0 5px;
    font-weight: 300;
  }
}

//.header,
//.footer,
//.main {
//  transition: .2s;
//}
