.cdk-overlay-container {
  z-index: 99999;
}

.owl-dt-inline-container,
.owl-dt-popup-container {
  width: 18.2em;
  //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  box-shadow: none;

  .owl-dt-calendar {
    border: none;
  }

  .owl-dt-calendar-control {
    padding: 1em .5em 1.5em;

    .owl-dt-control-period-button {
      .owl-dt-control-button-arrow {
        display: none;
      }
    }
  }

  .owl-dt-calendar-table {

    .owl-dt-calendar-header {
      .owl-dt-calendar-table-divider {
        height: 0;
        padding-bottom: 0;
        display: none;
        &:after {
          background: #C4C4C4 !important;
          top: -30px;
        }
      }

      .owl-dt-weekdays {
        .owl-dt-weekday {
          padding-bottom: 5px;
          text-transform: uppercase;
          color: #C4C4C4;
        }
      }
    }

    .owl-dt-calendar-body {

      .owl-dt-calendar-cell {

        .owl-dt-calendar-cell-content {

          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #828282;

          &.owl-dt-calendar-cell-selected {
            background: #F8C616;
            box-shadow: none;
          }
        }

        &.owl-dt-calendar-cell-in-range {
          background: lighten(#828282, 15%);
          .owl-dt-calendar-cell-content {
            color: #fff;
            background: transparent;
          }
        }
      }
    }

    .owl-dt-calendar-cell-in-range {
      //background: transparent;
    }
  }

  .owl-dt-container-info {
    display: none;
  }
}

.owl-dt-popup-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px;
}
