.ng-select-container {
  background-image: url("../../assets/img/new/select-drop-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 16px;
  border-radius: 20px !important;
  border-color: #2C2C2C !important;
  height: 40px !important;

  .ng-arrow-wrapper {
    display: none;
  }

  .ng-value-label {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    line-height: 40px;
    font-size: 14px;
    padding-right: 25px;
    max-width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ng-clear-wrapper {
    position: absolute !important;
    z-index: 10;
    width: 17px !important;
    height: 17px !important;
    right: 30px;
    top: 50%;
    margin-top: -8px;

    .ng-clear {
      display: flex !important;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  .ng-value-container {
    height: 100%;
    padding-left: 15px !important;
    position: relative !important;
  }

  .ng-placeholder {
    font-size: 14px;
    height: 20px;
  }
}

.ng-input {
  height: 27px !important;
  padding-left: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    font-size: 14px !important;
    height: 20px !important;
  }
}

.ng-select-focused {
  .ng-select-container {
    box-shadow: none !important;
  }
}

.ng-dropdown-panel {
  border-color: #2C2C2C !important;
  overflow: auto;

  .ng-dropdown-panel-items {
    margin-bottom: 0;

    .ng-option {
      font-size: 14px;
      padding-left: 15px;

      &-marked {
        background-color: lighten(#DEDEDE, 6%) !important;
      }

      &-selected {
        background-color: #DEDEDE !important;
        span {
          font-weight: 400 !important;
        }
      }
    }
  }
}

.ng-select.ng-invalid.ng-touched {
  .ng-select-container {
    border-color: #fe6829 !important;
  }
}

.ng-select-opened {
  &.ng-select-bottom {
    .ng-select-container {
      border-radius: 20px 20px 0 0 !important;
    }
    .ng-dropdown-panel {
      border-radius: 0 0 20px 20px !important;
      border-top-color: #C4C4C4 !important;
    }
  }

  &.ng-select-top {
    .ng-select-container {
      border-radius: 0 0 20px 20px !important;
    }
    .ng-dropdown-panel {
      border-radius: 20px 20px 0 0 !important;
      border-bottom-color: #C4C4C4 !important;
    }
  }

  .ng-clear-wrapper {
    display: none !important;
  }
}

.ng-select.ng-select-multiple {
  .ng-select-container {
    min-height: 40px !important;
    height: auto !important;

    .ng-value-container {
      padding: 3px 25px 0 3px !important;
      .ng-value {
        background: #DEDEDE !important;
        border: none;
        height: 32px !important;
        overflow: hidden;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        padding: 0 10px;
        margin-right: 3px !important;
        margin-bottom: 3px !important;
      }
      .ng-value-icon {
        border: none !important;
        font-size: 15px;
        &:hover {
          opacity: .8;
          background: transparent !important;
        }
      }

      .ng-placeholder {
        padding-left: 12px;
      }
    }
  }
}

.ng-spinner-loader {
  position: absolute !important;
  right: 6px;
  top: 10px;
}
