.modal {
  z-index: 10000;
}

.hidden {
  display: none !important;
}

.modal__content {
  position: relative;
}

.modal.show {
  overflow-y: scroll !important;
}

.modal.overflow-hidden {
  overflow: hidden !important;
}

.modal-msm {

  .modal__content {
    max-width: 360px;
  }
}

.modal__close {
  top: 30px;
}
