<div #modalContainer>
  <div #modalMove class="modal-container-move">

    <div #modal
         *ngIf="_showed"
         class="modal modal-{{ size }} show ps {{ customClass }}"
         [@modalFadeAnimation]="_showed"
         (@modalFadeAnimation.start)="_animationStart($event)"
         (@modalFadeAnimation.done)="_animationDone($event)">
      <div class="modal__dialog" *ngIf="_showed" (click)="clickOverlay($event.target)">
        <div class="modal__content">

          <div class="modal__header" *ngIf="header">

            <div class="modal__title">
              <ng-content select="[header]"></ng-content>
            </div>

          </div>

          <button type="button" class="modal__close" *ngIf="closable" (click)="close()">
            <i class="icon icon-close"></i>
          </button>


          <div class="modal__constructor">
            <ng-content></ng-content>
          </div>

          <div class="modal__footer" *ngIf="footer">
            <ng-content select="[footer]"></ng-content>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
