<div class="layers" id="manager-tenants">
  <div class="layer layer-filter layer--flex">

    <div class="layer__left layer__btn">
      <button class="btn btn-oval btn-oval_white" (click)="showProductNew()">
        <i class="icon icon-plus icon--left"></i>
        <span>{{ "base.add-new" | translate }}</span>
      </button>
    </div>
    <div class="layer__right layer__filter">
      <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
    </div>

  </div>

  <div class="layer layer--flex">
    <div class="layer__left layer__table-filter"></div>

    <div class="layer__right" *ngIf="list$ | async as pagination">

      <div *ngIf="pagination.items.length">
        <div class="table-grid table-grid-manager-tenants">
          <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
            <div class="table-grid__row">
              <div class="table-grid__cell cell-1">
                <span class="table-grid__text">{{ "manager.products.name" | translate }}</span>
              </div>
              <div class="table-grid__cell cell-2">
                <span class="table-grid__text">{{ "manager.products.description" | translate }}</span>
              </div>
              <div class="table-grid__cell cell-3">
                <span class="table-grid__text" *hasPermission="[PERMISSIONS.MANAGE_PRODUCT_PLANS]">
                  {{ "manager.products.plans" | translate }}
                </span>
              </div>
              <div class="table-grid__cell cell-4">
                <span class="table-grid__text">{{ "manager.products.status" | translate }}</span>
              </div>
            </div>
            <!-- /.table-grid__row -->
          </div>

          <div class="table-grid__body">

            <div class="table-grid__row table-grid__row--hover" *ngFor="let product of pagination.items">

              <div class="table-grid__cell cell-1">
                <a class="table-grid__text table-grid__link" (click)="showProductInfo(product.id)">{{ product.name }}</a>
              </div>

              <div class="table-grid__cell cell-2">
                <span class="table-grid__text">{{ product.shortDescription }}</span>
              </div>

              <div class="table-grid__cell cell-3">

                <div class="columns">


                  <div class="column column-grow">

                    <div *hasPermission="[PERMISSIONS.MANAGE_PRODUCT_PLANS]">

                      <button class="btn btn-sm btn-oval btn-oval_white"
                              (click)="showProductPlanNew(product.id)">
                        <span>Add+</span>
                      </button>

                      <div class="plan-list" *ngIf="product.productPlans.length">
                        <div *ngFor="let plan of product.productPlans; let i=index">

                          <a class="table-grid__text table-grid__link"
                             [ngClass]="{ 'plan-is-disabled' : !plan.active }"
                             (click)="showProductPlanInfo(product.id, plan.id)">
                            {{ i+1 }}. {{ plan.name }}
                          </a>

                          <a class="table-grid__text table-grid__link" *ngIf="plan.active"
                             (click)="showProductPlanEdit(product.id, plan.id)">
                            <i class="icon icon-edit"></i>
                          </a>
                          <a class="table-grid__text table-grid__link" *ngIf="plan.active"
                             (click)="deletePlan(product.id, plan.id)">
                            <i class="icon icon-bucket"></i>
                          </a>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="column column-shrink">
                    <div class="extra-tool">

                      <button type="button" class="extra-tool__btn" (click)="showProductEdit(product.id)">
                        <i class="icon icon-edit"></i>
                      </button>

                      <button class="extra-tool__btn" (click)="deleteProduct(product.id)">
                        <i class="icon icon-bucket"></i>
                      </button>

                    </div>
                  </div>

                </div>

              </div>

              <div class="table-grid__cell cell-4">

                <div class="status">
                  <i class="icon icon-status" [ngClass]="{
                        'icon-status--green' : product.isActive,
                        'icon-status--grey' : product.isInactive
                      }"></i>
                </div>

              </div>

            </div>

          </div>

        </div>

        <app-pagination
          [showed]="5"
          [filter]="filter"
          [pagination]="pagination">
        </app-pagination>
      </div>
      <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
        <h5>{{ "base.no-items" | translate }}</h5>
      </div>

    </div>

  </div>

</div>

<loader [loading]="loading"></loader>

<app-confirm #confirm>
  {{ "manager.products.confirm-delete-product" | translate }}
</app-confirm>

<app-confirm #confirmPlan>
  {{ "manager.products.confirm-delete-plan" | translate }}
  <div class="error">
    {{ "manager.products.delete-plan-message" | translate }}
  </div>
</app-confirm>
