<app-modal #createModal size="md">

  <div header>
    <b>New letter</b>
  </div>

  <div class="modal__body">
    <form [formGroup]="form" onsubmit="return false" class="modal__form">
      <div class="form-detail" *ngIf="isManager">
        <app-tenant-select [placeholder]="'mail.popup.from-to' | translate" formControlName="to"></app-tenant-select>
      </div>

      <div class="form-detail">
        <app-input-text [placeholder]="'mail.popup.subject' | translate" formControlName="subject"></app-input-text>
      </div>

      <div class="form-detail">
        <app-textarea [placeholder]="'mail.popup.keywords' | translate" formControlName="message"></app-textarea>
      </div>

    </form>
  </div>

  <loader [loading]="loading"></loader>

  <div footer>
    <div class="wrap-btn text-center">
      <button type="button" class="btn btn-oval btn-oval_orange" (click)="send()">
        <span>Send</span>
      </button>
    </div>
  </div>

</app-modal>
