.home-banner {
  background: #2C2C2C;
  text-align: center;
  padding: 35px 10px;

  h1 {
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 0;

    a {
      color: #F8C616;
    }
  }

  p {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0 0;

    color: #C4C4C4;
  }
}
