<app-router-modal #modal size="md">

  <div header>
    <b>role</b>
    <span>{{ role.name }}</span>
  </div>

  <div class="modal__body">
    <div class="info-card">
      <div class="info-card__group">
        <ul class="info-card__list">
          <li class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">ID</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ role.id }}</span>
            </div>

          </li>
        </ul>
      </div>

      <div class="info-card__group">
        <ul class="info-card__list">

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Permissions</span>
            </div>

            <div class="info-card__description">
              <span class="permission" *ngFor="let perm of role.permissions">{{ perm.name }}</span>
            </div>

          </li>

        </ul>

      </div>

    </div>
  </div>

</app-router-modal>
