<div class="columns columns--flex space-between" [formGroup]="form">

  <div class="columns-second-level flex-grow">

    <div class="column column-width-style-1">
      <app-product-select [limit]="100"
                          [excludeProducts]="excludeProducts"
                          formControlName="productId"
                          [placeholder]="'builder.product-placeholder' | translate"
                          (change)="setProduct($event)">
        {{ "builder.product" | translate }}
      </app-product-select>
    </div>

    <div class="column column-width-style-2">
      <div class="form-detail">
        <label class="form-detail__subtitle">Plan</label>
        <ng-select [clearable]="false"
                   [items]="product?.productPlans"
                   formControlName="productPlan"
                   [placeholder]="'builder.plan-placeholder' | translate"
                   (change)="emitChange()"
                   bindLabel="name">
        </ng-select>
        <validation-message [control]="form.get('productPlan')"></validation-message>
      </div>
    </div>

    <div class="column column-width-style-3"
         formGroupName="extraLimits"
         *ngIf="productLimit?.extras?.length && !withoutOffers">
      <div class="form-detail" [formArrayName]="0">
        <span class="form-detail__subtitle">{{ "builder.extra" | translate }} {{ productLimit?.name }}</span>
        <ng-select [searchable]="false"
                   [items]="productLimit?.extras"
                   (change)="emitChange()"
                   [clearable]="true"
                   (clear)="onClear()"
                   formControlName="value">

        </ng-select>
        <validation-message [control]="productExtraForm?.get('value')"></validation-message>
      </div>
    </div>

    <button class="extra-tool__btn remove-btn" *ngIf="product?.productLimits?.length" (click)="removeItem()">
      <i class="icon icon-bucket"></i>
    </button>

  </div>

  <div class="columns-second-level flex-shrink flex-basic-200">
    <div class="column">
      <div class="price">
        <div class="price__group price__group--flex disabled">
          <span class="price__number">$ {{ productPrice || '0.00' }}</span>
        </div>
      </div>
    </div>
  </div>

  <loader [loading]="loading"></loader>
</div>
