<app-router-modal #modal size="md">

  <div header>
    <b>product</b>
    <span>{{ productPlan.name }}</span>
  </div>

  <div class="modal__body">
    <div class="info-card">
      <div class="info-card__group">
        <ul class="info-card__list">
          <li class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">ID</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ productPlan.id }}</span>
            </div>

          </li>
        </ul>
      </div>

      <div class="info-card__group">
        <ul class="info-card__list">

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Name</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ productPlan.name }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Description</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ productPlan.description }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Amount</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ productPlan.price.amount }}</span>
            </div>

          </li>
          <li class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Currency</span>
            </div>

            <div class="info-card__description">
              <span class="info-card__text">{{ productPlan.price.currency }}</span>
            </div>

          </li>

          <li class="info-card__row info-card__row--flex limits-block">

            <div class="info-card__info">
              <span class="info-card__text info-card__text--light-grey">Limits </span>
            </div>

            <div class="info-card__description">

              <div *ngFor="let limit of productPlan.limits; let i=index">

                <hr class="hr" *ngIf="i !== 0">

                <div class="info-card__row info-card__row--flex">

                  <div class="info-card__info">
                    <span class="info-card__text info-card__text--light-grey">Name</span>
                  </div>

                  <div class="info-card__description">
                    <span class="info-card__text">{{ limit.name }}</span>
                  </div>

                </div>

                <div class="info-card__row info-card__row--flex">

                  <div class="info-card__info">
                    <span class="info-card__text info-card__text--light-grey">Value</span>
                  </div>

                  <div class="info-card__description">
                    <span class="info-card__text">{{ limit.value }}</span>
                  </div>

                </div>
              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>
  </div>

</app-router-modal>
