<div class="layers" id="manager-tenants">
  <div class="layer layer-filter layer--flex">
    <div class="layer__left layer__btn" *hasPermission="[PERMISSIONS.MANAGE_MANAGERS]">
      <button class="btn btn-oval btn-oval_white" (click)="showManagerNew()">
        <i class="icon icon-plus icon--left"></i>
        <span>{{ "base.add-new" | translate }}</span>
      </button>
    </div>
    <div class="layer__right layer__filter">
      <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
    </div>
  </div>

  <div class="layer layer--flex">
    <div class="layer__left layer__table-filter" *hasPermission="[PERMISSIONS.MANAGE_MANAGERS]"></div>

    <div class="layer__right relative">

      <div *ngIf="list$ | async as pagination">
        <div *ngIf="pagination.items.length">
          <div class="table-grid table-grid-manager-tenants">
            <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
              <div class="table-grid__row">
                <div class="table-grid__cell cell-1">
                  <span class="table-grid__text">{{ "manager.managers.name" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">{{ "manager.managers.email" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-3">
                  <span class="table-grid__text">{{ "manager.managers.skype" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-4">
                  <span class="table-grid__text">{{ "manager.managers.status" | translate }}</span>
                </div>
              </div>
              <!-- /.table-grid__row -->
            </div>

            <div class="table-grid__body">

              <div class="table-grid__row" *ngFor="let manager of pagination.items">

                <div class="table-grid__cell cell-1">
                  <a (click)="showManagerInfo(manager.id)" class="table-grid__text table-grid__link">{{ manager.fullName }}</a>
                </div>

                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">{{ manager.email }}</span>
                </div>

                <div class="table-grid__cell cell-3">
                  <div class="columns">

                    <div class="column column-grow">
                    <span class="table-grid__text table-grid__text--color-light-grey">
                      {{ manager.skype }}
                    </span>
                    </div>

                    <div class="column column-shrink" *hasPermission="[PERMISSIONS.MANAGE_MANAGERS]">
                      <div class="extra-tool" *ngIf="!itsMe(manager.id)">

                        <button type="button" class="extra-tool__btn" (click)="showManagerEdit(manager.id)">
                          <i class="icon icon-edit"></i>
                        </button>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="table-grid__cell cell-4">
                  <div class="status">
                    <i class="icon icon-status" [ngClass]="{
                  'icon-status--green' : manager.isActiveStatus,
                  'icon-status--red' : manager.isInactiveStatus
                }"></i>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <app-pagination
            [showed]="5"
            [filter]="filter"
            [pagination]="pagination">
          </app-pagination>
        </div>
        <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
          <h5>{{ "base.no-items" | translate }}</h5>
        </div>
      </div>

      <loader [loading]="loading"></loader>

    </div>

  </div>

</div>
