<article class="article article--light-grey">
  <header class="article__head">
    <span class="article__title">{{ item?.name }}</span>
  </header>
  <div class="article__body">
    <p class="article__text">{{ item?.shortDescription }}</p>
  </div>
  <footer class="article__footer">
    <a *ngIf="item?.landingLink" target="_blank" [href]="item?.landingLink" class="article__link">
      {{ "tenant.store.learn-more" | translate }}
    </a>
    <button *ngIf="!item?.comingSoon && !disabledBuy" type="button" class="btn btn-oval btn-oval_white" (click)="click()">
      <span>{{ "tenant.store.buy" | translate }}</span>
    </button>
    <button *ngIf="item?.comingSoon" type="button" class="btn btn-oval btn-oval_white coming-soon disabled" disabled>
      <span>{{ "tenant.store.coming-soon" | translate }}</span>
    </button>
  </footer>
</article>
