.article {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  max-width: 100%;

  &:nth-of-type(3n+3) {
    margin-right: 0;
  }

  &:hover {
    .article__link {
      color: #2C2C2C;
    }
  }

  .article__body {
    min-height: 150px;
  }

  .article__text {
    font-family: "Montserrat", sans-serif;
  }

  .article__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .article__link {
    &:hover {
      color: #F8C616;
    }
  }

  .btn.coming-soon {
    background: #fff;
    cursor: default;
  }
}
