<div class="constructor__main">
  <div class="group-column">

    <app-product-item *ngFor="let item of items; let i=index"
                      [item]="item"
                      [excludeProducts]="excludeProducts"
                      [withoutOffers]="withoutOffers"
                      (onRemoveCLick)="removeFormItem(i)"
                      (onFormChange)="replaceForm($event, i)">
    </app-product-item>

  </div>
  <!-- /.group-column -->
</div>
<loader [loading]="loading"></loader>
