<div class="home-statistic">
  <h5>Your projects quick info</h5>

  <div class="table-grid">
    <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
      <div class="table-grid__row">

        <div class="table-grid__cell cell-1">
          <span class="table-grid__text">Name</span>
        </div>

        <div class="table-grid__cell cell-2">
          <span class="table-grid__text">Subscription <br/>expiration</span>
        </div>

        <div class="table-grid__cell cell-3">
          <span class="table-grid__text">Monthly <br/>income</span>
        </div>

      </div>
      <!-- /.table-grid__row -->
    </div>


    <div class="not-found">
      <h4>Nothing to show here yet</h4>
      <p>Add your first projects to see quick info about it here</p>
    </div>

  </div>
</div>
