<div class="form-detail" [ngClass]="{ disabled : disabled }">
  <div class="form-detail__group">

    <span class="form-detail__subtitle">
      <ng-content></ng-content>
    </span>

    <input type="text"
           #input
           [formControl]="control"
           [value]="value"
           class="form-detail__control {{ placeholderType }} {{ customClass }}"
           [ngClass]="{ focus : value }"
           [placeholder]="isStaticType ? placeholder : ''"
           [attr.maxlength]="maxlength"
           [attr.disabled]="disabled ? true : null"
           (focus)="markAsTouched()"
           (input)="propagateChange($event.target.value)"
           (keypress)="onKeyPress($event)">

    <span class="form-detail__placeholder" *ngIf="isMovedType">{{ placeholder }}</span>

    <button type="button" class="form-detail__clear" *ngIf="!disabled" (click)="clearValue()">
      <i class="icon icon-close"></i>
    </button>
  </div>

  <validation-message [control]="control"></validation-message>

</div>
