<footer class=footer>
  <div class="footer__container">
    <a href="https://orangear.com/" target="_blank" rel="noreferrer" class="footer__logo">
      <svg width="131" height="30" viewBox="0 0 131 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="130.501" height="30" fill="black" fill-opacity="0"></rect>
        <rect width="30.4498" height="30" fill="black" fill-opacity="0"></rect>
        <path
          d="M30.4498 15C30.4498 6.7234 23.6256 0 15.2249 0C6.82421 0 0 6.7234 0 15C0 23.2766 6.82421 30 15.2249 30C18.6802 30 21.8548 28.8723 24.403 26.9574H14.8362C8.31431 26.766 3.06658 21.4894 3.06658 15C3.06658 8.38298 8.50867 3.04255 15.2033 3.04255C21.79 3.04255 27.1457 8.19149 27.34 14.6383V24.0426C29.3052 21.5319 30.4498 18.4043 30.4498 15Z"
          fill="#828282"></path>
        <path
          d="M22.8274 22.4895V16.1917H18.0979C17.6012 17.3193 16.4567 18.1066 15.1177 18.1066C13.3253 18.1066 11.8568 16.681 11.8568 14.8938C11.8568 13.1278 13.3037 11.681 15.1177 11.681C16.2407 11.681 17.2341 12.2555 17.8172 13.1066H22.5898C21.7908 9.78742 18.7458 7.31934 15.1177 7.31934C10.8634 7.31934 7.42969 10.7236 7.42969 14.8938C7.42969 18.9364 10.6474 22.2342 14.6858 22.4683V22.4895H22.8274Z"
          fill="#828282"></path>
        <rect width="91.1377" height="11.0426" fill="black" fill-opacity="0"
              transform="translate(39.3633 9.02148)"></rect>
        <path
          d="M49.0267 18.4898C47.9315 19.5536 46.6001 20.0642 45.011 20.0642C43.4219 20.0642 42.069 19.5323 40.9953 18.4898C39.9001 17.4259 39.3633 16.1281 39.3633 14.5536C39.3633 12.9791 39.9001 11.6813 40.9953 10.6174C42.0905 9.55361 43.4219 9.04297 45.011 9.04297C46.6001 9.04297 47.953 9.57488 49.0267 10.6174C50.1219 11.6813 50.6587 12.9791 50.6587 14.5536C50.6802 16.1281 50.1219 17.4259 49.0267 18.4898ZM48.2107 14.5536C48.2107 13.5962 47.91 12.7876 47.2873 12.1281C46.6645 11.4472 45.9129 11.1281 45.011 11.1281C44.1091 11.1281 43.3575 11.4685 42.7347 12.1281C42.112 12.8089 41.8113 13.6174 41.8113 14.5536C41.8113 15.5111 42.112 16.3196 42.7347 16.9791C43.3575 17.6387 44.1091 17.9791 45.011 17.9791C45.9129 17.9791 46.6645 17.6387 47.2873 16.9791C47.91 16.3196 48.2107 15.5111 48.2107 14.5536Z"
          fill="#828282"></path>
        <path
          d="M61.4393 12.8305C61.4393 14.5327 60.7521 15.639 59.3992 16.1497L62.1264 19.9582H59.163L56.7793 16.5539H55.1258V19.9582H52.7207V9.27734H56.8008C58.4758 9.27734 59.6784 9.55394 60.387 10.1071C61.0742 10.6816 61.4393 11.5965 61.4393 12.8305ZM58.5402 14.0859C58.8409 13.8305 58.9912 13.405 58.9912 12.8305C58.9912 12.2561 58.8409 11.8518 58.5188 11.639C58.2181 11.4263 57.6813 11.3199 56.9082 11.3199H55.1043V14.4901H56.8652C57.6813 14.4901 58.2396 14.3624 58.5402 14.0859Z"
          fill="#828282"></path>
        <path
          d="M71.5758 19.9584L70.5665 17.6605H66.0569L65.0691 19.9584H62.4922L67.1521 9.29883H69.4713L74.1312 19.9584H71.5758ZM68.3332 12.469L66.9803 15.5754H69.6861L68.3332 12.469Z"
          fill="#828282"></path>
        <path
          d="M82.9125 9.27734H85.3176V19.9369H82.9125L77.7801 13.2561V19.9369H75.375V9.27734H77.6298L82.9125 16.1497V9.27734Z"
          fill="#828282"></path>
        <path
          d="M94.9613 14.5321H97.3879V18.2981C96.3141 19.4683 94.8324 20.064 92.9427 20.064C91.3536 20.064 90.0437 19.5534 88.9699 18.5108C87.8962 17.4683 87.3594 16.1704 87.3594 14.5747C87.3594 13.0002 87.8962 11.6811 88.9914 10.6172C90.0866 9.5534 91.3965 9.02148 92.9427 9.02148C94.4888 9.02148 95.8417 9.53212 96.9799 10.5321L95.7343 12.3194C95.2619 11.8938 94.811 11.6172 94.4029 11.447C93.9949 11.2981 93.5654 11.213 93.093 11.213C92.1696 11.213 91.418 11.5108 90.7738 12.1279C90.151 12.7449 89.8289 13.5534 89.8289 14.5534C89.8289 15.5534 90.1296 16.3619 90.7308 16.9789C91.3321 17.5747 92.0408 17.8938 92.8783 17.8938C93.7158 17.8938 94.4029 17.7449 94.9613 17.4257V14.5321Z"
          fill="#828282"></path>
        <path
          d="M107.287 9.27734V11.405H101.919V13.5965H106.751V15.6178H101.919V17.8305H107.459V19.9369H99.5352V9.27734H107.287Z"
          fill="#828282"></path>
        <path
          d="M117.273 19.9584L116.264 17.6605H111.754L110.745 19.9584H108.189L112.849 9.29883H115.169L119.829 19.9584H117.273ZM114.03 12.469L112.678 15.5754H115.383L114.03 12.469Z"
          fill="#828282"></path>
        <path
          d="M129.814 12.8305C129.814 14.5327 129.127 15.639 127.774 16.1497L130.501 19.9582H127.538L125.154 16.5539H123.479V19.9582H121.074V9.27734H125.154C126.829 9.27734 128.032 9.55394 128.741 10.1071C129.449 10.6816 129.814 11.5965 129.814 12.8305ZM126.915 14.0859C127.216 13.8305 127.366 13.405 127.366 12.8305C127.366 12.2561 127.216 11.8518 126.894 11.639C126.593 11.4263 126.056 11.3199 125.283 11.3199H123.479V14.4901H125.24C126.056 14.4901 126.615 14.3624 126.915 14.0859Z"
          fill="#828282"></path>
      </svg>
    </a>
    <!-- /.footer__logo -->
    <div class="footer__social social">
      <a href="https://medium.com/@OrangearCompany" class="footer__social-item" target="_blank" rel="noreferrer">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10 20C15.5234 20 20 15.5234 20 10C20 4.47656 15.5234 0 10 0C4.47662 0 0 4.47656 0 10C0 15.5234 4.47662 20 10 20ZM7.65656 5.56787L10.2144 11.1196L12.4688 5.56787H15.5902V5.74023L14.5931 6.72998V13.3145L15.5468 14.3042V14.4766H11.1248V14.3042L12.1219 13.3145V8.10693L9.60742 14.4766H9.21729L6.26923 8.10693V12.583L7.61316 14.3042V14.4766H4.23163V14.3042L5.57556 12.626V7.20312L4.36169 5.69678V5.56787H7.65656Z"
                fill="#828282"></path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/company/orangear/" class="footer__social-item" target="_blank" rel="noreferrer">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.0468 8.75293V8.77539H11.0245L11.0468 8.75293Z" fill="#828282"></path>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10 20C15.5234 20 20 15.5234 20 10C20 4.47656 15.5234 0 10 0C4.47662 0 0 4.47656 0 10C0 15.5234 4.47662 20 10 20ZM15.9688 14.9224V10.8018C15.9688 8.59717 14.7884 7.57275 13.2071 7.57275C11.9376 7.57275 11.3585 8.26318 11.0468 8.75293V7.72852H8.6637C8.68597 8.41895 8.6637 14.9224 8.6637 14.9224H11.069V10.9136C11.069 10.6904 11.069 10.4678 11.1581 10.312C11.3363 9.88867 11.7149 9.44336 12.3831 9.44336C13.2516 9.44336 13.5857 10.1113 13.5857 11.0693V14.9224H15.9688ZM4.81067 5.52344C4.81067 4.81104 5.34521 4.27637 6.16925 4.27637C6.99329 4.27637 7.50555 4.81104 7.50555 5.52344C7.50555 6.21387 6.97101 6.771 6.14697 6.771H6.12469C5.32294 6.771 4.81067 6.21387 4.81067 5.52344ZM7.34967 14.9224H4.96655V7.72852H7.34967V14.9224Z"
                fill="#828282"></path>
        </svg>
      </a>
      <a href="https://twitter.com/OrangearCompany" class="footer__social-item" target="_blank" rel="noreferrer">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10 20C15.5234 20 20 15.5234 20 10C20 4.47656 15.5234 0 10 0C4.47662 0 0 4.47656 0 10C0 15.5234 4.47662 20 10 20ZM14.7439 7.57227C15.2338 7.50537 15.7015 7.39404 16.1247 7.19385C15.7906 7.66113 15.3898 8.08447 14.9221 8.41846V8.73047C14.9221 11.8931 12.5167 15.5234 8.12921 15.5234C6.79291 15.5234 5.52338 15.1226 4.47662 14.4541C4.67706 14.4766 4.85522 14.4766 5.05566 14.4766C6.16925 14.4766 7.19379 14.0977 8.01782 13.4521C6.97107 13.4521 6.10248 12.7617 5.79065 11.8037C5.92426 11.8262 6.0802 11.8486 6.23608 11.8486C6.45667 11.8486 6.65533 11.8047 6.85382 11.7607L6.85968 11.7593C5.76837 11.5366 4.94434 10.5791 4.94434 9.4209V9.39844C5.27838 9.57666 5.63477 9.66602 6.03564 9.68799C5.38977 9.26514 4.96661 8.52979 4.96661 7.70605C4.96661 7.26025 5.10022 6.85938 5.30066 6.50342C6.48108 7.95068 8.24054 8.90869 10.2227 8.99756C10.1782 8.8418 10.1559 8.64111 10.1559 8.46338C10.1559 7.14893 11.225 6.08008 12.539 6.08008C13.2294 6.08008 13.8307 6.36963 14.2762 6.8374C14.8107 6.72607 15.3229 6.52539 15.7906 6.2583C15.6125 6.81494 15.2338 7.28271 14.7439 7.57227Z"
                fill="#828282"></path>
        </svg>
      </a>
      <a href="https://www.facebook.com/orangearcompany" class="footer__social-item" target="_blank" rel="noreferrer">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 0C4.47661 0 0 4.47661 0 10C0 15.5011 4.47661 20 10 20C15.5011 20 20 15.5234 20 10C20 4.47661 15.5011 0 10 0ZM12.4722 10.3563H10.8463V16.147H8.44098V10.3563H7.30512V8.30735H8.44098V6.99332C8.44098 6.03563 8.88641 4.5657 10.8686 4.5657H12.6503V6.54788H11.3586C11.1581 6.54788 10.8463 6.65924 10.8463 7.10468V8.30735H12.6726L12.4722 10.3563Z"
            fill="#828282"></path>
        </svg>
      </a>
    </div>
    <div class="footer__links">
      <a href="https://orangear.com/privacy" target="_blank" rel="noreferrer" class="footer__links-item">{{ "footer.privacy" | translate }}</a>
      <a href="https://orangear.com/terms" target="_blank" rel="noreferrer" class="footer__links-item">{{ "footer.terms" | translate }}</a>
    </div>
    <div class="footer__copy">&copy;&nbsp;2017 - {{ currentYear }} ORANGEAR</div>
  </div>

</footer>

