<div class="sections">

  <section class="sec">
    <span class="sec__title">{{ "manager.mail.title" | translate }}</span>
    <form action="" class="sec__form" onsubmit="return false" [formGroup]="form" (submit)="submit()">

      <div class="form-detail">
        <app-subscribers-select
          formControlName="emails"
          [placeholder]="'manager.mail.recipients' | translate"
          [multiple]="true">
        </app-subscribers-select>
      </div>

      <div class="form-detail">
        <app-input-text
          formControlName="subject"
          [placeholder]="'manager.mail.subject' | translate">
        </app-input-text>
      </div>

      <div class="form-detail">
        <app-textarea
          formControlName="body"
          [placeholder]="'manager.mail.message' | translate">
        </app-textarea>
      </div>

      <div class="form-detail">
        <validation-message [control]="form.get('email')"></validation-message>
      </div>

      <div class="form-detail">
        <button class="btn btn-oval btn-oval_orange" type="submit">
          <span>{{ "manager.mail.submit" | translate }}</span>
        </button>
      </div>

    </form>
  </section>

  <section class="sec" *hasPermission="[PERMISSIONS.MANAGE_MAIL_GROUPS]">
    <app-mailing-groups #mailingGroups (onChange)="setGroups($event)"></app-mailing-groups>
  </section>

  <loader [loading]="loading"></loader>

  <!--<section class="sec">-->
    <!--<app-mailing-history></app-mailing-history>-->
  <!--</section>-->

</div>
