<app-modal #modal size="sm">

  <div header>
    <span>&nbsp;</span>
  </div>

  <div class="modal__body">
    <p class="modal__text text-center">
      <ng-content></ng-content>
    </p>
  </div>
  <div footer>
    <div class="wrap-btn text-center">
      <button type="button" class="btn btn-oval btn-oval_transparent not-shadow" (click)="cancel()">
        <span>{{ cancelText }}</span>
      </button>
      <button type="button" class="btn btn-oval btn-oval_orange" (click)="success()">
        <span>{{ applyText }}</span>
      </button>
    </div>
  </div>

</app-modal>
