<div class="filter-result filter-result--bg-grey">
  <span class="filter-result__name" *ngIf="name">{{ name }}</span>
  <span class="filter-result__value">{{ value }}</span>
  <button class="filter-result__clear" (click)="_remove()">
    <i class="icon icon-close"></i>
  </button>
</div>
