.filter-result {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding-left: 15px;
  //padding-right: 5px;
  border-radius: 20px;
  font-size: 0;
  white-space: nowrap;
  margin-bottom: 10px;
  min-height: 32px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: box-shadow .15s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  & > * {
    vertical-align: middle;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--bg-grey {
    background-color: #C4C4C4;
  }

  &__name {
    flex-shrink: 0;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(255, 255, 255, .6);
    margin-right: 10px;

    @media screen and (min-width: 992px) and (max-width: 1180px) {
      font-size: 12px;
    }

    //& + .filter-result__value {
    //  margin-left: 10px;
    //}
  }

  &__value {
    flex-grow: 1;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (min-width: 992px) and (max-width: 1180px) {
      white-space: nowrap;
      font-size: 12px;
      max-width: 180px;
    }
  }

  &__clear {
    background-color: transparent;
    border: none;
    padding: 11px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    right: 10px;

    i.icon {
      font-size: 10px;
      color: #2C2C2C;
      font-weight: 900;
    }

    &:hover {
      i.icon {
        color: rgba(44, 44, 44, 0.5);
      }
    }
  }

  @media screen and (max-width: 1180px) {
    white-space: normal;
  }
}
