<app-router-modal #modal size="md">

  <div header>
    <b>New Product</b>
  </div>

  <div class="modal__body">

    <form class="modal__form" [formGroup]="form" (submit)="submitForm()" onsubmit="return false">

      <div class="info-card">

        <div class="info-card__group">

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Name<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="name"></app-input-text>
            </div>
          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info align-self-start">
              <label class="info-card__text info-card__text--light-grey">Description<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-textarea formControlName="description"></app-textarea>
            </div>
          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info align-self-start">
              <label class="info-card__text info-card__text--light-grey">Short description<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-textarea formControlName="shortDescription"></app-textarea>
            </div>
          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Landing link<sup>*</sup></label>
            </div>

            <div class="info-card__description">
              <app-input-text formControlName="landingLink"></app-input-text>
            </div>
          </div>

          <div class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Status</label>
            </div>

            <div class="info-card__description">
              <ng-select [clearable]="false" formControlName="status">
                <ng-option [value]="PRODUCT_STATUS.ACTIVE">Active</ng-option>
                <ng-option [value]="PRODUCT_STATUS.INACTIVE">Inactive</ng-option>
              </ng-select>
              <validation-message [control]="form.controls['status']"></validation-message>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">

            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Type</label>
            </div>

            <div class="info-card__description">
              <ng-select [clearable]="false" formControlName="type">
                <ng-option [value]="PRODUCT_TYPE.SINGLE">Single</ng-option>
                <ng-option [value]="PRODUCT_TYPE.MODULE">Module</ng-option>
              </ng-select>
              <validation-message [control]="form.controls['type']"></validation-message>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex" *ngIf="isSingle">

            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Additional Products</label>
            </div>

            <div class="info-card__description">
              <app-multiple-products-select formControlName="additionalProducts"></app-multiple-products-select>
            </div>

          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Is new</label>
            </div>

            <div class="info-card__description">
              <app-checkbox formControlName="new"></app-checkbox>
            </div>
          </div>

          <div class="info-card__row info-card__row--flex">
            <div class="info-card__info">
              <label class="info-card__text info-card__text--light-grey">Coming soon</label>
            </div>

            <div class="info-card__description">
              <app-checkbox formControlName="comingSoon"></app-checkbox>
            </div>
          </div>

          <div formArrayName="productLimits" class="limits">

            <hr class="hr">

            <div class="info-card__row info-card__row--flex" style="height: 40px;">

              <div class="info-card__info">
                <label class="info-card__text info-card__text--light-grey">Product limit</label>
              </div>

              <!--<div class="info-card__description" *ngIf="!productLimits.controls.length">-->
                <!--<button type="button" class="btn btn-oval btn-oval_orange" (click)="addLimitToForm()">-->
                  <!--<span>Add limit</span>-->
                <!--</button>-->
                <!--<div *ngIf="form.controls['productLimits']">-->
                  <!--<validation-message [control]="form?.controls['productLimits']"></validation-message>-->
                <!--</div>-->
              <!--</div>-->

            </div>

            <div *ngFor="let limitForm of productLimits.controls; let i = index" [formGroupName]="i">

              <div class="info-card__row info-card__row--flex" style="height: 40px;">

                <div class="info-card__info">
                  <label class="info-card__text info-card__text--light-grey">Name</label>
                </div>

                <div class="info-card__description">
                  <app-product-limits-select
                    [initOnStart]="true"
                    formControlName="name">
                  </app-product-limits-select>

                  <!--<button type="button" class="remove-limit" (click)="removeLimitFromForm(i)">-->
                    <!--<i class="icon icon-bucket"></i>-->
                  <!--</button>-->

                </div>

              </div>

              <!--<div class="info-card__row info-card__row&#45;&#45;flex">-->

                <!--<div class="info-card__info">-->
                  <!--<label class="info-card__text info-card__text&#45;&#45;light-grey">Type</label>-->
                <!--</div>-->

                <!--<div class="info-card__description">-->
                  <!--<ng-select [clearable]="false" formControlName="type">-->
                    <!--<ng-option [value]="LIMIT_TYPES.MULTIPLE">Multiple</ng-option>-->
                    <!--<ng-option [value]="LIMIT_TYPES.UNLIMITED">Unlimited</ng-option>-->
                  <!--</ng-select>-->
                  <!--<validation-message [control]="limitForm.controls['type']"></validation-message>-->
                <!--</div>-->

              <!--</div>-->

              <div class="info-card__row info-card__row--flex">

                <div class="info-card__info">
                  <label class="info-card__text info-card__text--light-grey">Extra values</label>
                </div>

                <div class="info-card__description">
                  <app-tags-input [number]="true"
                                  [regexp]="REGEXPS.NUMERIC"
                                  formControlName="extras">
                  </app-tags-input>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </form>

    <div class="c-center">
      <validation-message [control]="form"></validation-message>
    </div>

    <loader [loading]="loading"></loader>

  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button class="btn btn-oval btn-oval_orange"
              [disabled]="loading"
              [ngClass]="{ disabled : loading }"
              (click)="submitForm()">
        <span>Create</span>
      </button>
    </div>
  </div>

</app-router-modal>
