<app-modal #modal [closable]="false">
  <div header>
    <b>Terms and conditions</b>
  </div>

  <div class="modal__body">
    <div class="terms-container">
      <h6>Pleace read the text</h6>
      <div class="terms-content">
        <ul class="terms-links">
          <li><a (click)="scrollTo('term-item-1')">Scope</a></li>
          <li><a (click)="scrollTo('term-item-2')">1.Terminology</a></li>
          <li><a (click)="scrollTo('term-item-3')">2. Project management</a></li>
          <li><a (click)="scrollTo('term-item-4')">3. Sending notifications</a></li>
          <li><a (click)="scrollTo('term-item-5')">4.Storage space</a></li>
          <li><a (click)="scrollTo('term-item-6')">5. Plug-ins</a></li>
          <li><a (click)="scrollTo('term-item-7')">6. Support</a></li>
          <li><a (click)="scrollTo('term-item-8')">7. Data Import</a></li>
          <li><a (click)="scrollTo('term-item-9')">8. Custom solutions</a></li>
          <li><a (click)="scrollTo('term-item-10')">9. Notification of new features</a></li>
          <li><a (click)="scrollTo('term-item-11')">10. Formation and modification of packages</a></li>
          <li><a (click)="scrollTo('term-item-12')">11. Error in data transmission</a></li>
          <li><a (click)="scrollTo('term-item-13')">12.Generation of periodic reports</a></li>
          <li><a (click)="scrollTo('term-item-14')">13. Documents</a></li>
          <li><a (click)="scrollTo('term-item-15')">14. Accounts</a></li>
          <li><a (click)="scrollTo('term-item-16')">15. Force Majeure</a></li>
        </ul>
        <div class="terms-shadow">
          <div class="terms-body">

            <h3 id="term-item-1">Scope</h3>
            <p>
              This Agreement is concluded between Orangear LLC, a legal entity incorporated under the laws of the state
              of Nevada, USA (“<b>Orangear</b>”, “<b>we</b>”, “<b>our</b>”)
              and Tenant (“<b>Tenant</b>”, “<b>you</b>”, “<b>your</b>”).
              This Agreement is an integral part of Terms of Use for products of Orangear
              (located at <a href="https://orangear.com/terms">https://orangear.com/terms</a>)
              and contains additional information regarding the rights
              and restrictions for your use of the Platform. Please, read carefully the mentioned Terms of Use
              and our Privacy Policy (located at: <a href="https://orangear.com/privacy">https://orangear.com/privacy</a>)
              in order to get the necessary understanding of our rules and policies regarding Platform. If you do not
              agree with any provision herein or in the mentioned Terms of Use and/or Privacy Policy – you should not
              use Orangear's products (including Platform).
            </p>

            <h3 id="term-item-2">1.Terminology</h3>
            <p>
              <b>Lease</b> - activities of the Tenant in the context of the Performance Marketing Platform, which result
              of
              subscription use (purchase of one of the tariff plans). The lease is limited by the calendar period and the
              volume of the tariff plan. Tenant, who leases Performance Marketing Platform, has no right to modify any
              software part, nor use it in any way not expressly allowed by the relevant Terms of Use, this SLA, and anу
              other applicable documents. Reverse engineering and other activities of the same kind are expressly
              prohibited.
            </p>
            <p>
              <b>Performance Marketing Platform/Platform</b> - software solution developed and owned by Orangear, which
              allows you to deploy a partner network and carry out affiliate marketing on the CPI, CPS, CPL, CPA models.
              Performance Marketing Platform is not designed to be used for any kind of video and audio promotion.
            </p>
            <p>
              <b>Plug-ins</b> - Orangear products that integrate with the Performance Marketing Platform. In particular,
              this includes the Checker, Antifraud, Business Intelligence, Uniqueclicks, Whitelabel and other products as
              applicable. Plug-ins are added additionally after payment for relevant Plug-in.
            </p>
            <p>
              <b>Products</b> - software solutions developed and owned by Orangear (including Platform and Plug-ins).
            </p>
            <p>
              <b>Tenant/you/your</b> - Orangear's client, who leases the Performance Marketing Platform and is engaged in
              commercial activities in the affiliate marketing industry.
            </p>

            <h3 id="term-item-3">2. Project management</h3>
            <p>Performance Marketing Platform is provided to Tennant on a prepayment basis.</p>
            <p>
              Tenant on his own determines his businesses (projects, companies, proprietary technologies, etc.) in which
              he uses/would use Orangear products. Neither we control such choices of the Tenant, nor we obliged to.
              Tenant solely bears full responsibility for fullness of rights, technical side (errors, compatibility,
              malfunctions, etc.), obtaining necessary intellectual property rights, licenses, permissions, etc. as
              necessary to use Orangear products together with his businesses (projects, companies, proprietary
              technologies, etc.) and for consequences of such use.
            </p>
            <p>
              We do not deploy Orangear products on Tenant’s servers and do not sell a license for our products to be used
              in any other way except as expressly permitted herein.
            </p>
            <p>
              If necessary, when Tenant starts integrating Orangear products, we can perform the setup and training of the
              Tenant's employees at the additional charge.
            </p>
            <p>
              It is forbidden to use scripts. Performance Marketing Platform does not support scripts and other
              executables that can be passed by API, forms and other elements.
            </p>
            <p>
              If Tenant has several projects (e.g. legal entity’s, companies, partnerships etc.), packages have to be
              bought for each of them separately.
            </p>
            <p>
              Tenant can either upgrade or downgrade a package. Any changes to the package are available in the upcoming
              month. Both downgrade and upgrade is provided without penalties.
            </p>

            <h3 id="term-item-4">3. Sending notifications</h3>
            <p>
              Sending notifications is carried out by using of the capacities of the Tenant. To make it possible to send,
              the Tenant must have its own mail server, the data of which is specified in the settings of the Performance
              Marketing Platform. The mail server limits apply to sending messages. Sending letters to publishers with a
              copy to the manager proportionately increases the spending limit. Orangear is not responsible for problems
              with sending notifications if they are caused by the incorrect operation of the mail server, incorrect
              settings of the mail server in the Performance Marketing Platform, going beyond the limit and other actions
              of third parties and the Tenant itself.
            </p>
            <p>
              If the Tenant chooses not to use the postal service, he is acquainted and agrees that it affects all
              email-related services including approval notifications, sending invoices, etc.
            </p>

            <h3 id="term-item-5">4.Storage space</h3>
            <p>
              Tariff plans assume allocation to the Tenant of a disk space for storage of files at a rate of 15GB. Tenant
              undertakes not to store files that violate the provisions of applicable laws and regulations (including, but
              not limited to: the CAN- SPAM Act of 2003, as amended from time to time (“CAN-SPAM”), Canada’s Anti-Spam
              Legislation, as amended from time to time (“CASL”), the Federal Trade Commission Act, the Federal
              Communications Act, the Telephone Consumer Protection Act, as amended from time to time (“TCPA”), and the
              Children Online Privacy Protection Act, as amended from time to time (“COPPA”); The California Electronic
              Communications Privacy Act, the General Data Protection Regulation (“GDPR”, Regulation (EU) 2016/679); as
              well as other false or deceptive or comparative advertising laws, gaming and gambling laws, competition
              laws, criminal laws, spamming, privacy, obscenity, or defamation etc.), represent a threat to national
              security, privacy, morality, minors, children, Platform, Products of Orangear or its reputation, software of
              any third parties or their reputation, etc., or contain adult or any harmful for children content.
            </p>
            <p>
              Orangear does not check the content Tenant stores in its storage and is not obliged to do so.
              Notwithstanding previously mentioned, Orangear reserves the right to do so at any time with or without
              cause. If you store any personal data (as defined by applicable laws or regulations) - you represent and
              warrant that you have all necessary rights and permissions for relevant use, transmission and storage of
              such data.
            </p>
            <p>
              Orangear has the right at any time without notice to clean (delete) the non-active data to insure the
              quality of services. Such non-active data includes, but in no way is limited to: offers in “pause” status,
              which hasn’t been reactivated for 6 month and more.
            </p>

            <h3 id="term-item-6">5. Plug-ins</h3>
            <p>
              You can add various Plug-ins to the platform, choosing the suitable volumes for each. Prices and conditions
              can be found at the respective Product pages.
            </p>
            <p>
              5.1. Whitelabel. You allow Orangear to modify your logo for the best integration into the system. You
              provide us with your own graphics and other materials (logo, texts, etc.) so that we can make "your
              platform" for you inside Performance Marketing Platform. Therefore, herein you give us your full permission
              (a limited, non-exclusive, royalty-free license) to use, modify, display, change, rework such graphics and
              other materials in any way necessary to fit into Orangear's vision of the Performance Marketing Platform at
              its absolute sole discretion.
            </p>
            <p>
              5.2. Checker. You acknowledge and agree that the platform displays results only for the last 3 days. If at
              the time of verification the required pair does not appear, the check can come empty. You can use the manual
              Checker option taking into account that manual checks are taken from the previously paid amount.
            </p>
            <p>
              5.3. Antifraud. You agree that in order to evaluate conversions you should use a third-party owned/developed
              solution that does not belong to the Orangear or to its ecosystem. You should be aware that this SLA, Terms
              of Use or Privacy Policy does not apply for such anti-fraud solutions, as they are subject to different
              terms of use provided by its developers/owners. You should carefully read and accept such third-party’s
              terms and conditions before using relevant solution with/integrating it to Performance Marketing Platform.
            </p>
            <p>
              Disclaimer: we are not a partnership, joint venture or agent with/of such third-parties providing antifraud
              solutions. You should solely decide which solution to use (taking into account the Platform limitations). We
              do not guarantee that any solution can be connected, and we do not guarantee the accuracy of the results
              from any antifraud solution (even if successfully integrated into Platform).
            </p>

            <h3 id="term-item-7">6. Support</h3>
            <p>
              Orangear provides its Tenants with several support options depending on the tariff plan you purchased.
            </p>
            <p>
              The response time of the support service can be up to 36 hours in business (banking) days; time zone is UTC
              +2.
            </p>
            <p>
              If there is a support option in your tariff plan, or you have an offer regarding modifications, improvements
              or a complaint regarding services, you can contact us from your personal account (Tenant’s cabinet) or by
              email to support@orangear.com
            </p>
            <p>
              Orangear does not provide support to Tenant’s partners (it's your business activities, your responsibility,
              your commercial secrets and risks), but the Tenant can use materials from
              <a href="https://orangear.zendesk.com/">https://orangear.zendesk.com/</a> to
              interact with his partners. Support for Tenants partners shall not be given regardless of the tariff plan
              you purchased.
            </p>

            <h3 id="term-item-8">7. Data Import</h3>
            <p>
              When importing data under a tenant's order, we receive and manage only those data that the tenant's service
              provides us with by an open API. If an API feed does not contain mandatory fields for the Performance
              Marketing Platform, the tenant will be required to add such information himself (the list of required fields
              is requested from the manager). If the format of data or format of transferring data provided by the
              tenant's service can influence (damage) the correctness of operation of the Performance Marketing Platform,
              we reserve the absolute right to cancel the import operation. We shall notify the tenant of such
              cancellation. Tenant himself carries all risks and responsibility to the service from which data is imported
              to the Performance Marketing Platform, and shall indemnify us regarding any claims form such tenant's
              service regarding import of such data.
            </p>

            <h3 id="term-item-9">8. Custom solutions</h3>
            <p>
              Implementation of custom features is not performed at the Tenant's request, however, the Resource Department
              has the right to consider the proposed and, if it finds it commercially feasible, to implement as an
              improvement. You acknowledge and agree that any ideas or proposals regarding changes or improvements of the
              Platform submitted to Orangear (no matter how: orally, through email, personal account, by comment on the
              Platform etc.) you free of charge give up all the moral, economic and any other rights to them and they are
              not an object of your intellectual property, but to the fullest extent permitted by law belongs to Orangear.
              Here you undertake to provide Orangear free of charge with all necessary help to obtain legal protection of
              any intellectual property rights arising in this way. If such a refusal in favor of Orangear as pointed
              herein is not permitted by the law, here you free of charge give to Orangear an irrevocable, royalty-free,
              transferable, worldwide, sub-licensable license for use (including commercial use of any kind) of such
              intellectual property.
            </p>

            <h3 id="term-item-10">9. Notification of new features</h3>
            <p>
              Tenants can get acquainted with new features in HelpCenter Orangear or ask a question to their manager. We
              do not send out dedicated notifications for new features in order not to overload Tenant's email.
              Notwithstanding the above, you acknowledge and agree that we reserve the right to send you relevant
              notifications if we consider notification important enough.
            </p>

            <h3 id="term-item-11">10. Formation and modification of packages</h3>
            <p>
              Orangear reserves the right to change the volume, content, and price of products and plug-ins at any time
              with or without notifications at its sole discretion. If the Tenant has already purchased the products, we
              inform him within a commercially reasonable time (taking into account that the price of third-party
              solutions may influence the price of our products). If Tenant does not use a product whose price or content
              has changed, he will learn about the changes by visiting the Orangear website or the Help Center.
            </p>

            <h3 id="term-item-12">11. Error in data transmission</h3>
            <p>
              Industry accepted error of 1.5-2% of the data may occur from time to time. By data, we mean clicks and
              conversions. To the maximum extent permitted by law, we disclaim all liability and responsibility for the
              inconsistency of the data within the designated limits, regardless of reason or legal theory such liability
              arises from.
            </p>
            <p>
              Also, discrepancies are possible due to the incorrect operation of partner’s servers, which may, for
              example, duplicate postbacks or, conversely, do not send them, do not count clicks for any of its
              parameters, etc. We interpret this as the responsibility of a third party and expressly disclaim all the
              responsibility for such discrepancies, faults, damages, loses, fees, claims, suits etc.
            </p>
            <p>
              You acknowledge that you use (rely on) any such results at your sole absolute risk without any guarantees,
              representations or warranties from us regarding its accuracy, fitness for any particular purpose,
              merchantability, non-infringement; and we shall not be held liable for any of damages, loses, fees, claims,
              suits connected with such results.
            </p>

            <h3 id="term-item-13">12.Generation of periodic reports</h3>
            <p>
              The generation of periodic reports (including invoices for the publisher) is made on the first day following
              the reporting period. This is done to more accurately fix the data within the reporting period.
            </p>

            <h3 id="term-item-14">13. Documents</h3>
            <p>
              Orangear does not provide legal support and is not responsible for relations between the Tenant and its
              partners. Within such relationships, we are a third-party software solution and you should not rely on us
              when making decisions regarding the conclusion of the relevant agreement or taking obligations of any kind.
            </p>

            <h3 id="term-item-15">14. Accounts</h3>
            <p>
              Tenant undertakes to ensure the security of accounts to enter into all products of the Orangear ecosystem,
              both their own and their employees. In the event of leakage of accounts due to the fault of the Tenant or
              persons associated with it, it shall be your sole responsibility to compensate the damages, loses etc. and
              we expressly disclaim any and all associated responsibility.
            </p>

            <h3 id="term-item-16">15. Force Majeure</h3>
            <p>
              Orangear shall be liable for any failure, delay or interruption in work of its products (including Platform
              and Plug-ins), provision of relevant services, providing results or documents, performing any term or
              condition as stated herein and in Terms of Use incorporated herein, due to cause(s) entirely beyond the
              control of Orangear. If force majeure event arises, we shall inform of such an event on our website or any
              other applicable way at our sole discretion as soon as possible. In the event of any such cause, the time
              for performance shall be extended for a period equal to the duration of such cause.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <loader [loading]="loading"></loader>

  <div footer>
    <div class="terms-footer">
      <app-checkbox [(ngModel)]="termsAccepted">
        I read it
      </app-checkbox>
      <button type="button"
              class="btn btn-oval btn-oval_orange"
              [disabled]="!termsAccepted"
              [ngClass]="{ disabled : !termsAccepted }"
              (click)="acceptTerms()">
        <span>Accept</span>
      </button>
    </div>
  </div>
</app-modal>
