.status-container {
  background-image: url("../../../../../assets/img/new/select-drop-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  position: relative;
  z-index: 2;

  &:before {
    content: "";
    position: absolute;
    top: -9px;
    left: -10px;
    right: -10px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    border: 1px solid #2C2C2C;
    border-bottom-color: #C4C4C4;
    background: #fff;
    z-index: -1;
    opacity: 0;
  }
}

.status-dropdown {
  position: absolute;
  top: 100%;
  left: -10px;
  right: -10px;
  border-radius: 0 0 20px 20px;
  border: 1px solid #2C2C2C;
  border-top: none;
  background: #fff;
  margin: 9px 0 0;
  padding: 0;
  display: none;
  z-index: 5;
  overflow: hidden;

  li {
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background: rgba(0,0,0,.1);
    }
  }
}

.status {
  position: relative;

  &.showed {

    .status-container {
      &:before {
        opacity: 1;
      }
    }

    .status-dropdown {
      display: block;
    }
  }
}

.icon {
  margin-top: 8px;
  margin-right: 10px;
}
