<span class="table-grid__text" *ngIf="invoice.isPaid">
  <i class="icon icon-status icon-status--green"></i>{{ "invoice.status.paid" | translate }}
</span>
<span class="table-grid__text" *ngIf="invoice.isCanceled">
  <i class="icon icon-status icon-status--red"></i>{{ "invoice.status.canceled" | translate }}
</span>
<span class="table-grid__text" *ngIf="invoice.isPending">
  <i class="icon icon-status icon-status--yellow"></i>{{ "invoice.status.pending" | translate }}
</span>

<div *ngIf="invoice.isNew || invoice.isUnpaid" class="status" [ngClass]="{ showed : showed }" (appClickOutside)="hide()">
  <div class="status-container" (click)="toggle()">
    <span class="table-grid__text" *ngIf="invoice.isPaid">
      <i class="icon icon-status icon-status--green"></i>{{ "invoice.status.paid" | translate }}
    </span>
    <span class="table-grid__text" *ngIf="invoice.isUnpaid">
      <i class="icon icon-status icon-status--yellow"></i>{{ "invoice.status.unpaid" | translate }}
    </span>
    <span class="table-grid__text" *ngIf="invoice.isNew">
      <i class="icon icon-status icon-status--grey"></i>{{ "invoice.status.new" | translate }}
    </span>
    <span class="table-grid__text" *ngIf="invoice.isPending">
      <i class="icon icon-status icon-status--yellow"></i>{{ "invoice.status.pending" | translate }}
    </span>
    <span class="table-grid__text" *ngIf="invoice.isCanceled">
      <i class="icon icon-status icon-status--red"></i>{{ "invoice.status.canceled" | translate }}
    </span>
  </div>
  <ul class="status-dropdown">
    <li *ngIf="invoice.isNew || invoice.isUnpaid" class="table-grid__text" (click)="toChange(INVOICE_STATUS.PAID)">
      <i class="icon icon-status icon-status--green"></i>{{ "invoice.status.paid" | translate }}
    </li>
    <li *ngIf="invoice.isNew" class="table-grid__text" (click)="toChange(INVOICE_STATUS.UNPAID)">
      <i class="icon icon-status icon-status--yellow"></i>{{ "invoice.status.unpaid" | translate }}
    </li>
    <li *ngIf="invoice.isNew || invoice.isUnpaid" class="table-grid__text" (click)="toChange(INVOICE_STATUS.CANCELED)">
      <i class="icon icon-status icon-status--red"></i>{{ "invoice.status.canceled" | translate }}
    </li>
  </ul>
</div>
