<app-modal [size]="size" #modal (onClose)="onClose()">
  <div header>
    <ng-content select="[header]"></ng-content>
  </div>
  <ng-content></ng-content>
  <div footer>
    <ng-content select="[footer]"></ng-content>
  </div>
</app-modal>
