<h2 class="auth__title">{{ "auth.reset.title" | translate }}</h2>
<p class="auth__text"></p>

<form action="" class="auth__form auth-form" [formGroup]="form" (submit)="reset()" onsubmit="return false">

  <div class="auth-form__group">
    <app-password formControlName="password"
                  [placeholder]="'base.placeholders.password' | translate">
      {{ "base.labels.your-password" | translate }}
    </app-password>
  </div>

  <div class="error">
    <validation-message [control]="form"></validation-message>
  </div>

  <!-- /.auth-form__group -->
  <div class="auth-form__group">
    <div class="auth-form__btn">
      <button type="submit" class="btn btn-oval btn-oval_orange">
        <span>{{ "base.submit" | translate }}</span>
      </button>
    </div>
  </div>
  <!-- /.auth-form__group -->
</form>

<loader [loading]="loading"></loader>
