<app-modal #modal size="md" customClass="profile-filled-modal" [header]="false" [footer]="false">
  <p>
    {{ "user-level.profile-filled.text1" | translate }}
    <a routerLink="/tenant/settings" (click)="modal.close()">
      {{ "user-level.profile-filled.text2" | translate }}
    </a><br/>
    {{ "user-level.profile-filled.text3" | translate }}
  </p>
</app-modal>
