.profile-filled-modal {

  .modal__content {
    max-width: 400px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 80px 0;

    a {
      color: #F8C616;
      text-decoration: underline;
    }
  }
}
