<div class="layers blocked_domains_page">

  <div class="layer layer-filter layer--flex">
    <div class="layer__right layer__filter">
      <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
    </div>
  </div>

  <form class="input-group input-group-with-label" [formGroup]="form" (submit)="addDomain()" onsubmit="return false">
    <app-input-text formControlName="domain">{{ "manager.domains.add" | translate }}</app-input-text>
    <button type="submit"
            class="btn btn-oval btn-oval_white"
            [disabled]="!form.value.domain"
            [ngClass]="{ disabled : !form.value.domain }">
      <i class="icon icon-plus icon--left"></i>
      <span>add</span>
    </button>
  </form>

  <div class="domain-container" *ngIf="list$ | async as pagination">

    <app-badge *ngFor="let item of pagination.items; trackBy : helpers.trackById"
               [value]="item.domain"
               (remove)="removeDomain(item.id)">
    </app-badge>

    <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
      <h5>{{ "base.no-items" | translate }}</h5>
    </div>

  </div>

</div>

<loader [loading]="loading"></loader>

<app-confirm #confirm>{{ "manager.domains.confirm-message" | translate }}</app-confirm>
