.blocked_domains_page {

  .filter__results {
    padding: 0;
  }

  app-badge {
    margin-right: 10px;
  }

  .input-group {
    margin-top: 20px;
    width: 500px;
  }

  .domain-container {
    margin-top: 30px;
  }

}

