.filter__results {
  padding-top: 0 !important;
}

.table-grid-manager-tenants {

  .table-grid__cell {
    &.cell-3 {
      flex: 1 0 calc(23.333% - 30px);
      max-width: calc(23.333% - 30px);
    }

    &.cell-4 {
      flex: 1 0 200px;
      max-width: 200px;
    }
  }

  .status {
    .icon-status {
      display: inline-block;
      vertical-align: middle;
      margin-top: 0;
    }

    .table-grid__text {
      display: inline;
    }
  }
}
