<div class="layers" id="manager-tenants">
  <div class="layer layer-filter layer--flex">

    <div class="layer__left layer__btn">
      <a class="btn btn-oval btn-oval_white" routerLink="/tenant/store" fragment="product-builder">
        <i class="icon icon-plus icon--left"></i>
        <span>{{ "base.add-new" | translate }}</span>
      </a>
    </div>
    <div class="layer__right layer__filter">

      <div class="filter filter--flex">
        <div class="filter__results">
          <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
        </div>
        <!--<div class="filter__calendar">-->
          <!--<app-range-datepicker [filter]="filter"></app-range-datepicker>-->
        <!--</div>-->

      </div>
    </div>
  </div>
  <div class="layer layer--flex">
    <div class="layer__left layer__table-filter"></div>

    <div class="layer__right relative">

      <div *ngIf="list$ | async as pagination">
        <div *ngIf="pagination.items.length">
          <div class="table-grid table-grid-manager-tenants">
            <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
              <div class="table-grid__row">
                <div class="table-grid__cell cell-1">
                  <span class="table-grid__text">{{ "tenant.projects.name" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">{{ "manager.projects.domain" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-3">
                  <!--<span class="table-grid__text">{{ "manager.projects.tenant" | translate }}</span>-->
                </div>
                <div class="table-grid__cell cell-4">
                  <span class="table-grid__text">{{ "tenant.projects.status" | translate }}</span>
                </div>
              </div>
              <!-- /.table-grid__row -->
            </div>

            <div class="table-grid__body">

              <div class="table-grid__row table-grid__row--hover" *ngFor="let project of pagination.items">

                <div class="table-grid__cell cell-1">
                  <a class="table-grid__text table-grid__link" (click)="showProjectInfo(project.id)">{{ project.name }}</a>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">{{ project.domain }}</span>
                </div>
                <div class="table-grid__cell cell-3">
                  <!--<span class="table-grid__text">{{ project.tenantId }}</span>-->
                </div>
                <div class="table-grid__cell cell-4">
                  <div class="status" *ngIf="project.isPending">
                    <i class="icon icon-status icon-status--red"></i>
                    <span class="table-grid__text">
                      {{ "project.status.pending" | translate }}
                    </span>
                  </div>
                  <div class="status" *ngIf="project.isActivated">
                    <i class="icon icon-status icon-status--green"></i>
                    <span class="table-grid__text">{{ "project.status.active" | translate }}</span>
                  </div>
                  <div class="status" *ngIf="project.isDeactivated">
                    <i class="icon icon-status icon-status--grey"></i>
                    <span class="table-grid__text">{{ "project.status.inactive" | translate }}</span>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <app-pagination
            [showed]="5"
            [filter]="filter"
            [pagination]="pagination">
          </app-pagination>
        </div>
        <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
          <h5>{{ "base.no-items" | translate }}</h5>
        </div>
      </div>

      <loader [loading]="loading"></loader>

    </div>

  </div>

</div>
