.add-plan {
  margin-top: 25px;
}

.limits .info-card__description {
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    width: 100%;
  }
}

.remove-limit {
  background: transparent;
  border: none;
  font-size: 15px;
  width: 40px;
  max-width: 40px;
  height: 40px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

.hr + .info-card__row {
  margin-bottom: 20px;
}
