.auth {

  &--successful {
    margin-top: 60px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: $Montserrat-bold-font;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2C2C2C;
  }

  &__text {
    font-family: $Montserrat-font;
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2C2C2C;

    & + .auth__form {
      margin-top: 40px;
    }
  }
}

.auth-form {
  &__cols {
    display: flex;

    & + .auth-form__btn {
      margin-top: 60px;
    }
  }
  &__col {
    flex: 1 0 50%;
    max-width: 50%;

    .auth-form__group {
      margin-left: 0;
      margin-right: 0;
    }

    &:first-child {
      padding-right: 60px;
      border-right: 1px solid #C4C4C4;

      .auth-form__group {
        margin-left: auto;
      }
    }

    &:last-child {
      padding-left: 60px;
    }
  }
  &__group {
    max-width: 300px;
    width: 100%;
    margin: auto;

    & + & {
      margin-top: 40px;
    }
  }
  &__row {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    .btn + .btn {
      margin-left: 40px;
    }
  }
  &__btn {
    text-align: center;
  }
}
