* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

html, body {
  height: 100%
}

body {
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  color: #2C2C2C;
  font-family: $Montserrat-font;
  overflow-x: hidden;
  opacity: 1;
  font-weight: 400
}

img {
  max-width: 100%;
  object-fit: cover;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  display: inline-block;
  border: 0;
  box-shadow: none;
  font-family: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::selection {
  color: #5460f1;
  background: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

p {
  margin-bottom: 0;
}

input::-ms-clear {
  display: none;
}