//@font-face {
//  font-family: 'Montserrat-Bold';
//  src: url('../fonts/Montserrat/Montserrat-bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Montserrat/Montserrat-bold/Montserrat-Bold.woff') format('woff'),
//  url('../fonts/Montserrat/Montserrat-bold/Montserrat-Bold.ttf') format('truetype'),
//  url('../fonts/Montserrat/Montserrat-bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Montserrat-Regular';
//  src: url('../fonts/Montserrat/Montserrat-regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Montserrat/Montserrat-regular/Montserrat-Regular.woff') format('woff'),
//  url('../fonts/Montserrat/Montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
//  url('../fonts/Montserrat/Montserrat-regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

$Montserrat-bold-font: 'Montserrat', sans-serif;
$Montserrat-font: 'Montserrat', sans-serif;

/* svg fonts */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/svg-fonts/icomoon.eot');
  src: url('../fonts/svg-fonts/icomoon.eot#iefix') format('embedded-opentype'),
  url('../fonts/svg-fonts/icomoon.ttf') format('truetype'),
  url('../fonts/svg-fonts/icomoon.woff') format('woff'),
  url('../fonts/svg-fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e910";
}

.icon-home:before {
  content: "\e90e";
}

.icon-setting:before {
  content: "\e90f";
}

.icon-close:before {
  content: "\e90c";
}

.icon-plus:before {
  content: "\e90d";
}

.icon-billing:before {
  content: "\e900";
}

.icon-bucket:before {
  content: "\e901";
}

.icon-calendar:before {
  content: "\e902";
}

.icon-download:before {
  content: "\e903";
}

.icon-edit:before {
  content: "\e904";
}

.icon-filter:before {
  content: "\e905";
}

.icon-mail-close:before {
  content: "\e906";
}

.icon-mail-open:before {
  content: "\e907";
}

.icon-select-drop-arrow:before {
  content: "\e908";
}

.icon-square-arrow:before {
  content: "\e909";
}

.icon-star:before {
  content: "\e90a";
}

.icon-success:before {
  content: "\e90b";
}

/* svg fonts end */
