@import "vars";

//.footer {
//	position : relative;
//	background-color: #2C2C2C;
//
//	&__copy {
//		font-family: $Montserrat-font;
//		font-style: normal;
//		font-weight: 300;
//		line-height: normal;
//		font-size: 14px;
//		letter-spacing: 0.05em;
//		text-transform: uppercase;
//		color: rgba(252, 252, 252, 0.5);
//		padding-right: 45px;
//	}
//
//	&__logo {
//		font-size: 0;
//	}
//
//	&__top {
//		padding-left: 30px;
//		padding-right: 30px;
//
//		&--flex {
//			display: flex;
//			justify-content: space-between;
//			align-items: center;
//		}
//	}
//
//	&__social {
//		text-align: center;
//
//		&-item {
//			display: inline-block;
//			margin: 0 17px;
//		}
//	}
//
//	&__content {
//		padding: 112px 0 35px;
//	}
//
//	&__decorator {
//		font-size: 0;
//		margin-top: -1px;
//	}
//}
//
//.footer__bottom {
//	text-align: center;
//	margin-top: 60px;
//	padding-left: 30px;
//	padding-right: 30px;
//
//	.footer__links-item {
//		font-family: $Montserrat-font;
//		font-style: normal;
//		font-weight: 300;
//		line-height: normal;
//		font-size: 14px;
//		letter-spacing: 0.05em;
//		text-decoration-line: underline;
//		text-transform: capitalize;
//		color: rgba(252, 252, 252, 0.5);
//		margin: 10px 30px;
//		transition: color .15s ease-in-out;
//
//		&:hover, &:active, &:focus {
//			color: rgba(#FCFCFC, .8);
//		}
//	}
//}


.footer {
	position : relative;
	background-color: #DEDEDE;

	&__copy {
		white-space: nowrap;
		font-family: $Montserrat-font;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		font-size: 14px;
		text-align: right;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #828282;
		margin-bottom: 15px;
	}

	&__logo {
		font-size: 0;
		margin: 0 15px 15px;

		svg {
			path {
				transition: fill .15s ease-in-out;
			}
		}
		&:hover {
			svg {
				path {
					fill: #F8C616;
				}
			}
		}
	}

	&__social {
		display: flex;
		align-items: center;
		font-size: 0;
		margin: 0 15px 15px;

		&-item {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 4vw;
			}
			svg {
				path {
					transition: fill .15s ease-in-out;
				}
			}
			&:hover {
				svg {
					path {
						fill: #F8C616;
					}
				}
			}
		}
	}

	&__container {
		padding: 50px 93px 35px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__links {
		margin: 0 15px 15px;

		&-item {
			font-family: $Montserrat-font;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			font-size: 14px;
			text-align: right;
			letter-spacing: 0.05em;
			text-decoration-line: underline;
			text-transform: capitalize;
			color: #828282;

			&:not(:last-child) {
				margin-right: 4vw;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}
