.wrap-btn {
	font-size: 0;

	& > button:not(:last-child) {
		margin-right: 10px;
	}
}
.btn {
  display: inline-block;
	cursor : pointer;

  &-icon-right {
    .icon {
      margin-left: 15px;
    }
  }

	&--grey {
		background-color : #dedede;
		border           : 1px solid rgba(0, 0, 0, 0.1);

		span {
			color : #c4c4c4;
			border-color: #c4c4c4;
		}
	}

	&-oval {
		font-size: 0;
		height: 40px;
		padding: 0 40px;
		border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow .15s ease-in-out;

		&.not-shadow {
			box-shadow: none;
		}

		& > * {
			vertical-align: middle;
		}

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2),
      inset 0 0 40px rgba(255, 255, 255, 0.4);

      span {
        color: #000;
      }

      i.icon-plus {
        color: #000;
      }
    }

    i.icon-plus {
			font-size: 12px;
			color: #2C2C2C;
			font-weight: 900;
    }

		i.icon-download {
			font-size: 14px;
		}

    i.icon-square-arrow {
      font-size: 11px;
    }

		span {
			font-family: $Montserrat-bold-font;
			font-style: normal;
			font-weight: 600;
			line-height: 40px;
			font-size: 14px;
			text-align: center;
			letter-spacing: 0.02em;
			text-transform: uppercase;
      color: #2C2C2C;
      transition: color .15s ease-in-out;
		}

    i.icon {
      transition: color .15s ease-in-out;

      &--right {
        margin-left: 11px;
      }

      &--left {
        margin-right: 11px;
      }
    }


		&_white {
			background-color: #FCFCFC;
      border-color: #DEDEDE;
		}

    &_orange {
      background-color: #F8C616;
      border-color: #F18D00;

			i.icon-plus {
				color: #fff !important;
			}
    }

    &_lilac {
      background-color: #6772E5;
      border-color: #0014E5;

      span, i.icon {
        color: #fff !important;
      }
    }

    &_grey {
      background-color: #C4C4C4;
      border-color: #000;
    }

		&_transparent {
			background-color: transparent;
			border-color: transparent;
		}

		&.disabled {
			background-color: #DEDEDE;
			border: 1px solid rgba(0, 0, 0, 0.1);
			box-shadow: none;

			span {
				color: #C4C4C4;
			}
		}

		&.loading {
			background-color: transparent;
			background-image: url('../../assets/img/new/btn-loading.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
			border: none;
			box-shadow: none;

			span {
				color: #DEDEDE;
			}
		}

		&.success {
			background-color: #FFFFFF;
			border: 1px solid #F8C616;
			box-shadow: inset 0 0 10px rgba(248, 198, 22, 0.5);

			span {
				color: #F8C616;
			}
		}
	}
}

.icon {
	display : inline-block;
  transition: color .15s ease-in-out;
}

.icon-status {
	width         : 8px;
	height        : 8px;
	border-radius : 50%;

	&--green {
		background-color : #0dbc00;
	}
	&--grey {
		background-color : #C4C4C4;
	}
	&--red {
		background-color : #FF6915;
	}
	&--yellow {
		background-color : #F8C616;
	}
}
.checkbox-custom-button {
	cursor        : pointer;
	display       : inline-flex;
	align-items   : center;
	border-radius : 20px;
	font-size     : 0;
	white-space   : nowrap;
	padding       : 6px 12px;
	user-select   : none;
	min-height    : 32px;
	margin        : 0;

	input[type="checkbox"] {
		visibility : hidden;
		opacity    : 0;
		height     : 0;
		position   : absolute;
		left       : -9999px;

		&:checked ~ i {
			color : #2c2c2c;
		}

		&:checked ~ span {
			color : #2c2c2c;
		}
	}

	span {
		font-family    : "Montserrat", sans-serif;
		font-style     : normal;
		font-weight    : 500;
		line-height    : 1;
		font-size      : 14px;
		letter-spacing : 0.02em;
		transition     : color .15s ease-in-out;
	}

	i.icon-edit {
		font-size : 12px;
		color     : #c4c4c4;
	}

	i {
		margin-left : 9px;
	}

	&--grey {
		background-color : #dedede;

		span {
			color : #828282;
		}
	}

	&:hover {
		span {
			color : #2c2c2c;
		}
		i {
			color : #2c2c2c;
		}
	}
}

.form-detail {
  font-size: 0;

  &--width-120 {
    width: 120px;
  }

  & + & {
    margin-top: 30px;
  }

  &.disabled {
    .form-detail__subtitle {
      color: #C4C4C4 !important;
    }
    .form-detail__control {
      color: #C4C4C4 !important;
      border-color: #C4C4C4 !important;
    }
  }

  &__subtitle {
    padding-left: 15px;
    padding-bottom: 5px;
    display: block;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #2C2C2C;

    .modal-form-detail-result & {
      padding-left: 0;
      padding-bottom: 15px;
      color: #828282;
    }
  }

  &__text {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #2C2C2C;

    .modal-form-detail-result & {
      text-align: left;
    }

    &--color-light-text {
      color: #C4C4C4;
    }
  }

  &__group {
    position: relative;

    &.custom-angle-textarea {
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        z-index: 1;
        background-image: url('../../assets/img/new/textarea-angle.svg');
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 80% 80%;
        height: 10px;
        width: 10px;
        pointer-events: none;
        cursor: pointer;
      }
    }
  }

  &__add-label {
    height: auto;
    min-height: 40px;

    .add-label {
      font-size: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      display: flex;
      align-items: center;

      button {
        background-color: transparent;
        border: none;
      }

      i.icon {
        color: #2C2C2C;
        font-size: 12px;

        .disabled & {
          color: #C4C4C4;
        }
      }
    }
  }

  &__control {
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-right: 27px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #2C2C2C;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #2C2C2C;
    text-overflow: ellipsis;
    overflow: hidden;

    &--with-show-password {
      padding-right: 40px;
    }

    &::placeholder {
      color: #C4C4C4;
      opacity: 1;
      transition: opacity .15s ease-in-out, text-indent .15s ease-in-out;
    }

    &.fade-placholder:focus + .form-detail__placeholder,
    &.fade-placholder.focus + .form-detail__placeholder {
      opacity: 0;
    }

    &.move-placholder:focus + .form-detail__placeholder,
    &.move-placholder.focus + .form-detail__placeholder {
      //bottom: calc(100% + 5px);
      transform: translateY(-150%) translateY(-10px);
      color: #2C2C2C;
    }

    &.fade-placholder.focus ~ .form-detail__clear,
    &.move-placholder.focus ~ .form-detail__clear {
      visibility: visible;
      opacity: 1;
    }

    &.text-indent-placholder:focus {
      &::placeholder {
        text-indent: -100%;      }
    }
  }

  &__currency {
    text-align: right;
    background-image: url(../../assets/img/new/dollar.svg);
    background-repeat: no-repeat;
    background-position: 12px 50%;
    background-size: 10px 18px;
    padding-left: 30px;
    padding-right: 10px;

    .constructor & {
      position: relative;
      right: -12px;
    }
  }

  &__show-password {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    border: none;
  }

  &__placeholder {
    z-index: 3;
    position: absolute;
    bottom: calc(50% - 7px);
    left: 15px;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 1px;
    color: #C4C4C4;
    pointer-events: none;
    transition:
        color 15s ease-in-out,
        opacity .15s ease-in-out,
        transform .15s ease-in-out;

    sup {
      position: relative;
      top: 2px;
      font-size: 16px;
      color: #FF6915;
      margin-left: 1px;
    }
  }

  &__switch {
    padding-left: 0;
    padding-right: 0;

    .switcher {
      height: 100%;
    }
  }

  &__clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
    background-color: transparent;
    border: none;
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility .15s ease-in-out,
        opacity .15s ease-in-out;

    i.icon-close {
      color: #C4C4C4;
      font-size: 10px;
    }

    &:hover {
      i.icon-close {
        color: #000;
      }
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;

    input[type=checkbox] {
      position: absolute;
      left: -9999px;
      visibility: hidden;
      opacity: 0;
      height: 0;

      &:checked {
        & + i {
          svg {
            top: 50%;
          }
        }
      }
    }
    i {
      position: relative;
      display: inline-flex;
      width: 14px;
      height: 14px;
      border: 1px solid #2C2C2C;
      border-radius: 2px;
      margin-right: 10px;
      overflow: hidden;

      svg {
        position: absolute;
        content: '';
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 10px;
        height: auto;
        transition: top .15s ease-in-out;
      }
    }
    span {
      font-family: $Montserrat-font;
      font-weight: 300;
      line-height: normal;
      font-size: 12px;
      letter-spacing: 0.02em;
      color: rgba(#2C2C2C, .5);
      user-select: none;
      cursor: pointer;

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

select {
  &.form-detail__control {
    display: block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../../assets/img/new/select-drop-arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 50%;
    background-size: 8px 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #2C2C2C;
    //color: #C4C4C4;

    .disabled & {
      background-image: url('../../assets/img/new/select-drop-arrow--grey.svg');
    }
  }
}

textarea {
  &.form-detail__control {
    height: auto;
    min-height: 80px;
    resize: vertical;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;

    & + .form-detail__placeholder {
      bottom: calc(100% - 28px);
    }
  }
}

.ps {
  position: relative;
}

.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.nowrap {
  white-space: nowrap !important;
}
