@import "vars";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #2c2c2c;
  border-bottom: 1px solid #f8c616;
  z-index: 100;
  transform: translate3d(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;

  &__container {
    position: relative;

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        flex-shrink: 0
      }
    }
  }

  &__right {
    display: flex;
    align-items: center
  }

  .btn-header-menu {
    margin-left: 20px
  }

  &__controls {
    font-size: 0;
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 50px
    }

    .btn {
      padding: 7px 10px;
      font-size: 14px;
      line-height: 1
    }

    .btn_accent {
      min-width: 126px
    }
  }

  &__logo {
    display: block;
    max-height: 50px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 0;
    white-space: nowrap;

    & > * {
      vertical-align: middle;
    }

    img {
      display: block
    }
    span {
      display: inline-block;
      margin-top: -1px;
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 15px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.5;
      margin-left: 12px;
    }
  }

  &__reg {
    font-size: 0;
    position: relative;
    background-color: transparent;
    border: none;
    min-width: 180px;

    &:hover {
      .header__drop {
        display: block;
      }
    }
  }

  &__manager {
    position: relative;
    z-index: 2;
    display: block;
    padding: 16px 20px;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fcfcfc;
    transition: color .15s ease-in-out;

    &:hover {
      color: #f8c616;
      text-decoration: none;
    }
  }

  &__drop {
    display: none;
    position: absolute;
    margin-bottom: 0;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
    background-color: #2c2c2c;
    padding-bottom: 10px;
    box-shadow: 0 0 30px #000, inset 0 0 30px rgba(255, 255, 255, .07);
    list-style: none;

    ul {
      li {
        a {
          font-family: $Montserrat-font;
          font-size: 14px;
          text-transform: capitalize;
          text-decoration: none;
          display: block;
          padding: 16px 20px;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 1px;
          color: #fcfcfc;
          text-overflow: ellipsis;
          overflow: hidden;
          transition: color .15s ease-in-out;

          &:hover {
            color: #f8c616;
          }
        }
      }
    }
  }

  &__signin, &__signout {
    vertical-align: middle;
    color: #fcfcfc;
    font-weight: 300;

    &:hover, &:active, &:focus {
      color: #f8c616
    }
  }

  &__signup {
    font-size: 14px
  }

  &-nav {
    &__container {
      min-height: 100%
    }

    &__list {
      display: flex;
      align-items: center;
      margin-bottom: 0
    }

    &__item {
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      padding: 0 30px
    }

    &__link {
      position: relative;
      z-index: 2;
      white-space: nowrap;
      font-weight: 300;
      line-height: normal;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fcfcfc;
      text-decoration: none !important;
      transition: color .15s ease-in-out;

      ._drop & {
        color: #f8c616
      }

      &:hover {
        color: #f8c616
      }
    }
  }

  .wrap-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .btn + .btn {
      margin-top: 20px
    }
  }

  .btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 100px;
    display: inline-block;
    text-transform: uppercase;
    transition: background-color .25s;

    &:focus, &:active, &:hover, &:active:focus {
      outline: none
    }

    &_accent {
      padding: 18px 27px;
      outline: none;
      text-decoration: none;
      vertical-align: top;
      box-sizing: border-box;
      background: #F8C616;
      border: 1px solid #E58D09;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 100px;
      color: #2C2C2C;
      transition: box-shadow .2s, background .2s, color .2s, border-color .2s;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), inset 0px 0px 40px rgba(255, 255, 255, 0.4);
        color: #2C2C2C
      }
    }

    &_lg {
      padding-left: 85px;
      padding-right: 85px
    }

    &--black {
      background: #F8C616;
      border-color: #fff;
      color: #fff;
      box-shadow: 0 15px 30px rgba(44, 44, 44, 0.2), inset 0 0 30px rgba(255, 255, 255, 0.3);

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), inset 0 0 40px rgba(255, 255, 255, 0.4);
        color: #fff
      }
    }

    &--white {
      background: #FCFCFC;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    }
  }
}
