.page {
  min-width: 768px;
  overflow-y: auto;

  .container {
    width: auto !important;
  }

  &--flex {
    display: flex;
    flex-direction: column;

    .main {
      flex-grow: 1;
    }

    .footer {
      flex-shrink: 0;
    }
  }

  &--bg-grey {
    background-color: #fcfcfc;
  }

  &--bg-grey {
    background-color: #ffffff;
  }

  &.open-modal {
    overflow: hidden;
  }
}

.main {
  position: relative;
  padding-top: 51px;

  .open-modal & {
    filter: blur(7px);
  }

  .page--radium-ad & {
    height: 1px;
    min-height: 835px;
  }
}

.database {
  padding-top: 61px;
  //padding-bottom : 61px;
  padding-bottom: 100px;

  .nav-menu {
    //padding: 0 40px;
    margin-bottom: 40px;
  }

  & > .container {
    width: 100%;
    max-width: 1396px;
    min-width: 768px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* .database */

/* .nav-menu */
.nav-menu {
  font-size: 0;
  white-space: nowrap;

  &--pad-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-menu__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__item {
    display: inline-flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-right: 60px;
    }

  }

  &__counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
    background-color: #F8C616;
    border-radius: 9px;
    padding: 2px 5px;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__link {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.04px;
    text-transform: uppercase;
    text-decoration: none;
    color: #c4c4c4;
    border: none !important;
    transition: color .15s ease-in-out;

    &:hover {
      color: #F8C616;

      i.icon {
        color: #F8C616;
      }
    }

    &.active {
      font-family: $Montserrat-bold-font;
      font-weight: 600;
      letter-spacing: 0.02px;
      color: #2c2c2c;

      i.icon {
        color: #2c2c2c;
      }
    }

    i.icon {
      display: block;
    }

    i.icon-home {
      font-size: 19px;
    }

    i.icon-setting {
      font-size: 20px;
    }

    @media screen and (max-width: 1180px) {
      font-size: 20px;
    }
  }
}

/* .nav-menuv end */

/* .table-grid */
.table-grid {
  display: flex;
  flex-direction: column;

  &__head {
    min-height: 67px;
    padding-top: 7px;
    padding-bottom: 7px;

    &--flex {
      display: flex;
      align-items: flex-end;

      & > * {
        width: 100%;
      }
    }

    &--bg-grey {
      background-color: #c4c4c4;
    }

    .table-grid__cell {
      font-size: 0;
    }

    .table-grid__text {
      font-weight: 500;
      color: rgba(#fff, .6);
      text-transform: uppercase;
    }

    .table-grid__row {
      align-items: flex-end;

      .table-grid__cell:last-child {

        .table-grid-tenant-billing & {
          padding-right: 20px;
        }
      }
    }
  }

  &__body {
    .table-grid__row {
      align-items: flex-start;
    }

    .table-grid__cell {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .table-grid__text {
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word;

      //:-ms-input-placeholder, :root & {
      //  display: inline-block;
      //}
      //
      //@supports (-ms-ime-align:auto) {
      //  display: inline-block;
      //}
    }
  }

  &__row {
    font-size: 0;
    display: flex;
    border: 1px solid transparent;
    transition: border-color, .15s ease-in-out, background-color .15s ease-in-out, font-weight .15s ease-in-out;

    //.table-grid__cell.cell-1 {
    //  padding-left: 30px;
    //}
    //
    //.table-grid__cell:last-child {
    //  padding-right: 30px;
    //}

    &--hover {
      border: 1px solid transparent;

      &:hover {
        background-color: #fff;
        border-color: #e5e5e5;
        font-weight: normal;
      }
    }

    &--new {
      background-color: #fff;
      border: 1px solid #F8C616 !important;
    }

    .table-grid__cell:first-child, .table-grid__cell.cell-1 {
      //padding-left: 40px;
      padding-left: 20px;
    }

    .table-grid__cell:last-child {
      //padding-right: 40px;
      padding-right: 20px;
    }

  }

  .table-grid__string {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .table-grid__string-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .extra-tool {
    display: none;

    &__btn {
      background-color: transparent;
      border: none;
      font-size: 0;

      & + .extra-tool__btn {
        margin-left: 20px;
      }

      i.icon {
        color: #C4C4C4;
      }

      i.icon-star {
        font-size: 15px;
      }

      i.icon-mail-open {
        font-size: 14px;
      }

      i.icon-bucket {
        font-size: 14px;
      }

      &:hover {
        i.icon {
          color: #F8C616;
        }
        i.icon-bucket {
          color: #FF6915;
        }
      }
    }
  }

  .edit-extra-tool {
    position: relative;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-left-color: #fff !important;
    font-weight: normal;

    .table-grid__cell {
      background-color: #fff;
    }

    .table-grid__cell--psevdo {
      visibility: visible;
      opacity: 1;
      right: 100%;

      @media screen and (max-width: 1180px) {
        padding-left: 8px;
        left: -10px;
        right: auto;
        z-index: 1;

        i.icon-star {
          font-size: 14px;
        }
      }
    }

    .extra-tool {
      padding: 5px 0;
      height: 100%;
      display: flex;
      align-items: center;

      & + .table-grid__text {
        display: none;
      }
    }
  }

  &__cell {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    &--flex {
      display: flex;

      .col-30 {
        flex: 1 0 30%;
        max-width: 30%;
        padding-right: 15px;
      }

      .col-70 {
        flex: 1 0 70%;
        max-width: 70%;
        padding-left: 15px;
      }
    }

    &--psevdo {
      background-color: #fff;
      border-left: 1px solid #e5e5e5;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      display: flex;
      align-items: center;
      padding-left: 17px;
      position: absolute;
      top: -1px;
      bottom: -1px;
      right: 0;
      transition: right .15s ease-in-out;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }

    .status {
      &--flex {
        display: flex;

        .icon-status {
          flex-shrink: 0;
        }
      }

      .icon-status {
        margin-top: 8px;
        margin-right: 10px;
      }

      .table-grid__text {
        display: block;
      }
    }

    /*start*/
    .table-grid-manager-tenants & {
      &.cell-1 {
        flex: 1 0 calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
      }

      &.cell-2 {
        flex: 1 0 calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
      }

      &.cell-3 {
        flex: 1 0 calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
      }

      &.cell-4 {
        flex: 1 0 90px;
        max-width: 90px;
      }
    }
    .table-grid-manager-billing & {
      &.cell-1 {
        flex: 1 0 150px;
        max-width: 150px;
      }

      &.cell-2 {
        flex: 1 0 calc(34% - 102px);
        max-width: calc(34% - 102px);
      }

      &.cell-3 {
        flex: 1 0 calc(22% - 66px);
        max-width: calc(22% - 66px);
      }

      &.cell-4 {
        flex: 1 0 calc(22% - 69px);
        max-width: calc(22% - 69px);
      }

      &.cell-5 {
        flex: 1 0 calc(22% - 68px);
        max-width: calc(22% - 68px);
      }

      &.cell-6 {
        flex: 1 0 155px;
        max-width: 155px;
      }
    }
    .table-grid-manager-mail & {
      &.cell-1 {
        flex: 1 0 25%;
        max-width: 25%;
      }

      &.cell-2 {
        flex: 1 1 calc(75% - 120px);
        max-width: calc(75% - 120px);
      }

      &.cell-3 {
        flex: 1 0 120px;
        max-width: 120px;
      }
    }

    .table-grid-tenant-home & {
      &.cell-1 {
        flex: 1 0 20%;
        max-width: 20%;
      }

      &.cell-2 {
        flex: 1 0 20%;
        max-width: 20%;
      }

      &.cell-3 {
        flex: 1 0 20%;
        max-width: 20%;
      }

      &.cell-4 {
        flex: 1 0 20%;
        max-width: 20%;
      }

      &.cell-5 {
        flex: 1 0 20%;
        max-width: 20%;
      }
    }
    .table-grid-tenant-billing & {
      &.cell-1 {
        flex: 1 0 150px;
        max-width: 150px;
      }

      &.cell-2 {
        flex: 1 0 calc(34% - 102px);
        max-width: calc(34% - 102px);

        .table-grid__text {
          display: block;
        }
      }

      &.cell-3 {
        flex: 1 0 calc(22% - 66px);
        max-width: calc(22% - 66px);

        .table-grid__text {
          display: block;
        }
      }

      &.cell-4 {
        flex: 1 0 calc(22% - 69px);
        max-width: calc(22% - 69px);
      }

      &.cell-5 {
        flex: 1 0 calc(22% - 68px);
        max-width: calc(22% - 68px);
      }

      &.cell-6 {
        flex: 1 0 155px;
        max-width: 155px;
      }
    }
    .table-grid-tenant-mail & {
      &.cell-1 {
        flex: 1 0 25%;
        max-width: 25%;
      }

      &.cell-2 {
        flex: 1 1 calc(75% - 120px);
        max-width: calc(75% - 120px);
      }

      &.cell-3 {
        flex: 1 0 120px;
        max-width: 120px;
      }
    }
    .table-grid-activity-log & {
      &.cell-1 {
        flex: 1 0 150px;
        max-width: 150px;
      }

      &.cell-2 {
        flex: 1 0 calc(25% - 57.5px);
        max-width: calc(25% - 57.5px);
      }

      &.cell-3 {
        flex: 1 0 calc(25% - 57.5px);
        max-width: calc(25% - 57.5px);
      }

      &.cell-4 {
        flex: 1 0 calc(20% - 46px);
        max-width: calc(20% - 46px);
      }

      &.cell-5 {
        flex: 1 0 calc(30% - 69px);
        max-width: calc(30% - 69px);

        a {
          text-decoration: underline;
        }
      }

      &.cell-6 {
        flex: 1 0 80px;
        max-width: 80px;
      }
    }

    .table-grid-supermanager-managers & {
      &.cell-1 {
        flex: 1 0 calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
      }

      &.cell-2 {
        flex: 1 0 calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
      }

      &.cell-3 {
        flex: 1 0 calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
      }

      &.cell-4 {
        flex: 1 0 90px;
        max-width: 90px;
      }
    }
    .table-grid-supermanager-tenants & {
      &.cell-1 {
        flex: 1 0 calc(25% - 25px);
        max-width: calc(25% - 25px);
      }

      &.cell-2 {
        flex: 1 0 calc(25% - 25px);
        max-width: calc(25% - 25px);
      }

      &.cell-3 {
        flex: 1 0 calc(25% - 25px);
        max-width: calc(25% - 25px);
      }

      &.cell-4 {
        flex: 1 0 calc(25% - 25px);
        max-width: calc(25% - 25px);
      }

      &.cell-5 {
        flex: 1 0 100px;
        max-width: 100px;
      }
    }
    .table-grid-supermanager-mail & {
      &.cell-1 {
        flex: 1 0 21%;
        max-width: 21%;
      }

      &.cell-2 {
        flex: 1 1 calc(79% - 120px);
        max-width: calc(79% - 120px);
      }

      &.cell-3 {
        flex: 1 0 120px;
        max-width: 120px;
      }
    }
    /*end*/

    /*start*/
    &.cell-1-1 {
      flex: 1 0 25%;
      max-width: 25%;
    }

    &.cell-1-2 {
      flex: 1 0 30%;
      max-width: 30%;
    }

    &.cell-1-3 {
      flex: 1 0 15%;
      max-width: 15%;
    }

    &.cell-1-4 {
      flex: 1 0 20%;
      max-width: 20%;
    }

    &.cell-1-5 {
      flex: 1 0 10%;
      max-width: 10%;
    }
    /*end*/

    /*start*/
    &.cell-2-1 {
      flex: 1 0 20%;
      max-width: 20%;
    }

    &.cell-2-2 {
      flex: 1 0 20%;
      max-width: 20%;
    }

    &.cell-2-3 {
      flex: 1 0 45%;
      max-width: 45%;
    }

    &.cell-2-4 {
      flex: 1 0 15%;
      max-width: 15%;
    }
    /*end*/

    .columns {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
    }

    .column {
      padding: 0 15px;

      .extra-tool {
        padding: 5px 0;
        display: block;

        &__btn {
          i.icon {
            color: #DEDEDE;

          }

          i.icon-billing {
            font-size: 16px;
          }

          i.icon-edit {
            font-size: 16px;
          }

          &:hover {
            color: #f8c616;

            i.icon {
              color: #F8C616;
            }
          }
        }
      }

      &-shrink {
        flex-shrink: 0;
      }

      &-grow {
        flex-grow: 1;
      }

      //&-links {
      //  & > *:not(:last-child) {
      //    margin-right: 20px;
      //  }
      //}
    }
  }

  &__text {
    vertical-align: middle;
    margin: 0;
    font-family: $Montserrat-font;
    font-style: normal;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #2c2c2c;

    &.hidden {
      display: none;
    }

    &--color-light-grey {
      color: #c4c4c4;
    }

    &--color-orange {
      color: #F8C616;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__link {
    transition: color .15s ease-in-out;

    &:not(:last-child) {
      margin-right: 5px;
    }

    //i.icon {
    //  color: #DEDEDE;
    //}
    //
    //i.icon-billing {
    //  font-size: 16px;
    //}
    //
    //i.icon-edit {
    //  font-size: 16px;
    //}

    &:hover {
      color: #f8c616;

      i.icon {
        color: #F8C616;
      }
    }
  }

  &__link-more {
    color: #c4c4c4;
    vertical-align: middle;
    text-decoration: underline;

    &:hover {
      color: #c4c4c4;
      text-decoration: none;
    }
  }

}

/* .table-grid end */

/* .m-productForm */
.m-form {

  & + & {
    margin-top: 60px;
  }

  .t-tab & {
    padding: 0 40px;
  }

  &__row {
    & + & {
      margin-top: 20px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    display: block;
  }

  .form-group {
    .t-tab & {
      max-width: 480px;
    }
  }

  .custom-form-control-placeholder {
    display: block;
    position: relative;
    margin-bottom: 0;

    .form-control {
      &:focus {
        & + .hint {
          opacity: 0;
        }
      }
    }

    .hint {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      z-index: 1;
      pointer-events: none;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: rgba(#c4c4c4, .5);
      transition: opacity .15s ease-in-out;

      sup {
        position: relative;
        top: 2px;
        font-size: 16px;
        color: #FF6915;
        margin-left: 1px;
      }
    }
  }

  .form-control {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fcfcfc;
    border: 1px solid #2c2c2c;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2c2c2c;

    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #c4c4c4;
      opacity: 0.5;
      transition: opacity .15s ease-in-out;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  .form-select {
    height: 40px;
    display: block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../../assets/img/new/select-drop-arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    background-size: 8px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  input.form-control {
    height: 40px;
  }

  textarea.form-control {
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__btn {
    box-sizing: border-box;
    border-radius: 40px;
    width: 140px;
    padding: 7px 12px;

    span {
      font-family: $Montserrat-bold-font;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__checkboxes--custom-buttons {
    font-size: 0;
  }

  &__checkbox-custom-button {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__btn-create {
    min-height: 32px;
    font-size: 0;

    & > * {
      vertical-align: middle;
    }

    i.icon-plus {
      font-size: 10px;
      color: #828282;
      font-weight: 600;

    }

    &:hover {
      i.icon-plus {
        color: #2c2c2c;
      }
    }
  }
}

.subtitle {
  font-family: $Montserrat-bold-font;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #2c2c2c;
}

.layer {
  & + & {
    margin-top: 20px;
  }

  &--flex {
    display: flex;

    .layer__left {
      flex: 0 0 180px;
      max-width: 180px;

      @media screen and (max-width: 1180px) {
        max-width: none;
      }
    }

    .layer__right {
      flex-grow: 1;
    }

    @media screen and (max-width: 1180px) {
      &:not(.layer-filter) {
        display: block;

        .layer__right {
          margin-top: 20px;
        }
      }
    }
  }

  .layer__left {
    position: relative;
    z-index: 1;
  }

  .layer__right {
    position: relative;
    z-index: 2;
  }

  &__btn {
    .btn-oval {
      padding-left: 15px;
      padding-right: 16px;
    }
  }

  &__pagination {
    margin-top: 50px;
  }
}

/* .m-productForm end */

/* filter */
.filter {
  &--flex {
    display: flex;

    .filter__btn {
      flex-shrink: 0;
    }

    .filter__results {
      flex-grow: 1;
    }

    .filter__calendar {
      flex-shrink: 0;
    }

    @media screen and (max-width: 991px) {
      .layer-filter & {
        flex-wrap: wrap;
      }
    }
  }

  &__btn {
    font-size: 0;
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background-color: #FCFCFC;
    border: 1px solid transparent;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out;

    & > * {
      vertical-align: middle;
    }

    &:hover, &.hover {
      border-color: #DEDEDE;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      span {
        color: #000;
      }

      i.icon-filter {
        color: #000;
      }
    }

    &.active {
      i.icon-filter {
        color: #F8C616;
      }
    }

    i.icon-filter {
      color: #2C2C2C;
      font-size: 16px;
      margin-right: 9px;
    }

    span {
      font-family: $Montserrat-bold-font;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #2C2C2C;
      transition: color .15s ease-in-out;
    }

    i.icon {
      transition: color .15s ease-in-out;

      &--right {
        margin-left: 11px;
      }

      &--left {
        margin-right: 11px;
      }
    }
  }

  &__results {
    font-size: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;

    /* filter-result */
    .filter-result {
      position: relative;
      display: inline-flex;
      align-items: center;
      vertical-align: top;
      padding-left: 15px;
      //padding-right: 5px;
      border-radius: 20px;
      font-size: 0;
      white-space: nowrap;
      margin-bottom: 10px;
      min-height: 32px;
      padding-right: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: box-shadow .15s ease-in-out;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      & > * {
        vertical-align: middle;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      &--bg-grey {
        background-color: #C4C4C4;
      }

      &__name {
        flex-shrink: 0;
        font-family: $Montserrat-font;
        font-style: normal;
        line-height: normal;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(255, 255, 255, .6);
        margin-right: 10px;

        @media screen and (min-width: 992px) and (max-width: 1180px) {
          font-size: 12px;
        }

        //& + .filter-result__value {
        //  margin-left: 10px;
        //}
      }

      &__value {
        flex-grow: 1;
        font-family: $Montserrat-font;
        font-style: normal;
        line-height: normal;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
        text-overflow: ellipsis;
        overflow: hidden;

        @media screen and (min-width: 992px) and (max-width: 1180px) {
          white-space: nowrap;
          font-size: 12px;
          max-width: 180px;
        }
      }

      &__clear {
        background-color: transparent;
        border: none;
        padding: 11px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        right: 10px;

        i.icon {
          font-size: 10px;
          color: #2C2C2C;
          font-weight: 900;
        }

        &:hover {
          i.icon {
            color: rgba(44, 44, 44, 0.5);
          }
        }
      }

      @media screen and (max-width: 1180px) {
        white-space: normal;
      }
    }
    /* filter-result end */

    @media screen and (max-width: 991px) {
      .layer-filter & {
        margin-top: 25px;
        margin-bottom: 15px;
        padding: 0;
      }
    }
  }

  &__calendar {

  }

  /* filter-calendar */
  &-calendar {

    &--flex {
      display: flex;
      align-items: center;
    }

    &__output {
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      color: #2C2C2C;

      & > * {
        vertical-align: middle;
      }

      span {
        display: inline-block;
        width: 113px;
        height: 40px;

        input {
          display: block;
          background-color: #ffffff;
          border: 1px solid #2C2C2C;
          border-radius: 20px;
          width: 100%;
          height: 100%;
          padding-left: 5px;
          padding-right: 5px;
          text-align: center;
          font-family: $Montserrat-font;
          transition: box-shadow .15s ease-in-out;

          //&:focus {
          //  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          //}
        }
      }
    }

    &__btn {
      margin-left: 10px;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #FCFCFC;
      border: 1px solid transparent;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

      i.icon-calendar {
        font-size: 17px;
        color: #C4C4C4;
      }

      &:hover, &.hover {
        border-color: #DEDEDE;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        i.icon-calendar {
          color: #F8C616;
        }
      }
    }
  }
  /* filter-calendar end */
}

/* filter end */

/* table filter */
.table-filter {

  & > *:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (max-width: 1180px) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  &__btn {
    position: relative;
    display: block;
    width: 128px;
    padding: 10px 20px 10px 0;
    background-color: transparent;
    border: none;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      left: -9999px;
      border-radius: 0 20px 20px 0;
      border: 1px solid #DEDEDE;
      z-index: 1;
      transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;

      @media screen and (max-width: 1180px) {
        left: 0;
        border-radius: 20px;
      }
    }

    &.hover {
      &::after {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), inset 0 0 40px rgba(255, 255, 255, 0.4);
      }
    }

    &:hover::after {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), inset 0 0 40px rgba(255, 255, 255, 0.4);
    }

    &.active {
      span {
        font-weight: 600;
      }

      &::after {
        background-color: #C4C4C4;
        box-shadow: none;
      }
    }

    span {
      position: relative;
      z-index: 2;
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: 300;
      line-height: 1;
      font-size: 14px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #000000;
    }

    @media screen and (max-width: 1180px) {
      display: inline-block;
      vertical-align: middle;
      padding: 10px 20px;
    }
  }

  @media screen and (max-width: 1180px) {
    font-size: 0;
  }
}

/* table filter end */

/* modal */
.modal {
  min-width: 768px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  &.show {
    display: block;
    overflow-y: auto;
  }

  &__dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 15px;
    overflow-y: auto;
  }

  &__content {
    width: 100%;
    max-width: 600px;
    background-color: #FCFCFC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0px 4px 30px rgba(0, 0, 0, 0.1);

    .modal-sm & {
      max-width: 340px;
    }

    .modal-md & {
      max-width: 600px;
    }

    .modal-lg & {
      max-width: 1122px;
    }
  }

  &__title {
    font-size: 0;

    & > * {
      vertical-align: middle;
    }

    i {
      margin-right: 10px;
    }

    i.icon-filter {
      font-size: 16px;
      color: #F8C616;
    }

    b {
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #2C2C2C;
    }

    span {
      margin-left: 10px;
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 1px;
      color: #2C2C2C;
    }
  }

  &__header {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #DEDEDE;

    .modal-p-40 & {
      padding: 20px 40px;
    }
  }

  &__body {
    position: relative;
    padding: 20px;
    background-color: #fff;

    .modal-p-40 & {
      padding: 20px 40px;
    }

    &.min-height-240 {
      min-height: 240px;
    }

    &.p-0 {
      padding: 0;
    }

    &--bg-grey {
      background-color: #FCFCFC;
    }
  }

  &__close {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
    background-color: transparent;
    border: none;
    font-size: 0;
    padding: 20px;

    .modal-p-40 & {
      right: 20px;
    }

    i.icon {
      font-size: 14px;
      color: #828282;
    }

    &:hover {
      i.icon {
        color: #000;
      }
    }
  }

  &__form {
    font-size: 0;

    &-column {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      font-size: 0;

      &:first-child {
        padding-right: 20px;
      }

      &:last-child {
        padding-left: 20px;
      }
    }
  }

  &__footer {
    background-color: #fff;
    border-top: 1px solid #C4C4C4;
    padding: 20px;

    .wrap-btn {
      display: flex;
      flex-wrap: wrap;

      .btn-save {
        margin-right: -150px;
      }
      .btn-download {
        margin-right: 0;
        margin-left: auto;

        .modal-form-detail-result & {
          margin-right: auto;
        }
      }
    }

    .btn {
      margin: auto;
    }

    .modal-p-40 & {
      padding: 20px 40px;
    }
  }

  &__text {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: #2C2C2C;

    &--color-light-text {
      color: #C4C4C4;
    }
  }
}

/* modal end */

/* constructor */
.constructor {
  max-width: 1180px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

  &__head {
    background-color: #FCFCFC;
    padding: 20px;
    padding-bottom: 10px;

    .modal-p-40 & {
      padding: 20px 40px 10px;
    }

    .columns-second-level:not(:last-child) {
      padding-right: 20px;
    }
  }

  &__main {
    padding: 20px;
    padding-bottom: 10px;

    .modal-p-40 & {
      padding: 20px 40px 10px;
    }

    .group-column {

      & + .group-column {
        margin-top: 40px;
      }

      &__row {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    .columns:not(:last-child){
      @media screen and (max-width: 1140px){
        border-bottom: 1px solid rgba(0,0,0,.05);
      }
    }
  }

  &__total {
    padding: 20px;
    background-color: #FCFCFC;

    .modal-p-40 & {
      padding: 20px 40px;
    }
  }

  &__footer {
    background-color: #fff;
    border-top: 1px solid #C4C4C4;
    padding: 20px;

    .modal-p-40 & {
      padding: 20px 40px 10px;
    }
  }

  .columns-second-level {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1180px){
      flex-wrap: wrap;

      //.modal-productForm-detail-result & {
      //  flex-wrap: nowrap;
      //}
    }

    .column {
      margin-bottom: 20px;

      .modal-form-detail-result & {
        margin-bottom: 5px;
      }
    }

    &.space-between {
      justify-content: space-between;
    }
  }

  .columns {

    &:first-child {
      .modal-form-detail-result & {
        align-items: flex-end;
      }
    }

    & + .columns {

    }

    &--flex {
      display: flex;
      align-items: center;

      .flex-shrink {
        flex-shrink: 0;
      }

      .flex-grow {
        flex-grow: 1;
      }

      .flex-basic-300 {
        flex-basis: 300px;

        .column {
          width: 100%;
        }
      }
      .flex-basic-250 {
        flex-basis: 250px;

        .column {
          width: 100%;
        }
      }

      .price {
        //flex: 1 1 300px;
        //max-width: 300px;
        //min-width: 120px;
        width: 300px;
      }
    }

    &.space-between {
      justify-content: space-between;
    }

    &.flex-end {
      justify-content: flex-end;
    }
  }

  .column {

    &:not(:last-child) {
      margin-right: 20px;
    }

    &-width-style-1 {
      flex: 1 0 300px;
      max-width: 300px;
      min-width: 120px;
    }
    &-width-style-2 {
      flex: 1 1 160px;
      //max-width: 160px;
      //min-width: 120px;
      min-width: 160px;
      max-width: 300px;
    }
    &-width-style-3 {
      //flex: 1 1 260px;
      flex: 1 1 220px;
      //max-width: 260px;
      //min-width: 120px;
      //min-width: 260px;
      min-width: 220px;
      max-width: 300px;
    }
  }
}

/* constructor end */

/* range */
.range {

  & + .range-output {
    margin-top: 20px;
  }

  &--flex {
    display: flex;

    .range__label {
      flex-shrink: 0;
    }

    .range__input {
      flex-grow: 1;
    }
  }

  &__label {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #2C2C2C;
    margin-right: 20px;
  }

  &__input {
    display: flex;
    align-items: center;

    input[type='range'] {
      width: 100%;
      display: block;
    }
  }

  &__control {
    display: block;
    width: 100%;
    padding-left: 13px;
    padding-right: 27px;
    height: 40px;
    border: 1px solid #2C2C2C;
    box-sizing: border-box;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #2C2C2C;
    box-shadow: none;
    background-color: #FCFCFC;
    background-image: url('../../assets/img/new/dollar.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    background-size: 10px 18px;
  }
}

.range-output {
  display: flex;
  justify-content: space-between;
  font-family: $Montserrat-font;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #2C2C2C;

  span {
    vertical-align: middle;

    &.start {
      flex: 1 0 45%;
      margin-right: 5px;
    }

    &.end {
      flex: 1 0 45%;
      margin-left: 5px;
    }
  }
}

.range-slider {
  display: block;
  width: 100%;

  &.noUi-target {
    background-color: #C4C4C4;
    border-radius: 4px;
    border: none;
    box-shadow: none;
  }

  &.noUi-horizontal {
    height: 2px;

    .noUi-handle {
      width: 12px;
      height: 24px;
      top: -12px;

      &.noUi-handle-lower {
        right: -6px !important;
      }

      &.noUi-handle-upper {
        right: -6px !important;
      }
    }
  }

  .noUi-connect {
    background-color: #2C2C2C;
  }

  .noUi-handle {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #2C2C2C;
    box-sizing: border-box;
    border-radius: 6px;

    &::after {
      display: none;
    }

    &::before {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 2px;
      height: 14px;
      background-color: #DEDEDE;
      box-shadow: 0px 9px 21px rgba(22, 32, 72, 0.15);
      border-radius: 4px;
    }
  }
}

/* range end */

/* switcher */
.switcher {
  display: flex;
  font-size: 0;
  border-radius: 20px;
  padding: 4px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;

    span {
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: 600;
      line-height: 1;
      font-size: 14px;
      text-transform: uppercase;
      color: #C4C4C4;
      user-select: none;
      transition: color .15s ease-in-out;
    }
  }

  label {
    display: block;
    vertical-align: middle;
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;

    input[type='radio'] {
      position: absolute;
      left: -9999px;
      height: 0;
      opacity: 0;
      visibility: hidden;

      &:checked {
        & + .switcher__btn {
          background-color: #F8C616;
          border-color: #F18D00;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 100px;

          span {
            color: #2C2C2C;
          }
        }
      }
    }
  }
}

/* switcher end */

/* multiSelect */
.multiSelect {
  position: relative;
  z-index: 2;

  &.form-detail__control {
    height: auto;
    min-height: 40px;
    padding-left: 4px;

    &.select-open {
      border-radius: 20px 20px 0 0;
    }
  }

  &__selection {

  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FCFCFC;
    border: 1px solid #2C2C2C;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;

    .select-open & {
      display: block;
    }
  }

  select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  .selection {

    &__container {
      padding-bottom: 4px;
    }

    &__rendered {
      font-size: 0;
      line-height: 1;
    }
    &__choice {
      display: inline-block;
      vertical-align: middle;
      background-color: #DEDEDE;
      border-radius: 20px;
      padding: 7px 12px;
      margin-top: 4px;
      font-size: 0;
      cursor: pointer;

      i.icon {
        margin-left: 10px;
      }

      i.icon-close {
        color: #C4C4C4;
        font-size: 8px;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      span {
        font-family: $Montserrat-font;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #828282;
      }

      i.icon {

      }
    }
  }

  .select-results {
    &__option {
      cursor: pointer;
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: normal;
      line-height: 40px;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: capitalize;
      color: #2C2C2C;
    }

    &__group {
      display: block;
      text-transform: uppercase;
      line-height: 1;
    }

    &__options {
      padding-top: 15px;
    }
  }
}

/* multiSelect end */

/* info-card */
.info-card {
  &__group {
    & + & {
      margin-top: 30px;
    }
  }

  &__row {

    & + & {
      margin-top: 20px; // 10px;
    }

    &--flex {
      display: flex;
      align-items: center;

      .info-card__info {
        flex-shrink: 0;
        flex-basis: 180px;
        max-width: 180px;
        padding-right: 30px;

        .modal-col-half & {
          flex: 1 0 50%;
          max-width: 50%;
        }

        &.align-self-start {
          align-self: flex-start;
          padding-top: 10px;
        }
      }

      .info-card__description {
        flex-grow: 1;

        .modal-col-half & {
          flex: 1 0 50%;
          max-width: 50%;
        }
      }
    }
  }

  &__description {
    p + p {
      margin-top: 20px;
    }

    .status {
      margin-top: 5px;
      font-size: 0;
      display: block;
      position: relative;

      i.icon {
        position: absolute;
        top: 5px;
        right: calc(100% + 10px);
      }
    }
  }

  &__text {
    display: block;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 1px;
    color: #2C2C2C;

    & + & {
      margin-top: 5px;
    }

    &--light-grey {
      color: #C4C4C4;
    }

    &--text-overflow {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .modal-form & {
      padding-left: 15px;
    }

    sup {
      font-size: 18px;
      color: #FF6915;
      top: 2px;
    }
  }

  &__link {
    transition: color .15s ease-in-out;

    &:hover {
      color: #F8C616;
    }
  }
}

/* info-card end */

/* pagination */
.pagination {
  display: flex;
  justify-content: center;

  &__btn {
    position: relative;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 50px;

    span {
      position: relative;
      z-index: 2;
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #2C2C2C;
      text-decoration: none;
    }

    svg {
      position: absolute;
      z-index: 1;
      width: calc(100%);
      height: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      .border {
        transition: stroke .15s ease-in-out;
      }
    }

    &:hover {
      .border {
        stroke: #2C2C2C;
      }
    }

    &.disabled {
      span {
        color: #C4C4C4;
      }

      .border {
        stroke: #E5E5E5;
      }
    }
  }

  &__next {
    span {
      padding-right: 15px;
    }
  }

  &__prev {
    svg {
      transform: rotate(180deg) translateY(50%);
    }

    span {
      padding-left: 15px;
    }
  }

  &__links {
    display: flex;
    margin: 0 2px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background-color: #FFFFFF;
      border: 1px solid #DEDEDE;
      transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
      font-family: $Montserrat-font;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #2C2C2C;
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 2px;
      }

      &:hover {
        border-color: #F8C616;
        background-color: #F8C616;
      }

      &.active {
        border-color: #2C2C2C;
        background-color: #fff;
        cursor: default;
      }
    }
  }
}

/* pagination end */

/* price */
.price {

  &__row {
    & + & {
      margin-top: 20px;
    }
  }

  &__group {

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price__text {
        flex: 0 0 90px;
      }

      .price__number {
        flex-grow: 1;
      }
    }
  }

  &__main {
    margin-bottom: 20px;
  }

  &__text {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    //text-align: right;
    letter-spacing: 0.02em;
    color: #2C2C2C;

    &--color-light-grey {
      color: #C4C4C4;
    }

    &--bold {
      font-weight: 900;
      color: #000;
    }
  }

  &__number {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.07em;
    color: #2C2C2C;

    &--bold {
      font-weight: 900;
      color: #000;
    }

    .disabled & {
      color: #C4C4C4;
    }
  }

  &__total {
    font-size: 24px;
  }
}

/* price end */

/* ban */
.ban {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C4C4C4;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;

  p {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 60px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
  }
}

/* ban end */

/* info-desk */
.info-desk {
  margin-top: 40px;

  p {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    opacity: 0.6;
  }

  &__row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__col {
    text-align: center;
    flex: 1 0 50%;
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px;

    .statistic, .view {
      padding-top: 20px;
      background-color: #C4C4C4;
      height: 300px;
    }
  }
}

/* info-desk end */

/* sec */
.sec {

  & + & {
    margin-top: 50px;
  }

  &__form {
    padding-left: 20px;
    max-width: 480px;
    width: 100%;

    textarea.form-detail__control {
      min-height: 130px;
    }
  }

  &-profile {
    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .sec-profile__info-card {
        flex-grow: 1;
      }

      .sec-profile__download {
        flex-shrink: 0;
        padding-right: 20px;

        @media screen and (max-width: 870px) {
          padding-top: 40px;
          text-align: center;
        }
      }

      @media screen and (max-width: 870px) {
        display: block;
      }
    }
  }

  &__title {
    display: block;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #2C2C2C;
    padding-left: 20px;
    margin-bottom: 30px;

    .page-tenants_setting & {
      padding-left: 20px;
    }
  }

  .info-card {
    .page-tenants_setting & {
      padding-left: 20px;
    }
  }

  .referral {
    .page-tenants_setting & {
      padding-left: 20px;
    }
  }
}

/* sec end */

/* accordion */
.accordion {

  &__panel {
    border: 1px solid transparent;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out, border-color .15s ease-in-out;

    &:hover {
      background-color: #FFFFFF;
      border-color: #E5E5E5;

      .accordion__head {
        i.icon {
          color: #2C2C2C;
        }
      }
    }

    &.active {
      border-color: transparent;
      background-color: #FFFFFF;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 30px rgba(0, 0, 0, 0.05);

      .accordion__head {
        i.icon {
          color: #2C2C2C;
          transform: rotate(180deg);
        }
      }
      //.accordion__body {
      //  display: block;
      //}
    }
  }

  &__head {
    padding: 18px 20px;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 14px;
    color: #2C2C2C;

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    i.icon {
      color: #C4C4C4;
    }

    i.icon-select-drop-arrow {
      font-size: 8px;
    }
  }

  &__body {
    overflow: hidden;
    max-height: 0;
    //display: none;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    color: #2C2C2C;
    transition: max-height .25s ease-in-out;

    & > div {
      padding: 8px 20px 18px 20px;
    }
  }
}

/* accordion end */

/* referral */
.referral {
  &__text {
    display: block;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #2C2C2C;

    &--light-grey {
      color: #C4C4C4;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__link {
    color: #F8C616;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__sec {
    & + & {
      margin-top: 40px;
    }
  }

  &-code {
    white-space: nowrap;

    & > * {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
    }

    &__text {
      padding-right: 65px;
    }

    &__value {
      padding-right: 49px;
    }

    &__btn {
      background-color: transparent;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      color: #F8C616;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__table {
    max-width: 650px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__total {
    p > * {
      vertical-align: middle;
    }

    .referral__result {
      margin-left: 50px;
      margin-right: 15px;
    }
  }

  &__result {
    display: inline-block;
    line-height: 1;
    background-color: #F8C616;
  }
}

//.r-table {
//  &__row {
//    font-size: 0;
//    white-space: nowrap;
//
//    & + & {
//      margin-top: 20px;
//    }
//  }
//
//  &__col {
//    display: inline-block;
//    vertical-align: top;
//    width: 50%;
//    margin-left: -10px;
//    margin-right: -10px;
//
//    &:first-child {
//      padding-right: 20px;
//    }
//
//    &:last-child {
//      padding-left: 20px;
//    }
//  }
//
//  &__cell {
//    display: inline-block;
//    vertical-align: top;
//    white-space: normal;
//    padding-left: 10px;
//    padding-right: 10px;
//
//    &:nth-child(1) {
//      width: 45%;
//    }
//
//    &:nth-child(2) {
//      width: 20%;
//    }
//
//    &:nth-child(3) {
//      width: 35%;
//    }
//  }
//}

.r-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  &__cell {

    padding: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

/* referral end */

/* article */
.articles {
  max-width: 1180px;

  &--flex {
    display: flex;
    justify-content: space-between;
  }
}

.article {
  display: block;
  max-width: 320px;
  padding: 20px;
  border: 1px solid transparent;
  position: relative;
  padding-bottom: 64px;
  transition: background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;

  &--grey {

    &:hover {
      background-color: #FFFFFF;
      border-color: #C4C4C4;
      box-shadow: 0 10px 20px rgba(196, 196, 196, 0.6), 0 6px 10px rgba(0, 0, 0, 0.05);

      .article__title {
        color: rgba(#2C2C2C, .6);
      }

      .article__link {
        color: #2C2C2C;
      }
    }
  }

  &--orange {

    &:hover {
      background-color: #FFFFFF;
      border-color: #F8C616;
      box-shadow: 0 10px 20px rgba(248, 198, 22, 0.3), 0 6px 10px rgba(0, 0, 0, 0.05);

      .article__title {
        color: #F8C616;
      }

      .article__link {
        color: #F8C616;
      }
    }
  }

  &--yellow {

    &:hover {
      background-color: #FFFFFF;
      border-color: #DBF816;
      box-shadow: 0 10px 20px rgba(219, 248, 22, 0.3), 0 6px 10px rgba(0, 0, 0, 0.05);

      .article__title {
        color: #DBF816;
      }

      .article__link {
        color: #DBF816;
      }
    }
  }

  &--light-grey {

    &:hover {
      background-color: #FFFFFF;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 4px 30px rgba(0, 0, 0, 0.05);

      .article__title {
        color: #2C2C2C;
      }

      .article__link {
        color: #F8C616;
      }
    }
  }

  &__head {
    min-height: 66px;
  }

  &__body {

  }

  &__footer {
    position: absolute;
    bottom: 0;
    height: 64px;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
  }

  &__title {
    display: block;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2C2C2C;
    transition: color .15s ease-in-out;
  }

  &__subtitle {
    display: block;
    margin-bottom: 18px;
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #2C2C2C;
    opacity: 0.6;
  }

  &__text {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #2C2C2C;
  }

  &__link {
    font-family: $Montserrat-font;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration-line: underline;
    color: #2C2C2C;
    transition: color .15s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* article end */

/* scrollbar */
.scrollbar {
  position: absolute;
  height: 100%;
  width: 40px;
  background-color: rgba(#2C2C2C, .06);
  transition: background-color .15s ease-in-out;
  z-index: 1;

  &:hover {
    background-color: rgba(#2C2C2C, .1);

    .scrollbar__btn {
      animation: pulse .7s ease 1 alternate;
    }
  }

  &__btn {
    position: absolute;
    left: 8px;
    bottom: 10vh;
    background-color: transparent;
    border: none;

    &:hover {
      i.icon-arrow-up {
        color: #F8C616;
      }
    }

    i.icon-arrow-up {
      font-size: 40px;
      color: #fff;
    }

    .fixed & {
      position: fixed;
    }
  }

  & + .database {
    padding-left: 25px;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30px);
  }
  45% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/* scrollbar end */

.sm-ban {
  background: url("../../assets/img/Logotype.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 350px;

  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 33px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2C2C2C;
  }

  &__text {
    font-family: "Montserrat-Regular", sans-serif;
    line-height: 1.2;
    font-size: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #2C2C2C;
  }

  &__btns {
    font-size: 0;
    text-align: center;
    padding-top: 65px;
  }

  &__btn {
    min-width: 200px;
    height: 55px;
    border-radius: 40px;

    & + & {
      margin-left: 25px;
    }
  }

  &__powered {
    padding: 150px 15px 40px;
    font-size: 13px;
    font-family: "Montserrat-Regular", sans-serif;
    color: #2C2C2C;
    line-height: 1.2;
    text-align: center;

    a {
      color: #F8C616;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
