@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px){
	//.footer {
	//	&__content {
	//		padding: 150px 0 75px;
	//	}
	//}
	
	.header {
		&-menu__item {
			padding-right: 40px
		}
	}
}

@media only screen and (max-width : 1200px) {
	
	//.footer {
	//	&__content {
	//		padding: 110px 0 55px;
	//	}
	//
	//	&__social-item {
	//		margin: 0 7px
	//	}
	//}
}
@media only screen and (max-width : 991px) {
	.footer {
		&__container {
			flex-direction: column;
		}
	//	&__social-item$ {
	//		margin: 0
	//	}
	}
}
