<div class="daterangepicker" #container>
  <div class="filter-calendar filter-calendar--flex">
    <div class="filter-calendar__output">
      <span>
        <div class="form-detail__control">{{ dateFrom }}</div>
      </span>
      -
      <span>
        <div class="form-detail__control">{{ dateTo }}</div>
      </span>
    </div>
    <button type="button"
            class="filter-calendar__btn"
            [ngClass]="{ hover : !isOpen }"
            (click)="togglePicker()">
      <i [ngClass]="{hidden : isOpen}" class="icon icon-calendar"></i>
      <i [ngClass]="{hidden : !isOpen}" class="icon icon-close"></i>
    </button>
  </div>
  <div class="owl-date-time-inline" [ngClass]="{ showed : isOpen }">
    <owl-date-time-inline #picker
                          [values]="values"
                          [selectMode]="'range'"
                          [pickerType]="'calendar'">
    </owl-date-time-inline>
    <div class="apply-btn">
      <button class="btn btn-oval btn-oval_orange" type="button" (click)="applyDates()">
        <span>Apply</span>
      </button>
    </div>
  </div>
</div>
