.filter-calendar {
  position: relative;
  z-index: 9999;
}

.filter-calendar__output {
  white-space: nowrap;
}

.form-item {
  input {
    height: 40px;
  }
}
.hidden-input {
  position: absolute;
  top: 100%;
  height: 0;
  border: none;
  opacity: 0;
}

.form-detail__control {
  padding-right: 0;
  white-space: nowrap;
}

.daterangepicker {
  position: relative;
  z-index: 9;
  background: #fff;
  width: 291px;
}

.owl-date-time-inline {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  border-top: 1px solid #C4C4C4;
  margin-top: 14px;

  &.showed {
    display: block;

    &:before {
      background: #fff;
      position: absolute;
      z-index: -1;
      content: "";
      top: -70px;
      left: -5px;
      right: -5px;
      bottom: 0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    }
  }
}

.icon-close {
  font-size: 12px;
}

.apply-btn {
  border-top: 1px solid #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hidden {
  display: none;
}
