.form-detail__control {
  padding: 3px 0 0 3px;
  line-height: 1;
  cursor: text;
  height: auto;
  min-height: 40px;
}

.tag-container {
  background: #DEDEDE !important;
  height: 32px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 0 15px 0 15px;
  margin-right: 3px;
  margin-bottom: 3px;
  letter-spacing: 0;
}

.tag-icon {
  margin-left: 5px;
  padding: 5px;
  cursor: pointer;
  margin-right: -5px;
}

.tag-input {
  background: #fff;
  border: none;
  height: 32px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-right: 3px;
  letter-spacing: 0;
}
