<div class="form-detail" [ngClass]="{ disabled : disabled }">
  <div class="form-detail__group">

    <span class="form-detail__subtitle" *ngIf="isStaticType">
      <ng-content></ng-content>
    </span>

    <label class="form-detail__control" [ngClass]="{ 'ng-invalid' : invalid, 'ng-touched': control.touched }">
      <div class="tag-container" *ngFor="let tag of value; let i=index">
        <div class="tag-content">{{ tag }}</div>
        <span class="tag-icon" (click)="removeByIndex(i)" *ngIf="!disabled">×</span>
      </div>
      <input
        *ngIf="!disabled"
        type="text"
        class="tag-input"
        (blur)="addTag(); markAsTouched()"
        (keyup.enter)="addTag()"
        (focus)="markAsTouched()"
        (keydown.backspace)="removeLastTag()"
        (keypress)="onKeyPress($event)"
        [(ngModel)]="current">
    </label>

    <span class="form-detail__placeholder" *ngIf="isMovedType">{{ placeholder }}</span>

  </div>

  <validation-message [control]="control"></validation-message>

</div>
