<div class="layers" id="manager-tenants">
  <div class="layer layer-filter layer--flex">

    <div class="layer__left layer__btn">
      <a class="btn btn-oval btn-oval_white" routerLink="/tenant/store" fragment="product-builder">
        <i class="icon icon-plus icon--left"></i>
        <span>{{ "tenant.invoice.new" | translate }}</span>
      </a>
    </div>
    <div class="layer__right layer__filter">
      <div class="filter filter--flex">
        <div class="filter__results">
          <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
        </div>
        <div class="filter__calendar">
          <app-range-datepicker [filter]="filter"></app-range-datepicker>
        </div>
      </div>
    </div>
  </div>

  <div class="layer layer--flex">
    <div class="layer__left layer__table-filter"></div>

    <div class="layer__right relative">

      <div *ngIf="list$ | async as pagination">
        <div *ngIf="pagination.items.length">
          <div class="table-grid table-grid-tenant-billing">
            <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
              <div class="table-grid__row">
                <div class="table-grid__cell cell-1">
                  <span class="table-grid__text">{{ "tenant.invoice.table.date" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">
                    {{ "tenant.invoice.table.project" | translate }}
                    <br>{{ "tenant.invoice.table.payer" | translate }}
                  </span>
                </div>
                <div class="table-grid__cell cell-3">
                  <span class="table-grid__text">
                    {{ "tenant.invoice.table.author" | translate }}
                  </span>
                </div>
                <div class="table-grid__cell cell-5">
                  <span class="table-grid__text">
                    {{ "tenant.invoice.table.amount" | translate }}
                  </span>
                </div>
                <div class="table-grid__cell cell-6">
                  <span class="table-grid__text">
                    {{ "tenant.invoice.table.status" | translate }}
                  </span>
                </div>
              </div>
            </div>

            <div class="table-grid__body">
              <div class="table-grid__row table-grid__row--hover"
                   *ngFor="let invoice of pagination.items">
                <div class="table-grid__cell cell-1">
                  <a class="table-grid__text table-grid__link" (click)="showBilling(invoice.id)">
                    {{ invoice.createdAt | date : 'MMM dd' }}
                  </a>
                </div>
                <div class="table-grid__cell cell-2">
                  <p>
                    <span class="table-grid__text table-grid__text--bold">{{ invoice.project.name }}</span>
                  </p>
                  <p>
                    <span class="table-grid__text table-grid__text--color-light-grey">{{ invoice.payer }}</span>
                  </p>
                </div>
                <div class="table-grid__cell cell-3">
                  <span class="table-grid__text">{{ invoice.manager.showName }}</span>
                </div>
                <div class="table-grid__cell cell-5">
                  <b class="table-grid__text table-grid__text--bold">{{ invoice.grandTotalAmount.amount }}</b>
                </div>
                <div class="table-grid__cell cell-6">
                  <div class="status status--flex">
                    <span class="table-grid__text" *ngIf="invoice.isPaid">
                      <i class="icon icon-status icon-status--green"></i> {{ "invoice.status.paid" | translate }}
                    </span>
                      <span class="table-grid__text" *ngIf="invoice.isUnpaid">
                      <i class="icon icon-status icon-status--yellow"></i> {{ "invoice.status.unpaid" | translate }}
                    </span>
                      <span class="table-grid__text" *ngIf="invoice.isNew">
                      <i class="icon icon-status icon-status--grey"></i> {{ "invoice.status.new" | translate }}
                    </span>
                      <span class="table-grid__text" *ngIf="invoice.isPending">
                      <i class="icon icon-status icon-status--yellow"></i> {{ "invoice.status.pending" | translate }}
                    </span>
                      <span class="table-grid__text" *ngIf="invoice.isCanceled">
                      <i class="icon icon-status icon-status--red"></i> {{ "invoice.status.canceled" | translate }}
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <app-pagination
            [showed]="5"
            [filter]="filter"
            [pagination]="pagination">
          </app-pagination>
        </div>
        <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
          <h5>{{ "base.no-items" | translate }}</h5>
        </div>
      </div>

      <loader [loading]="loading"></loader>

    </div>
  </div>
</div>
