<div class="layers">
  <div class="layer layer-filter layer--flex">

    <div class="layer__right layer__filter">
      <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
    </div>

  </div>

  <div class="layer layer--flex">

    <div class="layer__right relative">

      <div *ngIf="list$ | async as pagination">
        <div *ngIf="pagination.items.length">
          <div class="table-grid table-grid-manager-tenants">
            <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
              <div class="table-grid__row">
                <div class="table-grid__cell cell-1">
                  <span class="table-grid__text">{{ "manager.requests.table.date" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">{{ "manager.requests.table.tenant" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-3">
                  <span class="table-grid__text">
                    {{ "manager.requests.table.payer" | translate }}
                    <br>{{ "manager.requests.table.project" | translate }}
                  </span>
                </div>
                <div class="table-grid__cell cell-4">
                  <span class="table-grid__text"></span>
                </div>
                <div class="table-grid__cell cell-5">
                  <span class="table-grid__text">{{ "manager.requests.table.status" | translate }}</span>
                </div>
              </div>
              <!-- /.table-grid__row -->
            </div>

            <div class="table-grid__body">

              <div class="table-grid__row table-grid__row--hover"
                   *ngFor="let request of pagination.items"
                   [ngClass]="{ 'is-pending' : request.isPending }">

                <div class="table-grid__cell cell-1">
                  <a class="table-grid__text table-grid__link" (click)="showProjectRequestInfo(request.id)">
                    {{ request.createdAt | date : 'MMM dd' }}
                  </a>
                </div>
                <div class="table-grid__cell cell-2">
                <span class="table-grid__text">
                  {{ request.tenant.showName }}
                </span>
                </div>
                <div class="table-grid__cell cell-3">
                  <p><span class="table-grid__text">{{ request.payerName }}</span></p>
                  <p><span class="table-grid__text table-grid__text--color-light-grey">{{ request.project.name }}</span></p>
                </div>
                <div class="table-grid__cell cell-4">
                  <div class="columns">

                    <div class="column column-shrink">
                      <div class="extra-tool">
                        <button *ngIf="request.isPending"
                                class="btn btn-sm btn-oval btn-oval_white m-r-sm"
                                (click)="approveRequest(request)">
                          <span>{{ "manager.requests.approve" | translate }}</span>
                        </button>
                        <button *ngIf="request.isPending"
                                class="btn btn-sm btn-oval btn-oval_white"
                                (click)="declineRequest(request)">
                          <span>{{ "manager.requests.decline" | translate }}</span>
                        </button>
                        <button *ngIf="request.isActivated"
                                class="btn btn-sm btn-oval btn-oval_white"
                                (click)="makeInvoice(request)">
                          <span>{{ "manager.requests.generate-invoice" | translate }}</span>
                        </button>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="table-grid__cell cell-5">

                  <div class="status" *ngIf="request.isDeactivated">
                    <i class="icon icon-status icon-status--red"></i> <span class="table-grid__text">Declined</span>
                  </div>
                  <div class="status" *ngIf="request.isActivated">
                    <i class="icon icon-status icon-status--green"></i> <span class="table-grid__text">Approved</span>
                  </div>
                  <div class="status" *ngIf="request.isPending">
                    <i class="icon icon-status icon-status--grey"></i> <span class="table-grid__text">Pending</span>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <app-pagination
            [showed]="5"
            [filter]="filter"
            [pagination]="pagination">
          </app-pagination>
        </div>
        <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
          <h5>{{ "base.no-items" | translate }}</h5>
        </div>
      </div>

      <loader [loading]="loading"></loader>

    </div>

  </div>

</div>
