.m-r-sm {
  margin-right: 10px;
}

.table-grid-manager-tenants {
  .cell-1 {
    flex: 1 0 calc(20% - 30px);
    max-width: calc(20% - 30px);
  }

  .cell-2 {
    flex: 1 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
  }

  .cell-3 {
    flex: 1 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
  }

  .cell-4 {
    flex: 1 0 calc(28% - 30px);
    max-width: calc(28% - 30px);
  }

  .cell-5 {
    flex: 1 0 calc(12% - 30px);
    max-width: calc(12% - 30px);
  }

  .status {
    padding-top: 7px;
    .icon {
      vertical-align: top;
    }
    .table-grid__text {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.table-grid__row {
  &.is-pending {
    font-weight: 600;
  }
}
