.toast {
  padding-left: 20px !important;
  background-image: none !important;
  user-select: none;
  box-shadow: 0 0 3px 0 #3a3939 !important;
}

.toast-title {
  margin-bottom: 10px;
}

.toast-close-button {
  padding: 7px 5px;
}

.toast-title {
  font-size: 15px;
  margin-bottom: 0;
}

.toast-message {
  font-size: 13px;
  font-weight: 400 !important;
}

pre {
  margin-top: 5px;
  white-space: pre-line;
  font-family: "Montserrat";
  //line-height: 2;
}
