<div *ngIf="notification.id"
     class="toast toast-{{notification.type}}"
     style="width: 100%; !important;"
     (mouseenter)="clearTimeout()"
     (mouseleave)="setRemoveTimeout()">
  <div>
    <button type="button" class="toast-close-button" role="button" (click)="remove()">×</button>
    <div class="toast-title" *ngIf="notification.title">{{ notification.title }}</div>
    <div class="toast-message" *ngIf="notification.message">
      <pre>{{notification.message}}</pre>
    </div>
  </div>
</div>
