<section class="sec">

  <div class="sec__form m-form">

    <span class="sec__title">{{ "manager.mail.groups.title" | translate }}</span>

    <div class="m-form__row" *ngIf="(list | async) as pagination">
      <ng-container *ngIf="pagination?.items?.length">

        <div class="m-form__checkboxes--custom-buttons">

          <ng-container *ngFor="let item of pagination?.items">
            <div class="m-form__checkbox-custom-button" *ngIf="!item.default">
              <label class="checkbox-custom-button checkbox-custom-button--grey"
                     [class.checkbox-custom-button-checked]="isChecked(item.id)">
                <div (click)="toggleCheck(item.id)">
                  <span>{{ item.name }}</span>
                </div>
                <i class="icon icon-edit" (click)="showMailingGroupEdit(item.id, $event)"></i>
              </label>
            </div>
          </ng-container>

        </div>

        <span class="sec__title m-t-30">{{ "manager.mail.groups.title-default" | translate }}</span>

        <div class="m-form__checkboxes--custom-buttons">

          <ng-container *ngFor="let item of pagination?.items">
            <div class="m-form__checkbox-custom-button" *ngIf="item.default">
              <label class="checkbox-custom-button checkbox-custom-button--grey"
                     [class.checkbox-custom-button-checked]="isChecked(item.id)">
                <div (click)="toggleCheck(item.id)">
                  <span>{{ item.name }}</span>
                </div>
                <i class="icon icon-edit" (click)="showMailingGroupEdit(item.id, $event)"></i>
              </label>
            </div>
          </ng-container>

        </div>

      </ng-container>
    </div>

    <div class="m-form__row">
      <button (click)="showMailingGroupNew()" type="button" class="btn m-form__btn-create checkbox-custom-button checkbox-custom-button--grey">
        <span>{{ "manager.mail.groups.new" | translate }}</span>
        <i class="icon icon-plus"></i>
      </button>
    </div>

  </div>

</section>
