.sec__title {
  padding-left: 0;
}

.sec__form {
  padding-left: 0;
}

.checkbox-custom-button {
  border: 1px solid #dedede;
  label {
    cursor: pointer;
  }
}

.checkbox-custom-button-checked {
  background: #fff;
}

.m-t-30 {
  margin-top: 30px;
}
