<app-router-modal #modal size="md">

  <div header *ngIf="!group?.id">
    <b>{{ "popups.mail-groups.title" | translate }}</b>
  </div>

  <div header *ngIf="group?.id">
    <b>{{ "popups.mail-groups.title2" | translate }}</b>
    <span>{{ group.name }}</span>
  </div>

  <div class="modal__body">
    <form [formGroup]="form" onsubmit="return false" class="modal__form" (submit)="submitForm()">

      <div class="form-detail">
        <app-input-text formControlName="name">
          {{ "popups.mail-groups.name" | translate }}
        </app-input-text>
      </div>

      <div class="form-detail" *ngIf="!form.get('default').value">
        <app-subscribers-select
          formControlName="emails"
          [placeholder]="'popups.mail-groups.emails' | translate"
          [multiple]="true">
        </app-subscribers-select>
      </div>

      <div class="form-detail">
        <app-checkbox formControlName="default">
          {{ "popups.mail-groups.default" | translate }}
        </app-checkbox>
      </div>

    </form>
    <loader [loading]="loading"></loader>
  </div>

  <div footer>
    <div class="wrap-btn text-center">
      <button (click)="submitForm()"
              [disabled]="loading"
              [ngClass]="{ disabled : loading }"
              class="btn btn-oval btn-oval_orange">
        <span *ngIf="group?.id">{{ "base.save" | translate }}</span>
        <span *ngIf="!group?.id">{{ "base.create" | translate }}</span>
      </button>
    </div>
  </div>

</app-router-modal>
