<div class="layers" id="manager-tenants">
  <div class="layer layer-filter layer--flex">
    <div class="layer__left layer__btn" *hasPermission="[PERMISSIONS.MANAGE_TENANTS]">
      <button class="btn btn-oval btn-oval_white" (click)="showNewTenant()">
        <i class="icon icon-plus icon--left"></i>
        <span>{{ "base.add-new" | translate }}</span>
      </button>
    </div>
    <div class="layer__right layer__filter">
      <app-search [placeholder]="'base.search' | translate" [filter]="filter"></app-search>
    </div>
  </div>

  <div class="layer layer--flex">
    <div class="layer__left layer__table-filter" *hasPermission="[PERMISSIONS.MANAGE_TENANTS]"></div>

    <div class="layer__right relative">

      <div *ngIf="list$ | async as pagination">
        <div *ngIf="pagination.items.length">
          <div class="table-grid table-grid-manager-tenants">
            <div class="table-grid__head table-grid__head--flex table-grid__head--bg-grey">
              <div class="table-grid__row">
                <div class="table-grid__cell cell-1">
                  <span class="table-grid__text">{{ "manager.tenants.name" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-2">
                  <span class="table-grid__text">{{ "manager.tenants.projects" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-3">
                  <span class="table-grid__text">{{ "manager.tenants.comment" | translate }}</span>
                </div>
                <div class="table-grid__cell cell-4">
                  <span class="table-grid__text">{{ "manager.tenants.status" | translate }}</span>
                </div>
              </div>
              <!-- /.table-grid__row -->
            </div>

            <div class="table-grid__body">

              <div class="table-grid__row" *ngFor="let tenant of pagination.items; trackBy : helpers.trackById">

                <div class="table-grid__cell cell-1">
                  <a (click)="showTenant(tenant.id)" class="table-grid__text table-grid__link">{{ tenant.showName }}</a>
                </div>

                <div class="table-grid__cell cell-2">

                  <ng-container *ngIf="tenant.projects.length > 1 && !projectsShowed[tenant.id]">

                    <a class="table-grid__text table-grid__link" (click)="showProjectInfo(firstProject(tenant.projects).id)">
                      {{ firstProject(tenant.projects).name }} ...
                    </a>
                    <a class="table-grid__text table-grid__link-more" (click)="toggleProjects(tenant.id)">
                      {{ "manager.tenants.and" | translate }}
                      {{ projectHiddenCount(tenant.projects.length) }}
                      {{ "manager.tenants.more" | translate }}
                    </a>

                  </ng-container>

                  <ng-container *ngIf="tenant.projects.length <= 1 || projectsShowed[tenant.id]">

                    <ng-container *ngFor="let project of tenant.projects">
                      <a class="table-grid__text table-grid__link" (click)="showProjectInfo(project.id)">
                        {{ project.name }}
                      </a><br/>
                    </ng-container>

                    <ng-container *ngIf="tenant.projects.length > 1">
                      <a class="table-grid__text table-grid__link-more" (click)="toggleProjects(tenant.id)">
                        {{ "manager.tenants.less" | translate }}
                      </a>
                    </ng-container>

                  </ng-container>
                </div>

                <div class="table-grid__cell cell-3">
                  <div class="columns">

                    <div class="column column-grow">
                    <span class="table-grid__text table-grid__text--color-light-grey">
                      {{ tenant.notes }}
                    </span>
                    </div>

                    <div class="column column-shrink">
                      <div class="extra-tool">

                        <a class="extra-tool__btn" [routerLink]="['/manager', 'invoice']" [queryParams]="{ tenantId : tenant.id }">
                          <i class="icon icon-billing"></i>
                        </a>

                        <button type="button" class="extra-tool__btn" *hasPermission="[PERMISSIONS.MANAGE_TENANTS]" (click)="showEditTenant(tenant.id)">
                          <i class="icon icon-edit"></i>
                        </button>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="table-grid__cell cell-4">
                  <div class="status">
                    <i class="icon icon-status"
                       [ngClass]="{
                       'icon-status--green' : tenant.isActiveStatus,
                       'icon-status--yellow' : tenant.isPendingStatus,
                       'icon-status--grey' : tenant.isDeactivatedStatus,
                       'icon-status--red' : tenant.isSuspendedStatus
                     }">
                    </i>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <app-pagination
            [showed]="5"
            [filter]="filter"
            [pagination]="pagination">
          </app-pagination>
        </div>
        <div *ngIf="!pagination.items.length && !loading" class="no-items-found">
          <h5>{{ "base.no-items" | translate }}</h5>
        </div>
      </div>

      <loader [loading]="loading"></loader>

    </div>

  </div>

</div>
