<app-modal #projectModal size="sm" (onClose)="onClose()">
  <div header>
    <span>{{ "tenant.projects.new" | translate }}</span>
  </div>

  <form class="modal__body" onsubmit="return false" [formGroup]="form">
    <div class="modal__form">
      <div class="form-detail">
        <app-input-text
          formControlName="name"
          [placeholder]="'tenant.projects.name' | translate"
          [placeholderType]="PLACEHOLDER_TYPE.MOVE">
        </app-input-text>
      </div>
    </div>
  </form>

  <loader [loading]="loading"></loader>

  <div footer>
    <div class="wrap-btn text-center">
      <button type="button" class="btn btn-oval btn-oval_orange" (click)="submit()">
        <span>{{ "tenant.projects.save" | translate }}</span>
      </button>
    </div>
  </div>
</app-modal>
