<div class="form-detail">
  <div class="form-detail__group custom-angle-textarea">
    <div class="relative">
      <textarea class="form-detail__control {{ placeholderType }}"
                #area
                autosize
                [ngClass]="{focus : value }"
                [formControl]="control"
                [value]="value"
                [attr.maxlength]="maxlength"
                [placeholder]="isStaticType ? placeholder : ''"
                [disabled]="disabled ? true : null"
                (focus)="markAsTouched()"
                (keyup)="propagateChange($event.target.value)"></textarea>
      <validation-message [control]="control"></validation-message>
    </div>

    <!--<span class="form-detail__placeholder" *ngIf="placeholder && isMovedType">{{ placeholder }}</span>-->
  </div>

</div>
